<aside class="right-side" ng-init="getGoal()">
<div ng-if="showloader" >
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div>
<section class="content-header" ng-cloak>
  <h1>
      {{add_edit_goal_title}} {{STATE_PARAM.first_name + " " + STATE_PARAM.last_name}}
  </h1>
  <ol class="breadcrumb">
      <li><a href="/#/home"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li><a href="/#/goals">Goals</a></li> 
       <li>Add</li>                      
  </ol>
</section>

<!-- Main content -->
    <section class="content" ng-cloak>
        <div class="row">
            <div class="col-md-12">
                <form role="form" id="add_goals_form" name="add_goals_form" ng-submit="addGoals()">
                <div class="clearfix"> 
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <div class="box-body table-responsive">
                                      <div class="pull-right1"><small>All Fields marked with <span class="redsphere">*</span> are mandatory</small></div>
                                        <div class="box-body">
            <label for="recipient-name" class="control-label">Select Goal Type<span class="asterisk">*</span></label>
            <div class="form-group" ng-class="{'has-error': add_goals_form.selectedAction.$dirty && (add_goals_form.selectedAction.$error.required)}">
              <select class="form-control" name='selectedAction' id='selectedAction' ng-model="goals.goal_type" ng-options="opt.id as opt.title for opt in goalType" required>
                  <option value="">--Please Select--</option>
              </select>
              <label class="control-label" ng-show="add_goals_form.selectedAction.$dirty && add_goals_form.selectedAction.$error.required">Goal type is required.</label>
            </div>
            
            <label for="recipient-name" class="control-label">Select User Type<span class="asterisk">*</span></label>
            <div class="form-group" ng-class="{'has-error': add_goals_form.selectedActionType.$dirty && (add_goals_form.selectedActionType.$error.required)}">
              <select class="form-control" name='selectedActionType' id='selectedActionType' ng-model="goals.user_type" ng-options="opt1.id as opt1.type for opt1 in userType | orderBy:'type'" ng-click="getUserList(goals.user_type)" required ng-disabled="DisableUserTypeSelect">
                  <option value="">--Please Select--</option>
              </select>
              <label class="control-label" ng-show="add_goals_form.selectedActionType.$dirty && add_goals_form.selectedActionType.$error.required">User type is required.</label>
            </div>

            <label for="recipient-name" class="control-label">Select Patient/Caregiver<span class="asterisk">*</span></label>
            <div class="form-group" ng-class="{'has-error': add_goals_form.selectedActionPatient.$dirty && (add_goals_form.selectedActionPatient.$error.required)}">
              <select class="form-control" name='selectedActionPatient' id='selectedActionPatient' ng-model="goals.patient_id" ng-options="opt1.id as opt1.name for opt1 in patientDetails" ng-disabled="DisableSelect" required>
                  <option value="">--Please Select--</option>
              </select>
              <label class="control-label" ng-show="add_goals_form.selectedActionPatient.$dirty && add_goals_form.selectedActionPatient.$error.required">Patient/Caregiver name is required.</label>
            </div>

            <label for="message-text" class="control-label">Goal Title <span class="asterisk">*</span><span style="margin-left:15px;"><small class="normalFont">(30 character max)</small></span></label>
            <div class="form-group" ng-class="{'has-error': add_goals_form.goal_title.$dirty && (add_goals_form.goal_title.$error.required)}">
              <input type="text" class="form-control" placeholder="Enter Goal title" name="goal_title" ng-model="goals.goal_title" ng-maxlength="30" required>
              <label class="control-label" ng-show="add_goals_form.goal_title.$dirty && add_goals_form.goal_title.$error.required">Goal title is required.</label>
              <label class="control-label second-error" ng-show="add_goals_form.goal_title.$error.maxlength">Goal title's length can't be more than 30 characters.</label>
            </div>
            <label for="message-text" class="control-label">Goal Question 
            <span class="asterisk">*</span>
            <span style="margin-left:15px;"><small class="normalFont">(30 character max)</small></span></label>
            <div class="form-group" ng-class="{'has-error': add_goals_form.goal_question.$dirty && (add_goals_form.goal_question.$error.required)}">
      <input type="text" class="form-control" placeholder="Enter Goal question" ng-model="goals.goal_question" name="goal_question" ng-maxlength="30" required>
              <label class="control-label" ng-show="add_goals_form.goal_question.$dirty && add_goals_form.goal_question.$error.required">Goal question is required.</label>
              <label class="control-label second-error" ng-show="add_goals_form.goal_question.$error.maxlength">Goal question's length can't be more than 30 characters.</label>
            </div>

            </div>
              </div>
          </div><!-- /.box-->
          <div class="box-footer clearfix no-border">
              <button type="submit" class="btn m_lft5 btn-success pull-right" ng-disabled="add_goals_form.$invalid">Submit</button>
              <a type="button" class="btn btn-warning  pull-right" ng-click="goToBack()">Cancel</a>
          </div>
      </div>
  </div>
      
</div><!-- /.clearfix -->
          </form>
            </div>
        </div><!-- /.row -->
    </section><!-- /.content -->
</aside>