<aside class="right-side" ng-init="getAllGoals()">
<div ng-if="showloader" >
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div>
  <!-- Content Header (Page header) -->
    <section class="content-header" ng-cloak>
      <h1>Goals</h1>
      <ol class="breadcrumb">
        <li><a href="/#/home"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li>Goals</li>
      </ol>
    </section>
     <section class="content" ng-show="noGoals" ng-cloak>
        <div class="box-body table-responsive">
    <div class="box">
    <div class="box-body table-responsive">
        <div class="row scrollDisabled">
        
            <div class="col-xs-12">
                <div class="pull-left m_btm15">
                    <a href="/#/goals/add" title="Add Goals" align='right'  class="btn btn-primary btn-responsive">Add New Goal</a>
                </div>
            </div>
        </div>
        <div class="row scrollDisabled">
            <div class="col-xs-12">
                No goals are available. Please add new goals. 
            </div>
        </div>
         </div>
        </div>
        </div>
    </section>
    <!-- Main content -->
    <section class="content" ng-show="goalExists" ng-cloak>
      <div class="row">
        <div class="col-xs-12">
            <div class="box">

            <div class="box-body table-responsive">
            <div flash-message="5000"></div>
              <div class="clearfix">
                <div class="pull-left m_btm15"><a href="/#/goals/add" align='right' class="btn btn-primary btn-responsive">Add New Goal</a></div>
                <div class="clearfix"></div>
              </div>
              <!-- Filter Records on the basic of user type added by RaJesh -->
            <div class="row">
              <div class="col-md-5 col-lg-4">
                <div class="m_btm15">
                  Filter by User Type :
                  <select class="filterSelect" ng-model="filterItem.store" ng-options="item.name for item in filterOptions.stores" ng-change="filterGoal(filterItem.store)">
                  </select>
                </div>
              </div>
              <div class="col-md-7 col-lg-8">
                <div class="pull-right2">
                  <div class="legend-block custom_Legend_320px">
                    <span class="legend-label legendMargin">Legend:</span>
                    <span class="right">
                        <div class="legend-desc legendMargin"><i title="Edit Goals" class="blue-legends fa fa-edit"></i> Edit</div>
                        <div class="legend-desc legendMargin"><i title="Delete Goals" class="blue-legends fa fa-trash-o"></i> Delete</div>
                        <div class="legend-desc legendMargin"><img src='images/enable.png' border='0'> Active</div>
                        <div class="legend-desc legendMargin"><img src='images/disable.png' border='0'> Inactive</div>
                    </span>
                  </div >
                </div>
              </div>
            </div>

              <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible">
                  <colgroup>
                    <col width="5%"/>
                    <col width="5%"/>
                    <col width="8%"/>
                    <col width="27%"/>
                    <col width="20%"/>
                    <col width="15%"/>
                    <col width="20%"/>
                  </colgroup>
                
                <tr ng-repeat = "goals in $data">
                 <td data-title="'Select'" header="'headerCheckbox.html'">
                 <input type='checkbox' ng-model="checkboxes.items[goals._id]" ng-change="toggleSelection(goals._id)" /> 
                </td>
                 <td data-title="'#'" align="left">{{ ((tableParams.page()-1) * 10) + ($index + 1) }}.</td>
                 <td data-title="'Status'" align='left'>
                                        
                        <span ng-if="goals.is_status==true"><img src='images/enable.png' border='0'></span>
                        <span ng-if="goals.is_status==false"><img src='images/disable.png' border='0'></span>
                    </span>
                   
                </td>
                 
                  <td data-title="'Goal Title'"  align="left">{{goals.title}}</td>
                  <td data-title="'Goal Category'"  align="left">
                    <span ng-if="goals.goal_type_id == '1'">Next Session</span>
                    <span ng-if="goals.goal_type_id == '2'">Patient Midterm</span>
                    <span ng-if="goals.goal_type_id == '3'">Therapy</span>
                  </td>
                  <td data-title="'Patient Name'" sortable="first_name" align="left">{{goals.patient.first_name + " " + goals.patient.last_name}}</td>

                  <td data-title="'User Type'" sortable="first_name" align="left">
                    <span ng-if="goals.patient.user_type == 3" class="text-warning">Patient</span>
                    <span ng-if="goals.patient.user_type == 4" class="text-success">Caregiver</span>
                  </td>

              
                  <td class="actionicons" data-title="'Actions'" align="left">
                     <a href="/#/goals/edit/{{goals._id}}/{{goals.patient._id}}"><i title="Edit Goal" class="fa fa-edit"></i></a>&nbsp;&nbsp;&nbsp; 
                      <a ng-click="delGoal(goals._id,goals.title);" alt="Click to delete" title="Delete Goal"><i class="fa fa-trash-o"></i></a>&nbsp;&nbsp;&nbsp;
                  </td>
                </tr>
                <tr ng-show="errorMessageAvailable" ng-class="danger">
                  <td class="center" colspan="8">{{noDataMessage}}</td>
                </tr>
                <tr ng-hide="errorMessageAvailable">
                  <td colspan='8'>
                      <div class="form-group">
                          <select class="form-control selectedAction1" name='selectedAction' id='selectedAction'>
                              <option value="0">Select Status</option>
                              <option value="1">Active</option>
                              <option value="2">Inactive</option>
                          </select> &nbsp;&nbsp;&nbsp;

                          <input type='button' name='go' value='Go' class='btn btn-success' ng-click="performAction()">
                      </div>
                  </td>
              </tr>
             
              </table>
              
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
      </div>
    </section><!-- /.content -->
  </aside><!-- /.right-side -->
  <!-- page script -->
  <script type="text/ng-template" id="headerCheckbox.html">
    <input type="checkbox" data-ng-click="toggleSelection(0)" ng-model="checkboxes.checked" class="select-all" value="" />
  </script>
