<aside class="right-side" ng-init="checkQuestionnaires()">
    <section class="content-header">
        <h1>
            Questionnaire
        </h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/#/questionnaires">Questionnaire</a></li> 
             <li>Add</li>                      
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <form role="form" name="add_questionnaire_form" id="add_questionnaire_form" ng-submit="addQuestionnaire()">
                    <div class="clearfix">
                        <div class="row">
                            <div class="col-xs-12">
                                <div flash-message="5000"></div>
                                <div class="box">
                                    <div class="box-body table-responsive">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label>Questionnaire name</label>
                                            </div>
                                            <div class="form-group" ng-class="{'has-error': add_questionnaire_form.questionnaire_name.$dirty && (add_questionnaire_form.questionnaire_name.$error.required)}">
                                                <input type="text" name="questionnaire_name" class="form-control" ng-model="questionnaire.questionnaire_name" placeholder="Enter Questionnaire" required />
                                                <label class="control-label" ng-show="add_questionnaire_form.questionnaire_name.$dirty && add_questionnaire_form.questionnaire_name.$error.required">Questionnaire name is required.</label>
                                            </div>
                                            <div class="form-group">
                                                <label>Type <span ng-show="!is_basic" class="text-warning"> (Basic questionnaire already exists, choose from remaining.)</span> <!--<span class="required">*</span>--></label>
                                                <select ng-model="questionnaire.questionnaire_type" class="form-control">
                                                    <option value="0" ng-selected="true" ng-show="is_basic">Basic</option>
                                                    <option value="1">Follow up</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Status</label>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name='enable'  ng-model='questionnaire.enable' checked="{{enableChecked}}"/>
                                                        Enable
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.box-->
                                <div class="box-footer clearfix no-border">
                                    <a href="/#/questionnaires" class="btn m_lft5 btn-warning pull-right">Cancel</a>
                                    <button type="submit" class="btn m_lft5 btn-primary pull-right" ng-disabled="add_questionnaire_form.$invalid">Save</button>
                                </div>
                            </div>
                        </div>
                            
                    </div><!-- /.clearfix -->
                </form>
            </div>
        </div><!-- /.row -->
    </section><!-- /.content -->
</aside><!-- /.right-side -->