<aside class="right-side" ng-init="assign_questions()">
<!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
           Assign Questions to {{ques_quesnaire.name}}
        </h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Questionnaires</li>                       
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
            <div flash-message="5000"></div>
            <div class="box-body table-responsive">
                <div class="box">
                    <div class="box-body table-responsive">
                    <div class="clearfix"></div>
                    
                    <div class="col-lg-6 form-group">
                        <div class="row">
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <label>Search Question: </label>
                                </div>
                                <div class="form-group col-lg-8">
                                    <input class="form-control" type = "text" ng-model = "filterFields.name">
                                </div>
                            </div>
                        </div>
                        <angular-accordion>
                            <pane ng-repeat = "que in questionnair_ques  | filter: filterFields">
                                <pane-header>
                                    {{que.question}}
                                    <a href="javascript:void(0);" ng-click="selectQuestion(que._id);"><i class="fa fa-forward"></i></a>
                                </pane-header>
                                <pane-content>
                                    <ul class="que_ans">
                                        <li ng-repeat = "ans in que.answers">
                                            {{ans.answer_text}} ({{ans.answer_value}})
                                        </li>
                                    </ul>
                                </pane-content>
                            </pane>
                        </angular-accordion>
                    </div>
                    
                    <div class="col-lg-6 form-group">
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <label>Assigned Question </label>
                            </div>
                        </div>
                        <angular-accordion>
                            <pane ui-draggable="true" drag="selected_question" drag-channel="selques" drag-hover-class="bg-info"
                                    ui-on-Drop="onDrop($event,$data,$index)" drop-channel="selques"
                                    ng-repeat = "selected_question in selected_questions" >
                                <pane-header>{{selected_question.question}} <a href="javascript:void(0);" ng-click="unselectQuestion($index);"><i class="fa fa-backward"></i></a>
                                </pane-header>
                                <pane-content>
                                    <ul class="que_ans">
                                        <li ng-repeat = "ans in que.answers">
                                            {{ans.answer_text}} ({{ans.answer_value}})
                                        </li>
                                    </ul>
                                </pane-content>
                            </pane>
                        </angular-accordion>
                    </div>
                    
                    <div class="col-lg-12">
                        <div class="form-group" style="text-align:center">
                            <button class="btn btn-success" ng-click="assign_questions();" type="submit">Assign Questions</button>
                        </div>
                    </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>
    </section><!-- /.content -->
</aside><!-- /.right-side -->

<!-- page script -->
 <script type="text/ng-template" id="headerCheckbox.html">
        <input type="checkbox" ng-model="checkboxes.checked" data-ng-click="toggleSelectionForQuestionarie(0)" class="select-all" value="" />
</script>