 <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                       Questionnaire                       
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href="/#/questionnaire"><i class="fa fa-dashboard"></i> Questionnaire</a></li>
                        <li><a href="/#/categories/{{questionnaireID}}"><i class="fa fa-dashboard"></i> Categories</a></li>
                        <li>Select Questions</li>                       
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box-body table-responsive">
                                    <div class="box-title" >{{categoryname}}</div>   
                            
                            <div class="box">
                                
                                <!-- <div class="box-header">
                                    <h3 class="box-title">Data Table With Full Features</h3>
                                </div> -->
                                <div class="box-body table-responsive">
                                <!-- <div class="clearfix" style="padding-bottom:15px;">
                                 <div style="float:right;"><a href='/#/questions/add/{{questionnaireID}}' align='right' >Add New Question</a></div>
                               
                                <form name="searchForm" novalidate ng-submit="applyGlobalSearch()">
                                    <div class="input-group">
                                      <span class="input-group-addon">Except for...
                                        <input type="checkbox" name="inverted" ng-model="isInvertedSearch" />
                                      </span>
                                      <input type="text" class="form-control" placeholder="Search term" name="searchTerm" ng-model="globalSearchTerm" required />
                                      <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                          <span class="glyphicon glyphicon-search"></span>
                                      </button>
                                      </span>
                                    </div>
                              </form>
                              </div>            -->              

                           <form role="form">
                                  
                                    <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible"> 
                                      <colgroup>
                                              <col width="5%"/>
                                              <col width="5%"/>
                                              <col width="90%"/>
                                              <!-- <col width="10%"/> -->
                                            </colgroup>

                                            

                                            <tr ng-repeat = "questions in $data">
                                                <td header="'headerCheckbox.html'"><input type='checkbox' ng-model="checkboxes.items[questions._id]" value="{{questions._id}}" /></td>
                                                <td data-title="'Status'" sortable="'enable'" align='left'><div ng-if="questions.enable==true"><img src='images/enable.png' border='0'></div><div ng-if="questions.enable==false"><img src='images/disable.png' border='0'></div></td>

                                                <td data-title="'Question'" sortable="'questions'" filter="{questions:'text'}" align="left"><a href="/#/questions/editquestion/{{questions._id}}" alt="Click to edit" title="Click to edit">{{questions.question}}</a></td>


                                                <!-- <td data-title="'Action'"  align="left"><a href='#' ng-click("Hello")  alt="View Dependecy Question(s)" title = "View Dependency Question(s)"><span class="glyphicon glyphicon-th-list"></span></a>&nbsp;<a href='/#/questions/adddependency/{{questions._id}}' alt="Add Dependency Question" title = "Add Dependency Question"><span class="glyphicon glyphicon-plus"></span></a></td> -->

                                                
                                            </tr>
                                            <!-- <tr>
                                                <td colspan='2'>
                                                    
                                                    <div class="form-group">
                                                                <select class="form-control" name='selectAction' id='selectAction'>
                                                                <option value="">Select</option>
                                                                <option value="enable">Enable</option>
                                                                <option value="disable">Disable</option>
                                                                <option value="delete">Delete</option>
                                                            </select> 
                                                    </div>
                                                </td>
                                                <td colspan='3'><input type='button' name='go' value='Go' class='btn btn-primary' ng-click="performAction()"></td>
                                                </form>
                                            </tr>   -->
                                    </table>   

                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div>

                </section><!-- /.content -->
            </aside><!-- /.right-side -->


            <!-- page script -->
         <script type="text/ng-template" id="headerCheckbox.html">
                <input type="checkbox" ng-model="checkboxes.checked" class="select-all" value="" />
            </script>
               