<aside class="right-side" ng-init="getAllQuestionnarire()">
<!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
           Questionnaires
        </h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Questionnaires</li>                       
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div flash-message="5000"></div>
                <div class="box-body table-responsive">
                    <div class="box">
                                <!-- <div class="box-header">
                                    <h3 class="box-title">Data Table With Full Features</h3>
                                </div> -->
                                <div class="box-body table-responsive">
                                <div class="clearfix">
                                 <div class="pull-left m_btm15"><a href='/#/questionnaires/add' align='right'  class="btn btn-primary">Add New Questionnaire</a></div>
                                 <div class="clearfix"></div>
                               
                                    <!--<form name="searchForm" novalidate ng-submit="applyGlobalSearch()">
                                        <div class="input-group m_btm15">
                                          <span class="input-group-addon">Except for...
                                            <input type="checkbox" name="inverted" ng-model="isInvertedSearch" />
                                          </span>
                                          <input type="text" class="form-control" placeholder="Search term" name="searchTerm" ng-model="globalSearchTerm" required />
                                          <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit">
                                              <span class="glyphicon glyphicon-search"></span>
                                          </button>
                                          </span>
                                        </div>
                                    </form>-->
                              </div>                         

                <form role="form">
                    <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible"> 
                    <colgroup>
                        <col width="5%"/>
                        <col width="5%"/>
                        <col width="20%"/> 
                        <col width="60%"/>
                        <col width="10%"/> 
                    </colgroup>
                    <!--<tr>
                        <td><input type='checkbox' ng-model="checkboxes.items[questionnaire._id]" ng-change="toggleSelectionForQuestionarie(questionnaire._id)" /></td>
                        <td align='left'>
                            <div><img src='images/enable.png' border='0'></div>
                        </td>
                        <td align="left">Basic Questionnaire 1</td>
                        <td align="left">
                            <a href="/#/questionnaires/edit/{{questionnaire._id}}" alt="Click to edit" title="Click to edit"><i class="fa fa-pencil"></i></a>&nbsp;<a href="/#/questionnaires/delete/{{questionnaire._id}}" alt="Click to delete" title="Click to delete"><i class="fa fa-times"></i></a>&nbsp;
                            <a href="/#/questionnaires/assign/{{questionnaire._id}}" alt="Click to assign questions" title="Click to assign questions"><i class="fa fa-question"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><input type='checkbox' ng-model="checkboxes.items[questionnaire._id]" ng-change="toggleSelectionForQuestionarie(questionnaire._id)" /></td>
                        <td align='left'>
                            <div><img src='images/disable.png' border='0'></div>
                        </td>
                        <td align="left">Basic Questionnaire 2</td>
                        <td align="left">
                            <a href="/#/questionnaires/edit/{{questionnaire._id}}" alt="Click to edit" title="Click to edit"><i class="fa fa-pencil"></i></a>&nbsp;<a href="/#/questionnaires/delete/{{questionnaire._id}}" alt="Click to delete" title="Click to delete"><i class="fa fa-times"></i></a>&nbsp;
                            <a href="/#/questionnaires/assign/{{questionnaire._id}}" alt="Click to assign questions" title="Click to assign questions"><i class="fa fa-question"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><input type='checkbox' ng-model="checkboxes.items[questionnaire._id]" ng-change="toggleSelectionForQuestionarie(questionnaire._id)" /></td>
                        <td align='left'>
                            <div><img src='images/enable.png' border='0'></div>
                        </td>
                        <td align="left">Basic Questionnaire 3</td>
                        <td align="left">
                            <a href="/#/questionnaires/edit/{{questionnaire._id}}" alt="Click to edit" title="Click to edit"><i class="fa fa-pencil"></i></a>&nbsp;<a href="/#/questionnaires/delete/{{questionnaire._id}}" alt="Click to delete" title="Click to delete"><i class="fa fa-times"></i></a>&nbsp;
                            <a href="/#/questionnaires/assign/{{questionnaire._id}}" alt="Click to assign questions" title="Click to assign questions"><i class="fa fa-question"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><input type='checkbox' ng-model="checkboxes.items[questionnaire._id]" ng-change="toggleSelectionForQuestionarie(questionnaire._id)" /></td>
                        <td align='left'>
                            <div><img src='images/enable.png' border='0'></div>
                        </td>
                        <td align="left">Basic Questionnaire 4</td>
                        <td align="left">
                            <a href="/#/questionnaires/edit/{{questionnaire._id}}" alt="Click to edit" title="Click to edit"><i class="fa fa-pencil"></i></a>&nbsp;<a href="/#/questionnaires/delete/{{questionnaire._id}}" alt="Click to delete" title="Click to delete"><i class="fa fa-times"></i></a>&nbsp;
                            <a href="/#/questionnaires/assign/{{questionnaire._id}}" alt="Click to assign questions" title="Click to assign questions"><i class="fa fa-question"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><input type='checkbox' ng-model="checkboxes.items[questionnaire._id]" ng-change="toggleSelectionForQuestionarie(questionnaire._id)" /></td>
                        <td align='left'>
                            <div><img src='images/disable.png' border='0'></div>
                        </td>
                        <td align="left">Basic Questionnaire 5</td>
                        <td align="left">
                            <a href="/#/questionnaires/edit/{{questionnaire._id}}" alt="Click to edit" title="Click to edit"><i class="fa fa-pencil"></i></a>&nbsp;<a href="/#/questionnaires/delete/{{questionnaire._id}}" alt="Click to delete" title="Click to delete"><i class="fa fa-times"></i></a>&nbsp;
                            <a href="/#/questionnaires/assign/{{questionnaire._id}}" alt="Click to assign questions" title="Click to assign questions"><i class="fa fa-question"></i></a>
                        </td>
                    </tr>-->
                
                    <tr ng-repeat = "questionnaire in $data">
                        <td header="'headerCheckbox.html'"><input type='checkbox' ng-model="checkboxes.items[questionnaire._id]" ng-change="toggleSelection(questionnaire._id)" /></td>
                        <td data-title="'Status'" sortable="'enable'" align='left'><div ng-if="questionnaire.enable==true"><img src='images/enable.png' border='0'></div><div ng-if="questionnaire.enable==false"><img src='images/disable.png' border='0'></div></td>
                        <td data-title="'Questionnaire Type'" sortable="'questionnaire_type'" align="left">
                            <span ng-if="questionnaire.questionnaire_type==0">Basic</span><span ng-if="questionnaire.questionnaire_type==1">Follow Up</span>
                        </td>
                        <td data-title="'Questionnaire Title'" sortable="'questionnaire_name'" filter="{questionnaire:'text'}" align="left">{{questionnaire.questionnaire_name}}</td>
                        <td data-title="'Action'" align="left">
                            <a href="/#/questionnaires/edit/{{questionnaire._id}}" alt="Click to edit" title="Click to edit"><i class="fa fa-pencil"></i></a>&nbsp;
                            <a ng-click="delQuestionnaire(questionnaire._id,questionnaire.questionnaire_name);" alt="Click to delete" title="Click to delete"><i class="fa fa-times"></i></a>&nbsp;
                            <a href="/#/questionnaires/assign/{{questionnaire._id}}" alt="Click to assign questions" title="Click to assign questions"><i class="fa fa-exchange"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2'>
                            <div class="form-group">
                                <select class="form-control" name='selectedAction' id='selectedAction'>
                                    <option value="0">-Select-</option>
                                    <option value="1">Enable</option>
                                    <option value="2">Disable</option>
                                    <!--<option value="3">Delete</option>-->
                                </select>
                            </div>
                        </td>
                        <td colspan='3'><input type='button' name='go' value='Go' class='btn btn-success' ng-click="performAction()"></td>
                    </tr>  
                    </table>   
                    </form>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>
    </section><!-- /.content -->
</aside><!-- /.right-side -->

<!-- page script -->
 <script type="text/ng-template" id="headerCheckbox.html">
        <input type="checkbox" ng-model="checkboxes.checked" data-ng-click="toggleSelection(0)" class="select-all" value="" />
</script>