<aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Subscribers
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href="/#/subscribers">Subscribers</a></li> 
                         <li>Add</li>                      
                    </ol>
                </section>
                <!-- Main content -->

                <section class="content" data-ng-init="findOne()">
            <div class="row">
            <div class="col-md-12">
                <!-- Custom Tabs -->
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        <div class="tab-pane" ng-class="{'active': activeTab === 0}" id="tab_1">
                         <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <div class="box-body table-responsive">  
                                       <div class = "alert alert-dismissable" ng-class="alerttype" ng-show="message"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div> 
                                        <form role="form">
                                        <div class="box-body">
                                        <div class="form-group">
                                            
                                            <label>Company</label>
                                            <input type="text" class="form-control" ng-model="user.company" placeholder="Enter Company Name">
                                                
                                            <label>First Name</label>
                                            <input type="text" class="form-control" ng-model="user.first_name" placeholder="Enter Firstname">

                                            <label>Last Name</label>
                                            <input type="text" class="form-control" i ng-model="user.last_name" placeholder="Enter Lastname" >

                                            <label>Email</label>
                                            <input type="text" class="form-control"  ng-model="user.email" placeholder="Enter Email">

                                            <label>Username</label>
                                            <input type="text" class="form-control"  ng-model="user.username" placeholder="Enter Username">
                                                
                                            <span ng-show="user._id">
                                                <br>
                                                <div class="clearfix">
                                                    Change Password <input type="checkbox" name="changepassword" ng-model="user.userchangepassword"> || 
                                                    Renew Plan <input type="checkbox" name="renewplan" ng-model="user.renewplan">
                                                 </div>
                                                <br>
                                            </span>
                                            
                                            
                                            <label ng-show="user.userchangepassword || !user._id">Password</label>
                                            <input type="password" ng-show="user.userchangepassword || !user._id" class="form-control"  ng-model="user.password" placeholder="Enter password" >

                                            <label ng-show="user.renewplan || !user._id">Plan</label>
                                            <select class="form-control" ng-show="user.renewplan || !user._id" ng-model="user.plan" ng-options="obj._id as obj.title for obj in plans">
                                                <option value="">Select Plan</option>
                                            </select>

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name='enable'  ng-model='user.enable' checked="{{enableChecked}}"/>
                                                    Enable
                                                </label>
                                            </div>                                          
                                    </div>
                                     

                                   
                                </form>              
                                  </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div><!-- /.tab-content -->
          </div>
          <div class="box-footer clearfix no-border">
                                                  <button data-ng-if="!user._id" class=" btn m_lft5  btn-warning pull-right" data-ng-click="updateData(0)">Save</button>
                                                  <button data-ng-if="user._id" class="btn m_lft5 btn-warning pull-right" data-ng-click="updateData(1)">Update</button>
                                              </div>
      </div>
  </div>

  </section><!-- /.content -->
            </aside><!-- /.right-side -->   