 <aside class="right-side" ng-init="getAllUsers()">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                       Subscribers                       
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li>Subscribers</li>                       
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box-body table-responsive">
                                    <div class="alert alert-danger alert-dismissable" ng-show="message"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>   
                            
                            <div class="box">
                                
                                <!-- <div class="box-header">
                                    <h3 class="box-title">Data Table With Full Features</h3>
                                </div> -->
                                 <div class="box-body table-responsive">
                                    <div class="clearfix">
                                           
                                             <div class="pull-left m_btm15"><a href='/#/subscribers/add' align='right'  class="btn btn-primary">Add New Subscriber</a></div>
                                             <div class="clearfix"></div>
                               
                                <form name="searchForm" novalidate ng-submit="applyGlobalSearch()">
                                    <div class="input-group">
                                      <span class="input-group-addon">Except for...
                                        <input type="checkbox" name="inverted" ng-model="isInvertedSearch" />
                                      </span>
                                      <input type="text" class="form-control" placeholder="Search term" name="searchTerm" ng-model="globalSearchTerm" required />
                                      <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                          <span class="glyphicon glyphicon-search"></span>
                                      </button>
                                      </span>
                                    </div>
                              </form>
                              </div>                         

                           <form role="form">
                                  
                                    <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible"> 
                                     <colgroup>
                                              <col width="5%"/>
                                              <col width="5%"/>
                                              <col width="20%"/>
                                              <col width="20%"/>
                                              <col width="20%"/>
                                              <col width="20%"/>
                                            </colgroup>

                                            <tr ng-repeat = "user in $data | filter:getFullName">
                                                <td header="'headerCheckbox.html'"><input type='checkbox' ng-model="checkboxes.items[user._id]" ng-change="toggleSelection(user._id)" /></td>
                                                <td data-title="'Status'" sortable="'enable'" align='left'><div ng-if="user.enable==true"><img src='images/enable.png' border='0'></div><div ng-if="user.enable==false"><img src='images/disable.png' border='0'></div></td>
                                                <td data-title="'Company Name'" sortable="'company'" filter="{company:'text'}" align="left">{{user.company}}</td>
                                                
                                                <td data-title="'Subscriber'" sortable="'fullName'" filter="{fullName:'text'}" align="left"><a href="/#/subscribers/edit/{{user._id}}" alt="Click to edit" title="Click to edit">{{ user.fullName }}</a></td>
                                                <td data-title="'Email'" sortable="'email'" filter="{email:'text'}" align="left">{{user.email}}</td>
                                                <td data-title="'Action'">
                                                    <a href="/#/subscribers/sub_history/{{user._id}}" title="Subscription History">Subscription History</a> |
                                                    <a href="/#/subscribers/edit/{{user._id}}" title="Go To Subscriber Profile">Login as Subscriber</a>
                                                </td>

                                                
                                            </tr>
                                            <tr>
                                                <td colspan='2'>
                                                    
                                                    <div class="form-group">
                                                                <select class="form-control" name='selectedAction' id='selectedAction'>
                                                                <option value="0">Select</option>
                                                                <option value="1">Enable</option>
                                                                <option value="2">Disable</option>
                                                                <option value="3">Delete</option>
                                                            </select> 
                                                    </div>
                                                </td>
                                                <td colspan='5'><input type='button' name='go' value='Go' class='btn btn-primary' ng-click="performAction()"></td>
                                                
                                            </tr>  
                                    </table>   
                                </form>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div>

                </section><!-- /.content -->
            </aside><!-- /.right-side -->


            <!-- page script -->
         <script type="text/ng-template" id="headerCheckbox.html">
                <input type="checkbox" data-ng-click="toggleSelection(0)" ng-model="checkboxes.checked" class="select-all" value="" />
            </script>
               