 <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                       Subscription History                       
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href="/#/subscribers">Subscribers</a></li>    
                        <li>Subscription History</li>
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content" data-ng-init="subscriberhistory()">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box-body table-responsive">
                            
                            <div class="box">
                              
                                 <div class="box-body table-responsive">
                                    <div class="clearfix" style="padding-bottom:15px;">
                                            <div class="box-body table-responsive">
                                            <div class="clearfix">
                                            
                                <!--<form name="searchForm" novalidate ng-submit="applyGlobalSearch()">
                                    <div class="input-group">
                                      <input type="text" class="form-control" placeholder="Search term" name="searchTerm" ng-model="globalSearchTerm" required />
                                      <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                          <span class="glyphicon glyphicon-search"></span>
                                      </button>
                                      </span>
                                    </div>
                              </form>-->
                              </div>                         

                           <form role="form">
                                  
                                    <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible"> 
                                     <colgroup>
                                              <col width="20%"/>
                                              <col width="20%"/>
                                              <col width="20%"/>
                                              <col width="20%"/>
                                            </colgroup>

                                             <tr ng-repeat = "user in subscriberinfo">
                                                <td data-title="'Subscriber'" align="left">{{user.subscriber_id.first_name}} {{user.subscriber_id.last_name}}</td>
                                                <td data-title="'Email'" sortable="'email'" filter="{email:'text'}" align="left">{{user.subscriber_id.email}}</td>
                                                <td data-title="'Plan'" sortable="'plan'" filter="{plan:'text'}" align="left">{{user.plan_id.title}}</td>
                                                <td data-title="'Period'" sortable="'period'" filter="{period:'text'}" align="left">{{user.startdate | date}} - {{user.expiredate}}</td>
                                            </tr>
                                           
                                    </table>   
                                </form>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div>

                </section><!-- /.content -->
            </aside><!-- /.right-side -->