  <aside class="right-side" ng-init="getVideoData()">
    <!-- Content Header (Page header) -->
    <div ng-if="showloader" >
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div>
    <section class="content-header" ng-cloak>
      <h1>{{add_edit_video_screen_title}}</h1>
     <ol class="breadcrumb">
      <li><a href="/#/superhome"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li><a href="/#/videos">Videos</a></li> 
      <li>{{add_edit_video_screen_title}}</li>                      
    </ol>
  </section>
  <!-- Main content -->
  <section class="content" ng-cloak>
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
            <div class="box-body table-responsive">
            <div class="pull-right1"><small>All Fields marked with <span class="redsphere">*</span> are mandatory</small></div>
            
              <form role="form" name="add_video_form" id="add_video_form" ng-submit="addVideo();">
              <div class="box-body">
                <label>Video Url<span class="asterisk">*</span></label>
                <div class="form-group" ng-class="{'has-error':add_video_form.video_url.$dirty && (add_video_form.video_url.$error.required || errordetail.video_url || add_video_form.video_url.$error.url)}">
                  <input type="url" class="form-control" id="video_url" name='video_url' ng-model="videoObj.video_url" placeholder="Enter video url (Example : http://www.example.com)" required maximum-words-validation="50" />
                  <label class="control-label" ng-show="add_video_form.video_url.$dirty && (add_video_form.video_url.$error.required || errordetail.video_url)">Video url is required.</label>
                  <label class="control-label" ng-show="add_video_form.video_url.$dirty && add_video_form.video_url.$error.url" >Video url is invalid. Don't forget to use http://</label>
                </div>

                <label>Video Type<span class="asterisk">*</span></label>
                <!-- <div class="form-group" ng-class="{'has-error':add_faq_form.faq_answer.$dirty && (add_faq_form.faq_answer.$error.required || errordetail.faq_answer || add_faq_form.faq_answer.$error.maximumWords)}">
                  <textarea class="form-control" id="faq_answer" name='faq_answer' ng-model="faqObj.faq_answer" placeholder="Enter answer" required maximum-words-validation="500"></textarea>
                  <label class="control-label" ng-show="add_faq_form.faq_answer.$dirty && (add_faq_form.faq_answer.$error.required || errordetail.faq_answer)">Answer is required.</label>
                  <label class="control-label" ng-show="add_faq_form.faq_answer.$error.maximumWords">Answer should not be more than 500 words.</label>
                </div> -->
                <div class="form-group">
                    <div class="checbox_input">
                      <label class="oneLine" ng-repeat="x in videoType" ng-class="{disabledLbl: x.enabled == false}">
                        <!--<input type="checkbox" id="{{x.id}}" ng-model="x.selected" ng-value="x.name"/>-->
                        <!--<input type="radio" ng-disabled="x.name == 'Goals'" ng-model="videoObj.video_for" value="x.name" name="video_for">-->
                        <input type="radio" ng-disabled="x.enabled == false" ng-model="videoObj.video_for" value="{{x.name}}" name="video_for">
                        &nbsp; {{x.name}}
                        <!--https://vimeo.com/126100721-->
                      </label>
                  </div>
                </div>
                <label>Status</label>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name='enable' id='enable' ng-model='videoObj.is_status' checked="{{enableChecked}}"/> Active
                  </label>
                </div> 
              </div>
    <div class="box-footer">
      <button type="submit" class="btn btn-success pull-right" ng-disabled="add_video_form.$invalid || frmSubmitted">Submit</button>
      <a href="/#/videos" class="btn m_lft5 btn-warning pull-right">Cancel</a>
    </div>
    <div class="clearfix"></div>
  </form>              
</div><!-- /.box-body -->
</div><!-- /.box -->
</div>
</div>

</section><!-- /.content -->
  </aside><!-- /.right-side -->