
<aside class="right-side" ng-init="getAllVideos()">
    <!-- Content Header (Page header) -->
    <div ng-if="showloader" >
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div>
    <section class="content-header" ng-cloak>
        <h1>Videos</h1>
        <ol class="breadcrumb">
            <li><a href="/#/superhome"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li>Videos</li>                       
        </ol>
    </section>

    <section class="content" ng-show="noVideos" ng-cloak>
    <div class="box-body">
    <div class="box">
    <div class="box-body">
        <div class="row scrollDisabled">
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-left m_btm15">
                    <a href="/#/videos/add" title="Add Answers" align='right'  class="btn btn-primary btn-responsive">Add New Video</a>
                </div>
            </div>
        </div>
        <div class="row scrollDisabled">
            <div class="col-xs-12">
                No Videos are available.
            </div>
        </div>
     </div>
     </div>
     </div>
     </div>
    </section>
    <!-- Main content -->
    <section class="content" ng-show="VideoExist" ng-cloak>
        <div class="row">
            <div class="col-xs-12">
                <div class="box-body table-responsive">
                    <div class="box">
                        <div class="box-body table-responsive">
                            <div class="clearfix">
                                <div class="pull-left m_btm15">
                                    <a href='/#/videos/add' align='right'  class="btn btn-primary btn-responsive">Add New Video</a>
                                </div>
                                <div class="pull-right2">
                                <div class="legend-block custom_Legend_320px">
                                    <span class="legend-label">Legend:</span>
                                    <span class="right">
                                      <span class="legend-desc"><i title="Active" class="green-legends fa fa-check"></i> Active</span>
                                      <span class="legend-desc"><i title="Inactive" class="red-legends fa fa-times"></i> Inactive</span>
                                      <div class="legend-desc legendMargin"><i title="Deleted Disorder" class="fa fa-trash-o"></i> Deleted</div>
                                      <span class="legend-desc"><i title="Edit" class="blue-legends fa fa-pencil"></i> Edit</span>
                                      <div class="legend-desc legendMargin"><i title="Delete" class="blue-legends fa fa-trash-o"></i> Delete</div>
                                    </span>
                                </div>
                                </div>
                                <div class="clearfix"></div>
                               
                            </div>
                            <form role="form">
                                <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible"> 
                                    <colgroup>
                                        <col width="5%"/>
                                        <col width="5%"/>
                                        <col width="20%"/>
                                        <col width="20%"/>
                                        <col width="10%"/>
                                    </colgroup>
                                    <tr ng-repeat = "options in $data">

                                        <td data-title ="'Select'" header="'headerCheckbox.html'">
                                            <input type='checkbox' ng-model="checkboxes.items[options._id]" ng-change="toggleSelection(options._id)" ng-if="!options.is_deleted"/> 
                                        </td>
                                           <td data-title="'Status'" sortable="'is_status'" align='left'>
                                           <span ng-if="options.is_deleted==false">
                                                <div ng-if="options.is_status==true"><img src='images/enable.png' border='0' data-toggle="tooltip" title="Active"></div><div ng-if="options.is_status==false"><img src='images/disable.png' border='0' data-toggle="tooltip" title="Inactive"></div>
                                            </span>
                                            <span ng-if="options.is_deleted==true"><i class="fa fa-trash-o"></i></span>
                                           </td>       
                                                                           
                                        <td data-title="'Video Url'" sortable="'video_url'" align="left" filter="{video_url : 'text'}"><span><a ng-click="openVideoModal(options)">{{options.video_url}}</a></span></td>
                                        
                                        <td data-title="'Video Type'" align="left"><span>{{options.video_for}}</span></td>

                                        <td data-title="'Actions'" align="left">
                                        <span ng-if="options.is_deleted==false">
                                           <a href="/#/videos/edit/{{options._id}}" alt="Click to edit" title="Click to edit"><i class="actionIcons fa fa-pencil"></i></a> 
                                           &nbsp;
                                           <a ng-click="delVideo(options._id,options.video_url);" alt="Click to delete" title="Click to delete"><i class="fa fa-trash-o"></i></a>&nbsp;
                                        </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan='6'>
                                            <div class="form-group">
                                                <select class="form-control selectedAction1" name='selectedAction' id='selectedAction'>
                                                    <option value="0">Select Status</option>
                                                    <option value="1">Active</option>
                                                    <option value="2">Inactive</option>
                                                </select> &nbsp;&nbsp;&nbsp;

                                                <input type='button' name='go' value='Go' class='btn btn-success' ng-click="performAction()">
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                
                            </form>  
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>
        </div>
    </section><!-- /.content -->
</aside><!-- /.right-side -->

 <!-- Video Type in Modal -->
<div class="modal-demo">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-body" id="modal-body">
            <iframe src="{{currentVideoUrl}}" width="100%" height="400px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="modalClose()">Close</button>
        </div>
    </script>
</div>
<!-- page script -->
<script type="text/ng-template" id="headerCheckbox.html">
    <input type="checkbox" data-ng-click="toggleSelection(0)" ng-model="checkboxes.checked" class="select-all" value="" ng-checked="selectionAll"/>
</script>