<!-- <script src="javascripts/plugins/timepicker/wickedpicker.js" type="text/javascript"></script>
<script type="text/javascript">
	$('.timepicker1').wickedpicker({
		twentyFour: true,
		upArrow: 'wickedpicker__controls__control-up',
		downArrow: 'wickedpicker__controls__control-down',
		close: 'wickedpicker__close',
		hoverState: 'hover-state',
		title: 'Timepicker',
		minutesInterval: 15
	});
</script> -->
<!-- <script src="javascripts/som.js" type="text/javascript"></script> -->

<aside class="right-side" ng-init="getPatientData()">
	<section class="content-header" ng-cloak>
		<h1>State of mind - {{userDetails.first_name + " " + userDetails.last_name}}</h1>
		<ol class="breadcrumb">
			<li><a href="/#/home"><i class="fa fa-dashboard"></i> Dashboard</a></li>
			<li><a href="/#/patients">Users</a></li>
			<li>State of mind</li>
		</ol>
	</section>
	<div ng-if="showloader" >
		<div class="loader-image">
			<i class="fa fa-spinner fa-pulse fa-spin"></i>
		</div>
		<div class="loader-container"></div>
	</div>
	<section class="content" ng-cloak>
		<div class="row">
			<div class="col-md-12">
				<div>
					<div class="clearfix">
						<div class="" id="tab_1">
							<div class="row">
								<div class="col-xs-12">
									<div class="box">
										<div class="box-body">
											<div class="row">
												<div class="col-xs-12 col-lg-4 borderRight">
													<div>
														<h4 class="capitalize"><b>{{user.first_name}} {{user.last_name}}</b></h4>
														<div class="row">
															<div class="col-xs-12">
																<form role="form" name="patient_appointment_form" id="patient_appointment_form" ng-submit="saveOrUpdateAppointment();">
																	<div class="row top10">
																		<div class="col-xs-12">
																			<span class="font-normal">Kept last appointment?</span><br>
																			<label class="radio-inline">
										                                        <input type="radio" name="is_appointment" ng-model="appointmentData.is_appointment_showed" value="yes">Yes
										                                    </label>
																			<label class="radio-inline">
										                                        <input type="radio" name="is_appointment" ng-model="appointmentData.is_appointment_showed" value="no">No
										                                    </label>
																			<label class="radio-inline">
										                                        <input type="radio" name="is_appointment" ng-model="appointmentData.is_appointment_showed" value="noanswer">No Answer
										                                    </label>
																		</div>
																		<div class="col-xs-12">&nbsp;</div>
																		<div class="col-xs-6 col-lg-7">
																			<span class="font-normal">Active patient? </span>
																		</div>
																		<div class="col-xs-6 col-lg-4">
																			<input type="checkbox" name="my-checkbox" ng-model="appointmentData.is_status" checked bootstrap-switch>
																		</div>
																	</div>

																	<div class="row top10">
																		<div class="col-xs-12" ng-class="{'has-error': (patient_appointment_form.datepicker_apt.$dirty && patient_appointment_form.datepicker_apt.$error.required) || (patient_appointment_form.next_appointment_time.$dirty && patient_appointment_form.next_appointment_time.$error.required) || timeError }">
																			<span class="font-normal">Next Appointment Date & Time</span>
																		</div>
																	</div>
																		<div class="row top10">
																			<div class="col-xs-12">
																				<div class="input-group date col-xs-12">
																					<div class="input-group-addon">
																						<i class="fa fa-calendar"></i>
																					</div>

																					<datepicker date-format="MM/dd/yyyy" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" button-prev-title="previous month" button-next-title="next month" date-set-hidden="true" date-min-limit={{minDate}} date-max-limit={{maxDate}} date-set={{todayDate}}>
																						<input ng-model="appointmentData.next_appointment_date" type="text" class="form-control pull-right font-normal" name="datepicker_apt" placeholder="mm/dd/yyyy" id="datepicker_apt" required ng-pattern="/^[0,1]?\d{1}\/(([0-2]?\d{1})|([3][0,1]{1}))\/(([1]{1}[9]{1}[0-9]{1}\d{1})|([2-9]{1}\d{3}))$/" readonly ng-change="checkTime()" />
																					</datepicker>
																				</div>
																			</div>
																			<div class="col-xs-12">
																				<!-- <div class="input-group">
																					<div class="input-group-addon">
																						<i class="fa fa-clock-o"></i>
																					</div>
																					<input type="text" id="timepicker1" name="timepicker1" class="form-control timepicker1 font-normal" required ng-model="appointmentData.next_appointment_time" ng-change="checkTime()" />
																					<div uib-timepicker class="form-control font-normal" ng-model="appointmentData.next_appointment_time" hour-step="1" minute-step="1" show-meridian="true"></div>
																				</div> -->
																				<div uib-timepicker ng-model="appointmentData.next_appointment_time" hour-step="1" minute-step="10" show-meridian="true" ng-change="checkTime()"></div>
																			</div>
																			<label class="control-label control-label1 font-normal col-xs-6" ng-show="patient_appointment_form.datepicker_apt.$dirty && patient_appointment_form.datepicker_apt.$error.required">Next Appointment Date is required.</label>
																			<label class="control-label font-normal col-xs-6" ng-show="(patient_appointment_form.next_appointment_time.$dirty && patient_appointment_form.next_appointment_time.$error.required)">Next Appointment Time is required.</label>
																			<label class="control-label control-label1 font-normal col-xs-6" ng-show="timeError">Please enter valid Time.</label>
																		</div>
																	<!-- </div> -->

																	<!-- /.form group -->
																	<div class="row top10">
																		<div class="col-xs-12" ng-class="{'has-error':patient_appointment_form.datepicker_asmt.$dirty && patient_appointment_form.datepicker_asmt.$error.required}">
																			<span class="font-normal">Next Assessment on</span>
																			<!-- <span class="alert-warning">3:15pm Mon 03/08/15</span> -->
																			<div class="input-group date col-xs-12 col-sm-12">
																				<div class="input-group-addon">
																					<i class="fa fa-calendar"></i>
																				</div>
																				<!--<input type="text" name="datepicker_asmt" class="form-control pull-right font-normal" id="datepicker_asmt" ng-model="appointmentData.next_assessment_date" required>-->

																				<datepicker date-format="MM/dd/yyyy" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" button-prev-title="previous month" button-next-title="next month" date-set-hidden="true" date-min-limit={{minDate}} date-max-limit={{maxDate}} date-set={{todayDate}}>
																					<input ng-model="appointmentData.next_assessment_date" type="text" class="form-control pull-right font-normal" name="datepicker_asmt" placeholder="mm/dd/yyyy" id="datepicker_asmt" required ng-pattern="/^[0,1]?\d{1}\/(([0-2]?\d{1})|([3][0,1]{1}))\/(([1]{1}[9]{1}[0-9]{1}\d{1})|([2-9]{1}\d{3}))$/" readonly />
																				</datepicker>

																			</div>
																			<label class="control-label control-label1" ng-show="patient_appointment_form.datepicker_asmt.$dirty && patient_appointment_form.datepicker_asmt.$error.required">Next Assessment Date is required.</label>
																		</div>
																	</div>

																	<div class="row top10">
																		<div class="col-xs-12">
																			<span class="font-normal">Level Of Service</span>
																			<div class="input-group date col-xs-12 col-sm-12">
																				<select class="form-control font-normal" ng-model="appointmentData.level_of_service">   
										                                            <option value="inpatient">InPatient</option>
										                                            <option value="outpatient">OutPatient</option>
										                                        </select>
																			</div>
																		</div>
																	</div>
																	<div class="row top10">
																		<div class="col-xs-12">
																			<span class="font-normal">Assessment</span>
																			<div class="input-group date col-xs-12 col-sm-12">
																				<select class="form-control font-normal" ng-model="appointmentData.assessment_type">
																					<option value="basic">Basic</option>
										                                            <option value="baseline">Baseline</option>
										                                            <option value="midterm">Midterm</option>
										                                            <option value="final">Final</option>
										                                        </select>
																			</div>
																		</div>
																	</div>
																	<div class="row top10">
																		<div class="col-xs-12">
																			<button type="submit" ng-disabled="patient_appointment_form.$invalid || timeError == true" class="btn bg-olive btn-block">Update</button>
																		</div>
																	</div>
																</form>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xs-12 col-lg-8">
													<!-- Daily/Next session goals -->
													<div class="row top10" ng-show="showNoGoalsAvailable">
														<div class="col-xs-12">
															No Goals Available
														</div>
													</div>
													<div class="row top10" ng-show="showNoCheckinsAvailable">
														<div class="col-xs-12">
															No Check-ins Available
														</div>
													</div>

													<div class="row top10" ng-show="goalsAvailable">
														<div class="col-xs-8">
															<span class="customText">Next sessions goals</span>
														</div>
														<div class="col-xs-4 text-right">
															<span>Yes/Days</span>
														</div>
													</div>

													<div class="row top10" ng-repeat="dmd in dailyMetricData" ng-show="goalsAvailable">
														<div class="col-xs-6 col-sm-8 lineHeightDiv">
															<span class="stateofmindText">{{dmd.title}}
															</span>
														</div>
														<div class="col-xs-3 col-sm-2 text-center">
															<div class="rounddiv " ng-class="{greenDiv : ((CheckInDailyMetricData[dmd.goal_id] / totalDays)*100) > 79, redDiv : ((CheckInDailyMetricData[dmd.goal_id] / totalDays)*100) < 21,yellowDiv : ((CheckInDailyMetricData[dmd.goal_id] / totalDays)*100) > 21 && ((CheckInDailyMetricData[dmd.goal_id] / totalDays)*100) < 79 }" ng-class="">
															{{roundNum((CheckInDailyMetricData[dmd.goal_id] / totalDays)*100)}}%
														</div>
														</div>
														<div class="col-xs-3 col-sm-2 text-right lineHeightDiv">
															<span>{{CheckInDailyMetricData[dmd.goal_id]}} / {{totalDays}}</span>
														</div>
													</div>
												</div>
											</div>
											<div class="row top10">&nbsp;</div>
											<div ng-show="showGraphData">
												<div class="row top10">
													<div class="col-lg-6 col-xs-12">
														<h4>Daily Metrics - Patient</h4>
														<div google-chart chart="myChartObject1" style="height:400px; width:100%;"></div>
													</div>
													<div class="col-lg-6 col-xs-12">
														<h4>Daily Metrics - Patient</h4>
														<div google-chart chart="myChartObject2" style="height:400px; width:100%;"></div>
													</div>
												</div>
												<!--row top10-->
												<div class="row top10">
													<div class="col-lg-6 col-xs-12" ng-show="isWeeklyMetricsPatient">
														<h4>Weekly Metrics - Patient</h4>
														<div google-chart chart="myChartObject3" style="height:400px; width:100%;"></div>
													</div>
													<div class="col-lg-6 col-xs-12" ng-show="isWeeklyMetricsCaregiver">
														<h4>Weekly Metrics - Caregiver</h4>
														<div google-chart chart="myChartObject4" style="height:400px; width:100%;"></div>
													</div>
												</div>
												<!--row top10-->
											</div>
											<!--show graph data-->
										</div>
										<!-- box-body -->
									</div>
									<!-- box-->
								</div>
							</div>
						</div>
					</div>
					<!-- /.tab-content -->
				</div>
			</div>
		</div>

		<div class="row" ng-if="probabilityDataAvailable">
			<div class="col-xs-12">
				<div class="col-xs-12">
					<div class="row panel-heading">
						<div class="col-xs-12">
							<div class="form-group text-center">
								<label>Patient Probability Data</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="table-responsive">
								<table class="table table-sm">
									<thead>
										<tr>
											<th>Patient</th>
											<th>Submitted Date & Time</th>
											<th>Diagnose results</th>
											<th>Target results</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="pd in probabilityData" class="normalFont1">
											<td>{{pd.patient.first_name}} {{pd.patient.last_name}}</td>
											<td>{{pd.created_date | date:'short'}}</td>
											<td>
												<div ng-repeat="dr in pd.diagnose_checked" ng-if="pd.diagnose_checked.length != '0'">
													<span class="normalFont2">{{dr.disease_title}}</span><br />
													<span>Probability : {{dr.posterior_probability}} % </span>&nbsp;
													<span>Severity : {{dr.severity_score}} % </span>&nbsp;
												</div>
												<div ng-if="pd.diagnose_checked.length == '0'">
													<span>-</span>
												</div>
											</td>
											<td>
												<div ng-repeat="tr in pd.target_checked"> 
													<span class="normalFont2">{{tr.disease_title}}</span><br />
													<span>Probability : {{tr.posterior_probability}} % </span>&nbsp;
													<span>Severity : {{tr.severity_score}} % </span>&nbsp;
												</div>
											</td>
											<!--<td>{{pd.answer_score}}</td>-->
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /.content -->
</aside>
<!-- /.right-side -->
