  <aside class="right-side" ng-init="getFaqData()">
    <!-- Content Header (Page header) -->
    <div ng-if="showloader" >
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div>
    <section class="content-header" ng-cloak>
      <h1>{{add_edit_faq_screen_title}}</h1>
     <ol class="breadcrumb">
      <li><a href="/#/superhome"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li><a href="/#/faqs">FAQ</a></li> 
      <li>{{add_edit_faq_screen_title}}</li>                      
    </ol>
  </section>
  <!-- Main content -->
  <section class="content" ng-cloak>
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
            <div class="box-body table-responsive">
            <div class="pull-right1"><small>All Fields marked with <span class="redsphere">*</span> are mandatory</small></div>
            
              <form role="form" name="add_faq_form" id="add_faq_form" ng-submit="addFAQ();">
              <div class="box-body">
                <label>Question<span class="asterisk">*</span></label>
                <div class="form-group" ng-class="{'has-error':add_faq_form.faq_question.$dirty && (add_faq_form.faq_question.$error.required || errordetail.faq_question || add_faq_form.faq_question.$error.maximumWords)}">
                  <input type="text" class="form-control" id="faq_question" name='faq_question' ng-model="faqObj.faq_question" placeholder="Enter question" required maximum-words-validation="50" />
                  <label class="control-label" ng-show="add_faq_form.faq_question.$dirty && (add_faq_form.faq_question.$error.required || errordetail.faq_question)">Question is required.</label>
                  <label class="control-label" ng-show="add_faq_form.faq_question.$error.maximumWords">Question should not be more than 50 words.</label>
                </div>

                <label>Answer<span class="asterisk">*</span></label>
                <div class="form-group" ng-class="{'has-error':add_faq_form.faq_answer.$dirty && (add_faq_form.faq_answer.$error.required || errordetail.faq_answer || add_faq_form.faq_answer.$error.maximumWords)}">
                  <textarea class="form-control" id="faq_answer" name='faq_answer' ng-model="faqObj.faq_answer" placeholder="Enter answer" maximum-words-validation="500"></textarea>
                  <label class="control-label" ng-show="add_faq_form.faq_answer.$dirty && (add_faq_form.faq_answer.$error.required || errordetail.faq_answer)">Answer is required.</label>
                  <label class="control-label" ng-show="add_faq_form.faq_answer.$error.maximumWords">Answer should not be more than 500 words.</label>
                </div>

                <label>Status</label>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name='enable' id='enable' ng-model='faqObj.is_status' checked="{{enableChecked}}"/> Active
                  </label>
                </div> 
              </div>
    <div class="box-footer">
      <button type="submit" class="btn btn-success pull-right" ng-disabled="add_faq_form.$invalid">Submit</button>
      <a href="/#/faqs" class="btn m_lft5 btn-warning pull-right">Cancel</a>
    </div>
    <div class="clearfix"></div>
  </form>              
</div><!-- /.box-body -->
</div><!-- /.box -->
</div>
</div>

</section><!-- /.content -->
  </aside><!-- /.right-side -->