<aside class="right-side">
<div ng-if="showloader" >
  <div class="loader-image">
      <i class="fa fa-spinner fa-pulse fa-spin"></i>
  </div>
  <div class="loader-container"></div>
</div>
    <!-- Content Header (Page header) -->
    <section class="content-header" ng-cloak>
      <h1>
          New Assesment
      </h1>
      <ol class="breadcrumb">
          <li><a href="/#/home"><i class="fa fa-dashboard"></i> Dashboard</a></li>
          <li><a href="/#/users">Users</a></li> 
           <li>Add Assesment</li>                      
      </ol>
    </section>
    
    <!-- Main content -->
    <section class="content" ng-cloak>
        <div class="row">
            <div class="col-md-12">
                <!-- Custom Tabs -->
                <div>
                    <div>
                         <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <div class="box-body table-responsive">  
                                        <!--<div class="alert alert-danger alert-dismissable" ng-show="message"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>-->
                                        <form role="form">
                                        <div class="box-body">
                                        <div class="form-group">
                                            <label>1. Have you experienced 2-3 day periods of extreme happiness where you tried lots of new and different things?</label>
                                            <select class="form-control" name='selectedAction' id='selectedAction'>
                                              <option value="0">Select</option>
                                              <option value="1">Yes</option>
                                              <option value="2">No</option>
                                              <option value="2">Often</option>
                                              <option value="2">Never</option>
                                            </select> <label>2. Do you have 2-3 day periods of extreme happiness and energy where you feel anxious, jittery or nervous?</label>
                                            <select class="form-control" name='selectedAction' id='selectedAction'>
                                              <option value="0">Select</option>
                                              <option value="1">Yes</option>
                                              <option value="2">No</option>
                                              <option value="2">Often</option>
                                              <option value="2">Never</option>
                                            </select> <label>3. Do you have 2-3 day periods of extreme sadness where is was so painful that you could not stand it?</label>
                                            <select class="form-control" name='selectedAction' id='selectedAction'>
                                              <option value="0">Select</option>
                                              <option value="1">Yes</option>
                                              <option value="2">No</option>
                                              <option value="2">Often</option>
                                              <option value="2">Never</option>
                                            </select> <label>4. Have you experienced 2-3 day periods of extreme happines where you tried lots of new and different things?</label>
                                            <select class="form-control" name='selectedAction' id='selectedAction'>
                                              <option value="0">Select</option>
                                              <option value="1">Yes</option>
                                              <option value="2">No</option>
                                              <option value="2">Often</option>
                                              <option value="2">Never</option>
                                            </select> <label>5. Have you experienced 2-3 day periods of extreme happines where you tried lots of new and different things?</label>
                                            <select class="form-control" name='selectedAction' id='selectedAction'>
                                              <option value="0">Select</option>
                                              <option value="1">Yes</option>
                                              <option value="2">No</option>
                                              <option value="2">Often</option>
                                              <option value="2">Never</option>
                                            </select> <label>6. Have you experienced 2-3 day periods of extreme happines where you tried lots of new and different things?</label>
                                            <select class="form-control" name='selectedAction' id='selectedAction'>
                                              <option value="0">Select</option>
                                              <option value="1">Yes</option>
                                              <option value="2">No</option>
                                              <option value="2">Often</option>
                                              <option value="2">Never</option>
                                            </select> <label>7. Have you experienced 2-3 day periods of extreme happines where you tried lots of new and different things?</label>
                                            <select class="form-control" name='selectedAction' id='selectedAction'>
                                              <option value="0">Select</option>
                                              <option value="1">Yes</option>
                                              <option value="2">No</option>
                                              <option value="2">Often</option>
                                              <option value="2">Never</option>
                                            </select> 
                                                                               
                                    </div>
                                     

                                   
                                </form>              
                                  </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  
                  <div  class="tab-pane"  ng-class="{'active': activeTab === 1}" id="tab_2">
                    
                  </div><!-- /.tab-pane -->
              </div><!-- /.tab-content -->
          </div>
          <div class="box-footer clearfix no-border">
            <a href="/#/patients" class=" btn m_lft5  btn-success pull-right">Update</a>
            <a href="/#/patients" class=" btn m_lft5  btn-warning pull-right">Cancel</a>
             
          </div>
      </div>
  </div>

  </section><!-- /.content -->
</aside><!-- /.right-side -->   