<aside class="right-side">
<div ng-if="showloader">
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div>
  <!-- Content Header (Page header) -->
  <section class="content-header" ng-cloak>
    <h1>Invite Remote-input/Out-patients/Caregivers</h1>
    <ol class="breadcrumb">
      <li><a href="/#/home"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li><a href="/#/patients">Users</a></li> 
      <li>Invite</li>                      
    </ol>
  </section>
   
  <!-- Main content -->
  <section class="content" ng-cloak>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-body table-responsive">  
                <div class="pull-right1"><small>All Fields marked with <span class="redsphere">*</span> are mandatory</small></div>
                <form role="form" name="add_opatient_form" id="add_opatient_form" ng-submit="addOPatient()">
                  <div class="box-body">
                    <label>Email<span class="asterisk">*</span></label>
                    <div class="form-group" ng-class="{'has-error':add_opatient_form.email.$dirty && (add_opatient_form.email.$error.pattern || add_opatient_form.email.$error.required || add_opatient_form.email.$error.email)}">
                      <input type="email" name="email" class="form-control" ng-model="outpatient.email" placeholder="Enter email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required />
                      <label class="control-label" ng-show="add_opatient_form.email.$dirty && (add_opatient_form.email.$error.required || errordetail.email)">Email ID is required.</label>
                      <label class="control-label" ng-show="add_opatient_form.email.$dirty && (add_opatient_form.email.$error.pattern || add_opatient_form.email.$error.email)" >Email is invalid.</label>
                    </div>
                    <label>EMR#<span class="asterisk">*</span></label>
                    <div class="form-group" ng-class="{'has-error':add_opatient_form.emrNumber.$dirty && (add_opatient_form.emrNumber.$error.minlength || add_opatient_form.emrNumber.$error.required || add_opatient_form.emrNumber.$error.maxlength)}">
                      <input type="text" name="emrNumber" class="form-control" ng-model="outpatient.emr_no" placeholder="Enter EMR#" ng-minlength="5" ng-maxlength="20" required />
                      <label class="control-label" ng-show="add_opatient_form.emrNumber.$dirty && add_opatient_form.emrNumber.$error.required" >EMR# is required.</label>
                      <label class="control-label1" ng-show="!add_opatient_form.emrNumber.$error.required && (add_opatient_form.emrNumber.$error.minlength || add_opatient_form.emrNumber.$error.maxlength) && add_opatient_form.emrNumber.$dirty">EMR# must be between 5 and 20 characters.</label>
                    </div>

                    <label>User Type</label> <br />
                    <label class="radio-inline">
                      <input type="radio" name="user_type" ng-model="outpatient.user_type" value="patient">Patient
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="user_type" ng-model="outpatient.user_type" value="caregiver">Caregiver
                    </label>
                  </div>
                   <div class="box-footer">
                      <!-- <a href="javascript:void(0);" ng-click="getInvitedUsers()" class="btn btn-primary">List Invited Users</a> -->
                      <button type="submit" class="btn bg-olive pull-right" ng-disabled="add_opatient_form.$invalid">Send Invite</button>
                      <a href="/#/patients"><button class=" btn m_lft5  btn-warning pull-right">Cancel</button></a>
                   </div> 

                </form>
                
                <div class="box-body margin-top">
                  <a href="javascript:void(0);" ng-click="getInvitedUsers()" class="btn btn-primary btn-responsive">List Invited Users</a>
                </div>

                <div ng-show="InvitedUsersCount">
                  <div class="box-body">
                    <div class="pull-right2">
                    <div class="legend-block custom_Legend_320px">
                      <span class="legend-label legendMargin">Legend:</span>
                      <span class="right">
                        <div class="legend-desc legendMargin"><img src='images/enable.png' border='0'> Signed up</div>
                        <div class="legend-desc legendMargin"><img src='images/disable.png' border='0'> Not signed up</div>
                      </span>
                    </div >
                  </div >
                    <div class="clearfix"></div>
                 </div>

                <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible">
                    <colgroup>
                      <col width="10%"/>
                      <col width="40%"/>
                      <col width="20%"/>
                      <col width="30%"/>
                    </colgroup>

                    <tr ng-repeat = "user in $data">
                      <td data-title="'Signed Up'" align="left">
                        <span ng-if="user.is_signed_up==true"><img src='images/enable.png' border='0'></span>
                        <span ng-if="user.is_signed_up==false"><img src='images/disable.png' border='0'></span>
                      </td>
                      <td data-title="'Email'" sortable="'email'" align="left">{{user.user_email}}</td>
                      <td data-title="'EMR#'" align="left">
                        {{user.emr_no}}
                      </td>
                      <td data-title="'User Type'" sortable="'user_type'" align="left">
                        <span ng-if="user.user_type == 'patient'" class="text-primary">Patient</span>
                        <span ng-if="user.user_type == 'caregiver'" class="text-success">Caregiver</span>
                      </td>
                      <td data-title="'Invited Date & Time'" sortable="'created_date'" align="left">{{ user.created_date | date : 'short' }}</td>
                      </tr>
                </table>
              </div>
                <table id="example1" class="table table-bordered table-striped">
                  <tr ng-show="errorMessageAvailable" ng-class="danger">
                    <td class="center" colspan="8">{{noDataMessage}}</td>
                  </tr>
                </table>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div><!-- /.tab-content -->
 
</section><!-- /.content -->
</aside><!-- /.right-side -->   