<!--<script src="javascripts/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>-->
<aside class="right-side" ng-init="getCaregivers(4)">

<div ng-if="showloader" >
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div>
  <!-- Content Header (Page header) -->
  <section class="content-header" ng-cloak>
    <h1>{{patientText}} Patient</h1>
    <ol class="breadcrumb">
      <li><a href="/#/home"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li><a href="/#/patients">Users</a></li> 
      <li>{{patientText}}</li>                      
    </ol>
  </section>
   
  <!-- Main content -->
  <section class="content" ng-cloak>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="loader" ng-show="imLoading">
                  <div class="im_loading"></div>    
              </div>
               <div class="box-body table-responsive">  
                <div class="pull-right1"><small>All Fields marked with <span class="redsphere">*</span> are mandatory</small></div>
               <div flash-message="8000" class="capitalize"></div>
                <form role="form" name="add_patient_form" id="add_patient_form" ng-submit="addPatient()">
                  <div class="box-body">
                    
                    <label>First Name<span class="asterisk">*</span></label>
                    <div class="form-group" ng-class="{'has-error':add_patient_form.first_name.$dirty && (add_patient_form.first_name.$error.required || errordetail.first_name || add_patient_form.first_name.$error.pattern)}">
                     <input type="text" name ="first_name" class="form-control" ng-model="user.first_name" placeholder="Enter Firstname" maxlength="30" ng-pattern="/^[A-Za-z']*$/" required>
                      <label class="control-label" ng-show="add_patient_form.first_name.$dirty && (add_patient_form.first_name.$error.required || errordetail.first_name)">First name is required.</label>
                      <label class="control-label" ng-show="add_patient_form.first_name.$error.pattern">Only following characters (a-z A-Z ') are allowed.</label>
                    </div>
                    
                    <label>Last Name<span class="asterisk">*</span></label>
                    <div class="form-group" ng-class="{'has-error':add_patient_form.last_name.$dirty && (add_patient_form.last_name.$error.required || errordetail.last_name || add_patient_form.last_name.$error.pattern)}">
                      <input type="text" name="last_name" class="form-control" ng-model="user.last_name" placeholder="Enter Lastname" maxlength="30" ng-pattern="/^[A-Za-z']*$/" required>
                      <label class="control-label" ng-show="add_patient_form.last_name.$dirty && (add_patient_form.last_name.$error.required || errordetail.last_name)">Last name is required.</label>
                      <label class="control-label" ng-show="add_patient_form.last_name.$error.pattern">Only following characters (a-z A-Z ') are allowed.</label>
                    </div>

                    <label>Email<span class="asterisk">*</span></label>
                    <div class="form-group" ng-class="{'has-error':add_patient_form.email.$dirty && (add_patient_form.email.$error.pattern || add_patient_form.email.$error.required || add_patient_form.email.$error.email || errordetail.email || errordetail.emailexist)}">
                      <input type="email" name="email" class="form-control"  ng-model="user.email" placeholder="Enter Email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required ng-disabled="{{isEmailDisabled}}">
                      <label class="control-label" ng-show="add_patient_form.email.$dirty && (add_patient_form.email.$error.required || errordetail.email)">Email ID is required.</label>
                      <label class="control-label" ng-show="add_patient_form.email.$dirty && (add_patient_form.email.$error.pattern ||  add_patient_form.email.$error.email)" >Email is invalid.</label>
                       <label class="control-label" ng-show="add_clinician_form.email.$dirty && (errordetail.emailexist)">Email already exist</label>
                    </div>

                    <label>Username<span class="asterisk">*</span></label>
                    <div class="form-group" ng-class="{'has-error':add_patient_form.username.$dirty && (add_patient_form.username.$error.required || add_patient_form.username.$error.pattern || (add_patient_form.username.$error.minlength || add_patient_form.username.$error.maxlength) || errordetail.username || errordetail.usernameexist)}">
                      <input type="text" name="username" class="form-control"  ng-model="user.username" placeholder="Enter Username" ng-pattern="/^[a-zA-Z0-9]*$/" ng-trim="false" ng-minlength="5" ng-maxlength="30" required ng-disabled="{{isUsernameDisabled}}">
                      <label class="control-label" ng-show="add_patient_form.username.$dirty && (add_patient_form.username.$error.required || errordetail.username)">Username is required.</label>
                      <label class="control-label" ng-show="add_patient_form.username.$error.pattern">Username must be letters and numbers only.</label>
                        <label class="control-label" ng-show="!add_patient_form.username.$error.required && !add_patient_form.username.$error.pattern && (add_patient_form.username.$error.minlength || add_patient_form.username.$error.maxlength) && add_patient_form.username.$dirty">Username must be between 5 and 30 characters.</label>
                      <label class="control-label" ng-show="add_patient_form.username.$dirty && (errordetail.usernameexist)">Username already exist, please try another</label>
                      
                    </div>

                    <label>Date of Birth<span class="asterisk">*</span></label>
                    <div class="form-group date" ng-class="{'has-error':add_patient_form.dob.$dirty && (add_patient_form.dob.$error.required || add_patient_form.dob.$error.pattern || errordetail.dob)}">
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                      <!--<input type="text" name="dob" class="form-control"  ng-model="user.dob" placeholder="mm/dd/yyyy" id="datepicker" required>-->
                      <datepicker date-format="MM/dd/yyyy" date-min-limit={{minDate}} button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" button-prev-title="previous month" button-next-title="next month" date-set-hidden="true" date-max-limit={{maxDate}}>
                        <input ng-model="user.dob" type="text" class="form-control" name="dob" placeholder="mm/dd/yyyy" id="datepicker" required ng-pattern="/^[0,1]?\d{1}\/(([0-2]?\d{1})|([3][0,1]{1}))\/(([1]{1}[9]{1}[0-9]{1}\d{1})|([2-9]{1}\d{3}))$/" readonly />
                      </datepicker>
                    </div>
                    <label class="control-label" ng-show="add_patient_form.dob.$dirty && (add_patient_form.dob.$error.required || errordetail.dob)">Date of Birth is required.</label>
                    <label class="control-label" ng-show="add_patient_form.dob.$dirty && (add_patient_form.dob.$error.pattern)">Please enter valid Date of Birth.</label>
                  </div>
                    
                    <label>EMR Number<span class="asterisk">*</span></label>
                    <div class="form-group" ng-class="{'has-error':add_patient_form.emr_no.$dirty && (add_patient_form.emr_no.$error.required || (add_patient_form.emr_no.$error.minlength || add_patient_form.emr_no.$error.maxlength) || errordetail.emr_no)}">
                      <input type="text" name="emr_no" class="form-control" ng-model="user.emr_no" placeholder="Enter EMR Number" ng-minlength="5" ng-maxlength="20" required>
                      <label class="control-label" ng-show="add_patient_form.emr_no.$dirty && (add_patient_form.emr_no.$error.required || errordetail.emr_no)">EMR Number is required.</label>
                      <label class="control-label" ng-show="!add_patient_form.emr_no.$error.required && (add_patient_form.emr_no.$error.minlength || add_patient_form.emr_no.$error.maxlength) && add_patient_form.emr_no.$dirty">EMR Number must be between 5 and 20 characters.</label>
                    </div>

                    <label for="recipient-name" class="control-label">Assign Caregiver </label>&nbsp;<a href="" title="Add new caregiver" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i></a>
                    
                    <div class="form-group">
                      <select class="form-control" name='caregiver' id='caregiver' ng-model="user.caregiver" ng-options="opt1._id as (opt1.first_name  + ' '  + opt1.last_name + ' ( ' + opt1.email + ' )' ) for opt1 in caregivers">
                          <option value="">--No caregiver required--</option>
                      </select>
                      
                    </div>
                    

                    <label for="inputName" class="control-label">Phone Number</label><span class="asterisk">*</span>
                    <div class="form-group custom-form-group" ng-class="{'has-error':add_patient_form.phone.$invalid && !add_patient_form.phone.$pristine}">
                      <div class="input-group">
                          <div class="input-group-addon">
                              +1
                          </div>
                          <input type="text" class="form-control" ng-model="user.phone" mask="(999) 999-9999" name="phone" mask-clean='true' placeholder="(xxx) xxx-xxxx" mask-restrict='reject' required>
                      </div>
                      <label class="control-label" ng-show="add_patient_form.phone.$invalid && !add_patient_form.phone.$pristine">Phone number is invalid.</label>
                      <!-- <label class="control-label" ng-show="add_patient_form.phone.$dirty && (add_patient_form.phone.$error.required || add_patient_form.phone.$error.parse)">Phone number is required.</label>
                      <label class="control-label" ng-show="add_patient_form.phone.$dirty && (add_patient_form.phone.$error.minlength || add_patient_form.phone.$error.maxlength)">Phone number must be 10 digits.</label> -->
                    </div>
                        
                    <br/>
                    <!-- <div class="form-group">
                      <label>
                        <input type="checkbox" name='is_status'  ng-model='user.is_status' checked="{{enableChecked}}"/>
                        Active Patient
                      </label>
                    </div> -->
                   <input type="hidden" id="user_type" name="user.user_type" ng-model="user.user_type" ng-init="user.user_type=3"/>
                   <input type="hidden" id="patient_type" name="user.patient_type" ng-model="user.patient_type" ng-init="user.patient_type=0"/>
                  </div>
                  <div class="box-footer">
                      <button type="submit" class="btn m_lft5 btn-success pull-right" ng-disabled="add_patient_form.$invalid">Submit</button>
                      <a href="/#/patients"><button class=" btn btn-warning pull-right">Cancel</button></a>
                  </div>
                </form>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div><!-- /.tab-content -->
</section><!-- /.content -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center" id="myModalLabel">Add new caregiver</h3>
       
      </div>
      <div class="modal-body">
        <form role="form" name="add_caregiver_form" id="add_caregiver_form" ng-submit="addCaregiver()" class="normalFont">
            <div class="box-body">
              <label>First Name<span class="asterisk">*</span></label>
              <div class="form-group" ng-class="{'has-error':add_caregiver_form.first_name.$dirty && (add_caregiver_form.first_name.$error.required || cgErrorDetail.first_name || add_caregiver_form.first_name.$error.pattern)}">
               <input type="text" name="first_name" class="form-control" ng-model="caregiver.first_name" placeholder="Enter Firstname" ng-pattern="/^[a-zA-Z\s]*$/" required>
                <label class="control-label" ng-show="add_caregiver_form.first_name.$dirty && (add_caregiver_form.first_name.$error.required || cgErrorDetail.first_name)">First name is required.</label>
                <label class="control-label" ng-show="add_caregiver_form.first_name.$error.pattern">First name must be in characters.</label>
              </div>
              <label>Last Name<span class="asterisk">*</span></label>
              <div class="form-group" ng-class="{'has-error':add_caregiver_form.last_name.$dirty && (add_caregiver_form.last_name.$error.required || cgErrorDetail.last_name || add_caregiver_form.last_name.$error.pattern)}">
                <input type="text" name="last_name" class="form-control" ng-model="caregiver.last_name" placeholder="Enter Lastname" ng-pattern="/^[a-zA-Z\s]*$/" required>
                <label class="control-label" ng-show="add_caregiver_form.last_name.$dirty && (add_caregiver_form.last_name.$error.required || cgErrorDetail.last_name)">Last name is required.</label>
                <label class="control-label" ng-show="add_caregiver_form.last_name.$error.pattern">Last name must be in characters.</label>
              </div>
              <label>Email<span class="asterisk">*</span></label>
              <div class="form-group" ng-class="{'has-error':add_caregiver_form.email.$dirty && (add_caregiver_form.email.$error.pattern || add_caregiver_form.email.$error.required || cgErrorDetail.emailexist)}">
                    <input type="email" name="email" class="form-control"  ng-model="caregiver.email" placeholder="Enter Email" required ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                    <label class="control-label" ng-show="add_caregiver_form.email.$dirty && (add_caregiver_form.email.$error.required || cgErrorDetail.email)">Email is required.</label>
                    <label class="control-label" ng-show="add_caregiver_form.email.$dirty && add_caregiver_form.email.$error.pattern" >Email is invalid.</label>
              </div>
              <label>Username<span class="asterisk">*</span></label>
              <div class="form-group" ng-class="{'has-error':add_caregiver_form.username.$dirty && (add_caregiver_form.username.$error.required || add_caregiver_form.username.$error.pattern || (add_caregiver_form.username.$error.minlength || add_caregiver_form.username.$error.maxlength) || cgErrorDetail.username || cgErrorDetail.usernameexist)}">
                <input type="text" name="username" class="form-control"  ng-model="caregiver.username" placeholder="Enter Username" ng-pattern="/^[a-zA-Z0-9]*$/" ng-trim="false" ng-minlength="5" ng-maxlength="30" required>
                <label class="control-label" ng-show="add_caregiver_form.username.$dirty && (add_caregiver_form.username.$error.required || cgErrorDetail.username)">Username is required.</label>
                <label class="control-label" ng-show="add_caregiver_form.username.$error.pattern">Username must be letters and numbers only.</label>
                <label class="control-label" ng-show="!add_caregiver_form.username.$error.required && !add_caregiver_form.username.$error.pattern && (add_caregiver_form.username.$error.minlength || add_caregiver_form.username.$error.maxlength) && add_caregiver_form.username.$dirty">Username must be between 5 and 30 characters.</label>
              </div>
              
              <div class="form-group">
                <label>
                  <input type="checkbox" name='is_status'  ng-model='caregiver.is_status' checked="{{enableChecked}}"/>
                  Link Caregiver to app
                </label>
              </div>
              <input type="hidden" id="user_type" name="caregiver.user_type" ng-model="caregiver.user_type" ng-init="caregiver.user_type=4"/>
            </div>
             <div class="box-footer modal-footer">
                <button type="submit" class="btn bg-olive" ng-disabled="add_caregiver_form.$invalid">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>
        </form>
    </div>
    </div>
  </div>
</div><!-- ./Modal -->

<script type="text/javascript" ng-if="modalClose">
    $('.modal').modal('hide');
</script>
</aside><!-- /.right-side -->
