<aside class="right-side" ng-init="getCheckInData()">

<div ng-if="showloader" >
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div>
    <!-- Content Header (Page header) -->
    <section class="content-header" ng-cloak>
      <h1>Check-in - {{userDetails.first_name + " " + userDetails.last_name}}</h1>
      <ol class="breadcrumb">
        <li><a href="/#/home"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="/#/patients">Users</a></li> 
        <li>Check in</li>                      
      </ol>
    </section>
    <!-- Main content -->
    <section class="content" ng-show="showNorecord" ng-cloak>
      <div class="clearfix">
        <div class="pull-left m_btm15">This page becomes active once you see your clinician. Thanks for your patience!</div>
        <div  class="clearfix"></div>
      </div>
    </section>
    <section class="content" ng-show="checkinExist" ng-cloak>
      <div class="clearfix">
        <div class="pull-left m_btm15">You have already submitted your check in data for today.</div>
        <div  class="clearfix"></div>
      </div>
    </section>
    <section class="content" ng-show="showGoalAvailable" ng-cloak>
      <div class="row">
        <div class="col-md-12">
          <!-- Custom Tabs -->
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-body table-responsive">  
                <div flash-message="5000"></div>
                  <!--<div class="alert alert-danger alert-dismissable" ng-show="message"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>-->
                    <form role="form" ng-submit="submitCheckInData()">
                      <div class="box-body">
                        <h3 ng-show="dailyMetricAvailable"><span class="check_in_label">Daily Metrics Summary</span></h3>
                        <div class="row" ng-repeat="dailygoals in daily_metric_data" ng-show="dailyMetricAvailable">
                          <div class="col-xs-6 col-sm-9">
                            <label class="check_in_Text">{{dailygoals.goal_question}}</label>
                          </div>
                          <div class="col-xs-6 col-sm-3 textAlign">
                            <input type="checkbox" data-off-color="warning" data-on-color="success" data-on-text="YES" data-off-text="No" ng-model="dailygoals.checked" bootstrap-switch> 
                          </div>
                          <hr>
                        </div>
                        <!-- General Questions Starts-->
                        <div class="row">
                          <div class="col-xs-2 col-sm-1 optOutDiv">
                            <span class="check_in_label">Opt out</span>
                          </div>
                          <div class="col-xs-4 col-sm-2 optOutDiv">
                            <span class="check_in_label">General</span>
                          </div>
                          <div class="col-xs-6 col-sm-9 optOutDiv">
                            &nbsp;
                          </div>
                        </div>
                        <br />
                        <div class="row" ng-repeat="generalQuestion in generalQuestionCheckIn">
                          <br />
                          <div class="col-xs-2 col-sm-1">
                            <input type="checkbox" i-check-green ng-model="generalQuestion.is_optout">
                          </div>
                          <div class="col-xs-5 col-sm-8">
                            <label class="check_in_Text" ng-bind="generalQuestion.title"></label>
                          </div>
                          <div class="col-xs-5 col-sm-3 textAlign" ng-show="!generalQuestion.is_optout">
                            <input type="checkbox" data-off-color="warning" data-on-color="success" data-on-text="YES" data-off-text="No" ng-model="generalQuestion.checked" bootstrap-switch>
                          </div>
                        </div>
                        <!-- General Questions Ends-->

                        <br />
                        <div class="row" ng-repeat= "staticQuestion in staticQuestions">
                          <div class="col-xs-5 col-sm-9">
                            <label for="input-7-sm" class="check_in_Text">{{staticQuestion.title}}</label>
                          </div>
                          <div class="col-xs-7 col-sm-3 textAlign" >
                           <span reevio-rating="staticQuestion.rating" reevio-rating-length="5" ng-click="staticQuestionCheckIn(staticQuestion)"></span><span class="lead"> Answer : {{staticQuestion.rating}}</span>
                            <!--<input class="input-id" type="text" class="rating">-->
                            <div class="clearfix"></div>
                          </div>
                          <hr>
                        </div>
                        <h3 ng-show="weeklyMetricAvailable"><span class="check_in_label">Weekly Metrics Summary</span></h3>
                        <div class="row" ng-repeat="weekly in weeklyMetricData" ng-show="weeklyMetricAvailable">
                          <div class="col-xs-6 col-sm-9">
                            <label for="input-7-sm" class="check_in_Text">{{weekly.goal_question}}</label>
                          </div>
                          <div class="col-xs-6 col-sm-3 textAlign">
                        <span reevio-rating="weekly.rating" reevio-rating-length="5" ng-click="weeklyCheckIn(weekly)"></span><span class="lead"> Answer : {{weekly.rating}}</span>
                        <!--<input class="input-id" type="text" class="rating" data-size="sg" >-->
                          </div>
                          <hr>
                        </div>
                      </div>
                       <div class="box-footer clearfix no-border">
                        <button type="submit" class="btn bg-olive m_lft5 pull-right">Update</button>
                          <a href="/#/patients" class=" btn  btn-warning pull-right">Cancel</a>

                          
                      </div>
                    </form>              
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div  class="tab-pane"  ng-class="{'active': activeTab === 1}" id="tab_2">
          </div><!-- /.tab-pane -->
        </div><!-- /.tab-content -->
    </section><!-- /.content -->
</aside><!-- /.right-side -->
<script id="patients/views/rating.html" type="text/ng-template">
<span class="reevio-rating {{(disabled==true)?'disabled':''}} {{(userChoice==true)?'userchoice':''}}" ng-mouseout="starHover($index)" >
  <span ng-repeat="item in stars track by $index" ng-mouseover="starHover($index)" ng-click="starClick($index)" class="{{(value-1>=$index)?'active':''}} {{(hoverValue-1>=($index))?'hoveractive':''}} reevio-rating-star glyphicon glyphicon-star"></span>
  <input ng-model="value" type="number"/>
</span>
</script>
<script type="text/javascript">
    //$("#input-id").rating();
    //$(".input-id").rating({'size':'sg'});
</script>