<aside class="right-side" ng-init="getGeneralQuestionsData()">

<div ng-if="showloader" >
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div>
  <!-- Content Header (Page header) -->
    <section class="content-header" ng-cloak>
      <h1>General Questions - {{STATE_PARAM.fname + " " + STATE_PARAM.lname}} </h1>
      <ol class="breadcrumb">
        <li><a href="/#/home"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="/#/patients">Users</a></li>
        <li>General Question</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content" ng-cloak>
      <div class="row">
        <div class="col-xs-12">

          <div class="box">
            <div class="box-body table-responsive">
              <div flash-message="5000"></div>
              <form class="form-horizontal" role="form" ng-submit="submitGeneralAnswer()">
                <div class="box-body">
                        <h3>
                            <div class="col-xs-6">
                              <span class="label label-info">General</span>
                            </div>
                            <div class="col-xs-6">
                              <span class="label label-info">Opt out</span>
                            </div>
                        </h3>
                        <br>
                        <br>
                        <div class="form-group row" ng-repeat="generalQuestion in generalQuestionType">
                          <div class="col-xs-6">
                            <label>{{generalQuestion.title}}</label>
                          </div>
                          <div class="col-xs-6">
                            <input type="checkbox" data-off-color="warning" data-on-color="success" data-on-text="YES" data-off-text="No" ng-model="generalQuestion.checked" bootstrap-switch> 
                          </div>
                        </div>
                </div>
                 <div class="box-footer">
                      <button type="submit" class="btn bg-olive pull-right">{{BtnText}}</button>
                      <a href="/#/patients"><button class=" btn m_lft5  btn-warning pull-right">Cancel</button></a>
                   </div>
              </form>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
        Note : All the General Questions with value Yes will not show in the check in screen.
        </div>
      </div>
    </section><!-- /.content -->
  </aside><!-- /.right-side -->