<aside class="right-side" ng-init="getAdminPatients()">

<div ng-if="showloader" >
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div>
	<!-- Content Header (Page header) -->
	<section class="content-header" ng-cloak>
		<h1>Users <span class="normalFont">(Patients & Caregivers)</span></h1>
		<ol class="breadcrumb">
			<li><a href="/#/adminhome"><i class="fa fa-dashboard"></i> Dashboard</a></li>
			<li>Users</li>
		</ol>
	</section>
	<!-- Main content -->

	<section class="content" ng-show="errorMessageAvailable" ng-cloak>
		<div class="row">
			<div class="col-xs-12">
				{{noDataMessage}}
			</div>
		</div>
	</section>
	<section class="content" ng-show="DataAvailable" ng-cloak>
		<div class="row">
			<div class="col-xs-12">
				<div class="box-body table-responsive">
					<div class="box">
						<div class="loader" ng-show="imLoading">
							<div class="im_loading"></div>
						</div>
						<div class="box-body table-responsive">
							<div class="clearfix" style="padding-bottom:15px;">
								<div class="box-body table-responsive">
									<div class="clearfix">
										<form role="form">
											<div class="row">
                        <!--<div class="form-group col-lg-2 col-sm-12">
													<label>Search by: </label>
												</div>-->
												<!--<div class="form-group col-lg-6 col-sm-12">-->
												<!--	<input class="form-control" type="text" ng-model="query" placeholder="Search by First name, Last name" title="Search by First name, Last name" />-->
												<!--</div>-->
                        <!--<div class="form-group col-lg-6 col-sm-12">&nbsp;</div>-->
											</div>
											<!-- Showing {{ ((tableParams.page()-1) * (tableParams.count()) ) + ($index + 1) }} of {{tableParams.total()}} records -->
											<table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="filterAvailable">
												<colgroup>
													<col width="5%" />
													<col width="4%" />
													<col width="13%" />
													<col width="14%" />
													<col width="13%" />
													<col width="12%" />
													<col width="14%" />
													<col width="10%" />
													<col width="12%" />
												</colgroup>
												<tr ng-repeat="user in $data | filter: search">
													<td data-title="'#'">{{ ((tableParams.page()-1) * (tableParams.count()) ) + ($index + 1) }}.
													<!-- <input type="text" ng-model="{{((tableParams.page()-1) * (tableParams.count()) ) + ($index + 1)}}" /> -->
													</td>
													<td data-title="'Status'" align='center'>
														<div ng-if="user.is_status==true"><img src='images/enable.png' border='0'></div>
														<div ng-if="user.is_status==false"><img src='images/disable.png' border='0'></div>
													</td>
													<td title="Patient Details" data-title="'First Name'" filter="{first_name:'text'}" align="left">{{user.first_name}}</td>

													<td data-title="'Last Name'" sortable="'last_name'" filter="{last_name:'text'}" align="left">{{user.last_name}}</td>

													<td data-title="'Appointment'" align="left" sortable="'next_appointment_date'" filter="{next_appointment_date:'text'}">
														<span ng-if="user.next_appointment_date">{{user.next_appointment_date}} {{convertTime(user.next_appointment_time)}}</span>
														<p style="text-align:center;" ng-if="!user.next_appointment_date">-</p>
													</td>
													<td data-title="'EMR#'" align="left" sortable="'emr_no'">
														<span ng-if="user.next_appointment_date">{{user.emr_no}}</span>
														<p style="text-align:center;" ng-if="!user.emr_no">-</p>
													</td>
													<td data-title="'User Type'" sortable="'user_type'" align="left">
														<span ng-if="user.user_type == 3" class="text-primary">Patient</span>
														<span ng-if="user.user_type == 4" class="text-success">Caregiver</span>
													</td>
													<td title="Parent Details" data-title="'Clinician'" sortable="'clinician_fullname'" align="left" filter="{'clinician_fullname':'text'}">{{user.clinician_fullname}}</td>
													
													<td class="actionicons" data-title="'Assigned to'" align="left">
														<span ng-if="user.user_type ==3" title="Caregiver Details">{{user.caregiver.first_name}} {{user.caregiver.last_name}}</span>
														<span ng-if="user.user_type ==4" title="Patient Details">{{user.caregivers_patient_id.first_name}} {{user.caregivers_patient_id.last_name}}</span>
													</td>
												</tr>
											</table>
									</div>
									<!-- /.box-body -->
								</div>
								<!-- /.box -->
							</div>
						</div>

	</section>
	<!-- /.content -->
</aside>
<!-- /.right-side -->