<aside class="right-side" ng-init="getGoals()">
<div ng-if="showloader" >
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div>

  <!-- Content Header (Page header) -->
    <section class="content-header" ng-cloak>
      <h1>Goals - {{userDetails.first_name + " " + userDetails.last_name}}</h1>
      <ol class="breadcrumb">
        <li><a href="/#/home"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="/#/patients">Users</a></li>
        <li>Goals</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content" ng-cloak>
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-body table-responsive">
              <div class="clearfix">
                <div class="pull-left m_btm15">
<a align='right' class="btn btn-primary btn-responsive" href="/#/goals/addpatientgoal/{{STATE_PARAM.id}}/{{STATE_PARAM.type}}">Add New Goal</a>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix" ng-show="showNorecord">
                <div class="pull-left m_btm15">No goals for this user</div>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix" ng-if="showNextSession">
                <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible">
                    <tr>
                      <!-- <th>Sr. No.</th> -->
                      <th class="width80">Next Session Goals - Process</th>
                      <th class="width80">See Goal Details</th>
                    </tr>
                      <tr ng-repeat = "nextSessionGoals in $data" ng-if="nextSessionGoals.goal_type_id =='1'">
                        <!-- <td></td> -->
                        <td align="left">{{nextSessionGoals.title}}</td>
                        <td class="actionicons" header="">
                            <a href="/#/goals/edit/{{nextSessionGoals._id}}/{{STATE_PARAM.id}}"><i title="Edit Goal" class="fa fa-edit"></i></a>&nbsp;&nbsp;&nbsp; 
                            <a ng-click="delGoal(nextSessionGoals._id,nextSessionGoals.title);" alt="Click to delete" title="Delete Goal"><i class="fa fa-trash-o"></i></a>&nbsp;&nbsp;&nbsp;
                        </td>
                      </tr>
                  </table>
              </div>
              <p></p>
              <div class="clearfix" ng-if="showMidTerm">
                <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible">
                  <tr>
                    <!-- <th>Sr. No.</th> -->
                    <th class="width80">Patient Midterm Goals - Progress</th>
                    <th class="width80">See Goal Details</th>
                  </tr>
                  <tr ng-repeat = "midTermsGoals in $data" ng-if="midTermsGoals.goal_type_id =='2'">
                   <!--  <td>{{$index}}</td> -->
                    <td align="left">{{midTermsGoals.title}}</td>
                    <td class="actionicons" header="">
                        <a href="/#/goals/edit/{{midTermsGoals._id}}/{{STATE_PARAM.id}}"><i title="Edit Goal" class="fa fa-edit"></i></a>&nbsp;&nbsp;&nbsp; 
                          <a ng-click="delGoal(midTermsGoals._id,midTermsGoals.title);" alt="Click to delete" title="Delete Goal"><i class="fa fa-trash-o"></i></a>&nbsp;&nbsp;&nbsp;
                    </td>
                  </tr>
                </table>
              </div>
              <p></p>
              <div class="clearfix" ng-if="showTherapy">
                <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible">
                  <tr>
                    <!-- <th>Sr. No.</th> -->
                    <th class="width80">Therapy Goals - Problems</th>
                    <th class="width80">See Goal Details</th>
                  </tr>
                  <tr ng-repeat = "therapyGoals in $data" ng-if="therapyGoals.goal_type_id =='3'">
                    <!-- <td></td> -->
                    <td align="left">{{therapyGoals.title}}</td>
                    <td class="actionicons" header="">
                          <a href="/#/goals/edit/{{therapyGoals._id}}/{{STATE_PARAM.id}}"><i title="Edit Goal" class="fa fa-edit"></i></a>&nbsp;&nbsp;&nbsp; 
                          <a ng-click="delGoal(therapyGoals._id,therapyGoals.title);" alt="Click to delete" title="Delete Goal"><i class="fa fa-trash-o"></i></a>&nbsp;&nbsp;&nbsp;
                      </td>
                  </tr>
                </table>
              </div>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
      </div>
    </section><!-- /.content -->
  </aside><!-- /.right-side -->