<aside class="right-side" ng-init="getAllPatients()">
  <div ng-if="showloader" >
    <div class="loader-image">
      <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
  </div>
  <!-- Content Header (Page header) -->
  <section class="content-header" ng-cloak>
    <h1>Users <span class="normalFont">(Patients & Caregivers)</span></h1>
    <ol class="breadcrumb">
      <li><a href="/#/home"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li>Users</li>                       
    </ol>
  </section>
    <section class="content" ng-show="noPatients" ng-cloak>
      <div class="row">
          <div class="col-xs-12">
            <div class="box">
            <div class="box-body table-responsive">
              <div class="clearfix">
                <div class="pull-left m_btm15">
                    <a href='/#/patients/add' align='right' class="btn btn-primary btn-responsive">Intake Input</a>
                </div>
                <div class="pull-left m_btm15 btn_margin">
                  <a href='/#/patients/addop' align='right'  class="btn btn-primary btn-responsive">Remote Input</a>
                </div>
                <div class="pull-left m_btm15 btn_margin">
                  <a href='/#/patients/addcaregiver' align='right'  class="btn btn-primary btn-responsive">Add Caregiver</a>
                </div>
              </div>
                <div class="m_btm15">
                  <span class="vAlign">Filter by Last Name :</span>
                  <a href='/#/patients/search/a' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'a')}">A</a>
                  <a href='/#/patients/search/b' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'b')}">B</a>
                  <a href='/#/patients/search/c' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'c')}">C</a>
                  <a href='/#/patients/search/d' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'd')}">D</a>
                  <a href='/#/patients/search/e' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'e')}">E</a>
                  <a href='/#/patients/search/f' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'f')}">F</a>
                  <a href='/#/patients/search/g' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'g')}">G</a>
                  <a href='/#/patients/search/h' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'h')}">H</a>
                  <a href='/#/patients/search/i' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'i')}">I</a>
                  <a href='/#/patients/search/j' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'j')}">J</a>
                  <a href='/#/patients/search/k' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'k')}">K</a>
                  <a href='/#/patients/search/l' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'l')}">L</a>
                  <a href='/#/patients/search/m' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'm')}">M</a>
                  <a href='/#/patients/search/n' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'n')}">N</a>
                  <a href='/#/patients/search/o' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'o')}">O</a>
                  <a href='/#/patients/search/p' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'p')}">P</a>
                  <a href='/#/patients/search/q' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'q')}">Q</a>
                  <a href='/#/patients/search/r' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'r')}">R</a>
                  <a href='/#/patients/search/s' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 's')}">S</a>
                  <a href='/#/patients/search/t' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 't')}">T</a>
                  <a href='/#/patients/search/u' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'u')}">U</a>
                  <a href='/#/patients/search/v' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'v')}">V</a>
                  <a href='/#/patients/search/w' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'w')}">W</a>
                  <a href='/#/patients/search/x' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'x')}">X</a>
                  <a href='/#/patients/search/y' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'y')}">Y</a>
                  <a href='/#/patients/search/z' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'z')}">Z</a>
                  <a href='/#/patients/search/' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === '')}">All</a>
                </div>
              </div>
              <div class="row scrollDisabled">
                <div class="col-xs-12">
                    No Users are available.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <!-- Main content -->
  <section class="content" ng-show="patientExist" ng-cloak>
      <div class="row">
          <div class="col-xs-12">
                <div class="box">
                   <!--  <div class="clearfix" style="padding-bottom:15px;"> -->
                      <div class="box-body table-responsive">
                        <div class="clearfix">
                          <div class="pull-left m_btm15">
                          <a href='/#/patients/add' align='right' class="btn btn-primary btn-responsive">Intake Input</a>
                          </div>
                          <div class="pull-left m_btm15 btn_margin">
                          <a href='/#/patients/addop' align='right'  class="btn btn-primary btn-responsive">Remote Input</a>
                          </div>
                          <div class="pull-left m_btm15 btn_margin">
                          <a href='/#/patients/addcaregiver' align='right'  class="btn btn-primary btn-responsive">Add Caregiver</a></div>
                        </div>
                          <div class="m_btm15">
                            <span class="vAlign">Filter by Last Name :</span>
                            <a href='/#/patients/search/a' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'a')}">A</a>
                            <a href='/#/patients/search/b' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'b')}">B</a>
                            <a href='/#/patients/search/c' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'c')}">C</a>
                            <a href='/#/patients/search/d' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'd')}">D</a>
                            <a href='/#/patients/search/e' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'e')}">E</a>
                            <a href='/#/patients/search/f' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'f')}">F</a>
                            <a href='/#/patients/search/g' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'g')}">G</a>
                            <a href='/#/patients/search/h' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'h')}">H</a>
                            <a href='/#/patients/search/i' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'i')}">I</a>
                            <a href='/#/patients/search/j' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'j')}">J</a>
                            <a href='/#/patients/search/k' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'k')}">K</a>
                            <a href='/#/patients/search/l' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'l')}">L</a>
                            <a href='/#/patients/search/m' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'm')}">M</a>
                            <a href='/#/patients/search/n' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'n')}">N</a>
                            <a href='/#/patients/search/o' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'o')}">O</a>
                            <a href='/#/patients/search/p' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'p')}">P</a>
                            <a href='/#/patients/search/q' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'q')}">Q</a>
                            <a href='/#/patients/search/r' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'r')}">R</a>
                            <a href='/#/patients/search/s' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 's')}">S</a>
                            <a href='/#/patients/search/t' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 't')}">T</a>
                            <a href='/#/patients/search/u' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'u')}">U</a>
                            <a href='/#/patients/search/v' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'v')}">V</a>
                            <a href='/#/patients/search/w' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'w')}">W</a>
                            <a href='/#/patients/search/x' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'x')}">X</a>
                            <a href='/#/patients/search/y' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'y')}">Y</a>
                            <a href='/#/patients/search/z' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === 'z')}">Z</a>
                            <a href='/#/patients/search/' class="btn btn-primary customSearchBtn" ng-class="{'btn-purple': (searchKey === '')}">All</a>
                          </div>

                         <!-- Filter Records on the basic of user type added by RaJesh -->
                          <div class="row">
                            <div class="col-md-5 col-lg-3">
                              <div class="m_btm15" ng-show="filterAvailable">
                                <!--Filter by User Type :-->
                                Filter by :
                                <select class="filterSelect" ng-model="filterItem.store" ng-options="item.name for item in filterOptions.stores" ng-change="filterData(filterItem.store)">
                                </select>
                              </div>
                            </div>
                            <div class="col-md-7 col-lg-9">
                                <div class="pull-right2">
                                  <div class="legend-block custom_Legend_320px">
                                    <span class="legend-label legendMargin">Legend:</span>
                                    <div class="legend-desc legendMargin"><i title="Patient Goals" class="fa fa-bullseye blue-legends greenIcon"></i>  Goals</div>
                                    <div class="legend-desc legendMargin"><i title="Edit Patient" class="blue-legends fa fa-pencil yellowIcon"></i> Edit</div>
                                    <div class="legend-desc legendMargin"><i title="Patient Check-in" class="fa fa-check-square-o blue-legends orangeredIcon"></i> Check-in</div>
                                    <div class="legend-desc legendMargin"><i title="State of Mind" class="blue-legends fa fa-smile-o purpleIcon"></i> State</div>
                                    <div class="legend-desc legendMargin"><i title="Probability" class="blue-legends fa fa-dot-circle-o blueIcon"></i> Probability</div>
                                    <div class="legend-desc legendMargin"><img src='images/enable.png' border='0'> Active</div>
                                    <div class="legend-desc legendMargin"><img src='images/disable.png' border='0'> Inactive</div>
                                </div>
                              </div>
                            </div>

                          </div>
                          <br />
                          <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible">
                            <colgroup>
                              <col width="5%"/>
                              <col width="5%"/>
                              <col width="5%"/>
                              <col width="15%"/>
                              <col width="20%"/>
                              <col width="20%"/>
                              <col width="10%"/>
                              <col width="15%"/>
                              <col width="5%"/>
                            </colgroup>

                            <tr ng-repeat = "user in $data" ng-show="DataAvailable">
                              <td data-title="'Select'" header="'headerCheckbox.html'"><input type='checkbox' ng-model="checkboxes.items[user._id]" ng-change="toggleSelection(user._id)" /></td>
                              <td data-title="'#'">{{ ((tableParams.page()-1) * 10) + ($index + 1) }}.</td>
                               <td data-title="'Status'" align='left'>
                                            
                                                <span ng-if="user.is_status==true"><img src='images/enable.png' border='0' title="Active"></span>
                                                <span ng-if="user.is_status==false"><img src='images/disable.png' border='0' title="Inactive"></span>
                                            </span>
                                           
                                        </td>

                                
                                <td ng-click="getDetails(user)" data-toggle="modal" data-target="#myModal" title="Patient Details" sortable="'first_name'" data-title="'First Name'" filter="{first_name:'text'}" align="left"><a class="actionicons" href="/#/patients">{{user.first_name}}</a></td>
                                <td data-title="'Last Name'" sortable="'last_name'" filter="{last_name:'text'}" align="left">{{user.last_name}}</td>
                                <td ng-click="getMissedCheckIn(user)" data-toggle="modal" data-target="#myModal1" title="Missed Check-In Days" data-title="'Missed Check-In'" align="center"><a class="actionicons">View</a>
                                </td>
                                <!-- <td ng-click="getDetails(user)" data-toggle="modal" data-target="#myModal" title="Patient Details" data-title="'First Name'" filter="{first_name:'text'}" align="left"><a class="actionicons">View</a></td> -->
                                <td data-title="'Appointment'" align="left">
                                  <span ng-if="user.next_appointment_date">{{user.next_appointment_date}}  {{convertTime(user.next_appointment_time)}}</span>
                                  <p style="text-align:center;" ng-if="!user.next_appointment_date">-</p>
                                </td>
                                <td data-title="'EMR#'" align="left">
                                  <span ng-if="user.emr_no">{{user.emr_no}}</span>
                                  <p style="text-align:center;" ng-if="!user.emr_no">-</p>
                                </td>
                                <td data-title="'User Type'" sortable="'user_type'" filter="{user_type:'text'}" align="left">
                                  <span ng-if="user.user_type == 3" class="text-warning">Patient</span>
                                  <span ng-if="user.user_type == 4" class="text-success">Caregiver</span>
                                </td>

                                <td class="actionicons" data-title="'Assigned to'" align="left">
                                  <a class="actionicons"><span ng-if="user.user_type ==3" ng-click="getAssignedDetails(user)" data-toggle="modal" data-target="#myModal" title="Caregiver Details">{{user.caregiver.first_name}} {{user.caregiver.last_name}}</span></a>
                                  <a class="actionicons">
                                  <span ng-if="user.user_type ==4" ng-click="getAssignedDetails(user)" data-toggle="modal" data-target="#myModal" title="Patient Details">{{user.caregivers_patient_id.first_name}} {{user.caregivers_patient_id.last_name}}</span>
                                  </a>
                                </td>
                 
                              <td data-title="'Actions'">
                                 <a href="/#/patients/goals/{{user._id}}/{{user.user_type}}">
                                  <i title="Goals" class="fa fa-bullseye greenIcon"></i></a>
                                 <a href="/#/patients/edit/{{user._id}}" ng-if="user.user_type==3" alt="Click to edit" title="Click to edit"><i class="fa fa-pencil yellowIcon"></i></a>
                                  <a href="/#/patients/editCaregiver/{{user._id}}" ng-if="user.user_type==4" alt="Click to edit" title="Click to edit"><i class="fa fa-pencil yellowIcon"></i></a>
                                  <a href="/#/patients/check-in/{{user._id}}/{{user.user_type}}" ng-if="user.user_type == 3"><i title="Patient Check-in" class="fa fa-check-square-o orangeredIcon"></i></a>
                                  <a href="/#/patients/stateofmind/{{user._id}}/{{user.user_type}}" ng-if="user.user_type == 3"><i title="State of Mind" class="fa fa-smile-o purpleIcon"></i></a>
                                  <a href="/#/patients/probability/{{user._id}}/{{user.user_type}}" ng-if="user.user_type == 3"><i title="Probability" class="fa fa-dot-circle-o blueIcon"></i></a>
                                  
                              </td>
                            </tr>
                            <tr ng-show="errorMessageAvailable" ng-class="danger">
                                <td class="center" colspan="11">{{noDataMessage}}</td>
                            </tr>
                               <tr ng-hide="errorMessageAvailable">
                                  <td colspan='11'>
                                   <div class="form-group">
                                    <select class="form-control selectedAction1" name='selectedAction' id='selectedAction'>
                                      <option value="0">Select Status</option>
                                      <option value="1">Active</option>
                                      <option value="2">Inactive</option>
                                      </select>  &nbsp;&nbsp;&nbsp; 
                                      <input type='button' name='go' value='Go' class='btn btn-success' ng-click="performAction()">
                                   </div>
                                 </td>
                            </tr>
                          </table>   
                         </div><!-- /.box-body -->
                      </div><!-- /.box -->
                  </div>
              </div>
  </section><!-- /.content -->
            </aside><!-- /.right-side -->
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-cloak>
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" ng-if="userData.user_type=='3'">Patient Details</h4>
                    <h4 class="modal-title" id="myModalLabel" ng-if="userData.user_type=='4'">Caregiver Details</h4>
                  </div>
                  <div class="modal-body">
                      <form>
                        <div class="form-group">
                          <label for="recipient-name" class="control-label">FirstName :</label>
                          {{userData.first_name}}
                        </div>
                        <div class="form-group">
                          <label for="message-text" class="control-label">LastName :</label>
                          <span align="right">{{userData.last_name}}</span>
                        </div>
                        <div class="form-group">
                          <label for="message-text" class="control-label">Username :</label>
                          <span align="right">{{userData.username}}</span>
                        </div>
                        <div class="form-group">
                          <label for="message-text" class="control-label">Email :</label>
                          {{userData.email}}
                        </div>
                        <div class="form-group" ng-if="userData.user_type == '3'">
                          <label for="message-text" class="control-label">Patient Type :</label>
                          <span ng-if="userData.patient_type == '0'">In Patient</span>
                          <span ng-if="userData.patient_type == '1'">Out Patient</span>
                        </div>
                        <div class="form-group" ng-if="userData.caregiver && userData.user_type==3">
                          <label for="message-text" class="control-label">Caregiver Assigned : </label>
                          {{userData.caregiver.first_name + " " + userData.caregiver.last_name}}
                        </div>
                        <div class="form-group" ng-if="!userData.caregiver && userData.user_type ==3">
                          <label for="message-text" class="control-label">Caregiver Assigned : </label>
                          NA
                        </div>

                        <div class="form-group" ng-if="userData.caregivers_patient_id && userData.user_type==4">
                          <label for="message-text" class="control-label">Patient Assigned : </label>
                          {{userData.caregivers_patient_id.first_name + " " + userData.caregivers_patient_id.last_name}}
                        </div>
                        <div class="form-group" ng-if="!userData.caregivers_patient_id && userData.user_type == 4">
                          <label for="message-text" class="control-label">Patient Assigned : </label>
                          NA
                        </div>
                        <div class="form-group" ng-if="userData.user_type==3 && userData.emr_no">
                          <label for="message-text" class="control-label">EMR# : </label>
                          {{userData.emr_no}}
                        </div>
                        <div class="form-group" ng-if="userData.user_type == 3 && userData.dob">
                          <label for="message-text" class="control-label">DOB :</label>
                            {{userData.dob | date}}
                        </div>
                      </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Missed Check in Modal -->
            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-cloak>
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Missed Check-in Days</h4>
                  </div>
                  <div class="modal-body">
                        <div class="form-group">
                          <span ng-repeat="ci in missedCheckdata.missedCheckIns"><span ng-if="$index != 0">,&nbsp;</span> {{ci}}</span>
                          <span ng-show="missedCheckdata.missedCheckIns == ''">Sorry! No missed checkins available.</span>
                        </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>


    <!-- page script -->
      <script type="text/ng-template" id="headerCheckbox.html">
          <input type="checkbox" data-ng-click="toggleSelection(0)" ng-model="checkboxes.checked" class="select-all" value="" />
      </script>
               