<!--<script src="javascripts/plugins/iCheck/icheck.js" type="text/javascript"></script>-->
<aside class="right-side" ng-init="getPatientProbability()">

  <div ng-if="showloader" >
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
  </div>

  <!-- Content Header (Page header) -->
    <section class="content-header" ng-cloak>
      <h1>Patient Probability - {{userDetails.first_name + " " + userDetails.last_name}} <span ng-if="assignedPatient" class="normalFont">( Submitted by - {{user_parent.first_name + " " + user_parent.last_name}} )</span></h1> 
      <ol class="breadcrumb">
        <li><a href="/#/home"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="/#/patients">Users</a></li>
        <li>Patient Probability</li>
      </ol>
    </section>
    <section class="content" ng-show="NoShowData" ng-cloak>
      <div class="clearfix">
        <div class="pull-left m_btm15">No data available for this patient</div>
        <div  class="clearfix"></div>
      </div>
    </section>
    <!-- Main content -->
    <form role="form" name="add_patient_probability" id="add_patient_probability" ng-submit="submitProabilityPage();" ng-show="DataAvailable">
    <section class="content" ng-cloak>
      <div class="row">
        <div class="col-xs-12">        
            <div class="row">
              <div class="col-xs-12 col-md-6">
                  <h4>Previous Assessment </h4>
                  <ul class="list-group">
                      <li ng-repeat="oneData in historyData" class="list-group-item">
                        <a href="/#/patients/probability/{{oneData.user}}/{{oneData._id}}/previous">Assessment on {{oneData.created_date | date:'medium'}}</a>
                      </li>
                      <li class="list-group-item" ng-if="previousAvailable">
                        NA
                      </li>
                  </ul>
              </div>
              <div class="col-xs-12 col-md-6">
                  <h4>Next</h4>
                    <ul class="list-group">
                        <li class="list-group-item"><b>Next Assessment: </b><span ng-if="assessmentDateAvailable">{{data[0].patient.next_assessment_date}}</span> <span ng-if="assessmentDateNotAvailable">NA</span></li>
                        <li class="list-group-item"><b> Next Appointment: </b>
                        <span ng-if="appointmentDateAvailable">{{data[0].patient.next_appointment_date}} {{convertTime(data[0].patient.next_appointment_time)}}</span> <span ng-if="appointmentDateNotAvailable">NA</span>
                        </li>
                        <!-- <li class="list-group-item">Monthly</li> -->
                    </ul>
                    <h4 ng-if="extraQuestionPer > 0">Extra Questions</h4>
                    <ul class="list-group" ng-if="extraQuestionPer > 0">
                        <li class="list-group-item"><b>Percentage: </b><span ng-bind="extraQuestionPer"></span></li>
                    </ul>
              </div>
              <!--<div class="clearfix"></div>-->
              <!--<div class="clearfix"></div>-->
            </div><!-- /.row -->
            
            <div class="row" ng-show="DataAvailable">
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <h4>Current : {{data[0].created_date | date:'medium'}}</h4>
                  <!-- <div id="top_x_div"></div> -->
                  <div google-chart chart="myChartObject" style="height:400px; width:100%;"></div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="table-responsive">
                  
                  <table class="table table-sm">
                    <thead>
                      <tr>
                          <th>Condition</th>
                          <th>Probability (0-100)</th>
                          <th>Severity (0-100)</th>
                          <th>Diagnose (check)</th>
                          <th>Target (check)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <input type="hidden" name="probability_id" ng-model="probability.patientassessment_id" ng-value="patientassessment_id"/>
                      <tr ng-repeat = "disease in currentData" ng-class="{true: 'diagnoseRow', false: ''}[disease.is_diagnosed == 1]">
                        <td>{{disease.disease.title}}</td>
                        <td>
                          <input type="text" class="form-control severityInput" name="severity" value="{{disease.posterior_probability}}" ng-disabled="true" />
                        </td>
                        <td>
                          <input type="text" class="form-control severityInput" name="severity" value="{{disease.severity_score}}" ng-disabled="true" />
                        </td>
                        <td>
                          <div class="form-group">
                            <label>
                              <!-- <input type="checkbox" ng-model="diagnose.selected[disease.disease._id]" class="flat-red" /> -->
                              <!-- <input i-check-green ng-checked="{{disease.is_diagnosed}}" type="checkbox" name="probability.diagnose" ng-model="probability.diagnose[disease.disease._id+'_'+disease.disease.title+'_'+disease.severity_score+'_'+disease.posterior_probability]"/> -->
                              <input i-check-green ng-model="disease.is_diagnosed" id="{{disease._id}}" type="checkbox"/>
                            </label>
                          </div>
                        </td>
                        <td>
                          <input i-check-green type="checkbox" name="probability.target" ng-model="probability.target[disease.disease._id+'_'+disease.disease.title+'_'+disease.severity_score+'_'+disease.posterior_probability]" />
                        </td>
                      </tr>
                      <tr>
                          <td colspan="4"><p>* Highlighted rows are the result of diagnose.</p></td>
                      </tr>
                     </tbody>
                  </table>
                </div>
              </div>
            </div><!-- /.row -->
            
            <div class="row" ng-show="DataAvailable">
              <!--<div class="col-xs-2">-->
              <!--    <div>OTHER</div>-->
              <!--</div>-->
              <div class="col-xs-11 col-sm-3">
                <div class="form-group">
                  <label for="exampleInputEmail1"><h4>Other</h4></label>
                  <input type="text" ng-name="other_data" class="form-control" id="other" ng-model="probability.other_data" placeholder="(Fill in)">
                </div>
              </div>
              <div class="col-xs-1 col-sm-9">&nbsp;</div>
            </div><!-- /.row -->
            
            <div class="row" ng-show="DataAvailable">
              <div class="col-xs-12"><h4>Key Factors</h4></div>
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <div class="checbox_input">
                    <input type='checkbox' ng-model="probability.keyfactor['Suicide Plan']" i-check-green ng-checked="{{isSuicidePlan}}" /> Suicide Plan <br/>
                    <input type='checkbox' ng-model="probability.keyfactor['Suicidal Behavior']" i-check-green ng-checked="{{isSuicideBehavior}}" /> Suicidal Behavior <br/>
                    <input type='checkbox' ng-model="probability.keyfactor['Physical Abuse']" i-check-green ng-checked="{{isPhysicalAbuse}}" /> Physical Abuse <br/>
                    <input type='checkbox' ng-model="probability.keyfactor['Sexual Abuse']" i-check-green ng-checked="{{isSexualAbuse}}" /> Sexual Abuse <br/>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <div class="checbox_input">
                    <input type='checkbox' ng-model="probability.keyfactor['Trauma']" i-check-green ng-checked="{{isTrauma}}" /> Trauma <br/>
                    <input type='checkbox' ng-model="probability.keyfactor['Alcohol']" i-check-green ng-checked"{{isAlcohol}}" /> Alcohol <br/>
                    <input type='checkbox' ng-model="probability.keyfactor['Other Substance']" i-check-green ng-checked="{{isOtherSubstance}}" /> Other Substance <br/>
                    <input type='checkbox' ng-model="probability.keyfactor['NSSI']" i-check-green ng-checked="{{isNSSI}}" /> NSSI <br/>
                  </div>
                </div>
              </div>
              <!--<div class="col-xs-9">&nbsp;</div>-->
            </div><!-- /.row -->
            
            <!--div class="row">
              <div class="col-xs-12">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary">Client Directory</button>
                  <button type="button" class="btn btn-primary">Goals</button>
                  <button type="button" class="btn btn-primary">Assessment</button>
                  <button type="button" class="btn btn-primary">State of Mind</button>
                </div>
              </div>
            </div--><!-- /.row -->
        <hr/>
           <div class="row">
            <div class="col-xs-12">
              <div class="box-footer clearfix no-border" ng-show="buttonShow">
                <!-- <a href="/#/patients" class=" btn m_lft5  btn-success pull-right">Update</a> -->
                <button type="submit" class="btn btn-primary btn m_lft5  btn-success pull-right">Submit</button>
                <a href="/#/patients" class=" btn m_lft5  btn-warning pull-right">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /.content -->
  </form>
  <!-- ************ Patient/Caregiver Submitted Questions & Answers Section ************* -->
  
  <div class="row" ng-if="isAssessmentData" ng-cloak>
    <div class="col-xs-12">
      <div class="col-xs-12">
          <div class="row panel-heading">
            <div class="col-xs-12">
              <div class="form-group text-center">
                <label>{{user_who_submitted_Assessment}}</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="table-responsive">
                <table class="table table-sm">
                  <thead>
                    <tr>
                        <th>Disorder</th>
                        <th>Question</th>
                        <th>Answer</th>
                        <th>Score</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat = "ad in assessmentData">
                      <td>{{(ad.disease_name)?ad.disease_name:"Extra Question"}}</td>
                      <td>{{ad.question_text}}</td>
                      <td>{{ad.answer_text}}</td>
                      <td>{{ad.answer_score}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  </aside><!-- /.right-side -->
  <script type="text/javascript">
      //iCheck for checkbox and radio inputs
      //  $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      //    // alert("alert");
      //      checkboxClass: 'icheckbox_minimal',
      //      radioClass: 'iradio_minimal'
      //  });
      ////Red color scheme for iCheck
      //  $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
      //      checkboxClass: 'icheckbox_minimal-red',
      //      radioClass: 'iradio_minimal-red'
      //  });
      ////Flat red color scheme for iCheck
      //  $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      //      checkboxClass: 'icheckbox_flat-red',
      //      radioClass: 'iradio_flat-red'
      //  });
      ////Flat red color scheme for iCheck
      //  $('input[type="checkbox"].flat-green, input[type="radio"].flat-green').iCheck({
      //      checkboxClass: 'icheckbox_flat-green',
      //      radioClass: 'iradio_flat-green'
      //  });
  </script>
  <!--<script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawStuff);

      function drawStuff() {
        var data = new google.visualization.arrayToDataTable([
          ['Conditions', 'Percentage', {role:'style'}],
          ["Depression", 90, '#ff0000'],
          ["Bipolar", 15, '#ff4545'],
          ["Separation Anxiety", 70, 'color: gray'],
          ["GAD", 10 , 'color: gray'],
          ['Social Phobia', 97, 'color: gray'],
          ["PTSD", 35, 'color: gray'],
          ["ADHD", 5, 'color: gray'],
          ["COD", 65, 'color: gray'],
          ["CD", 18, 'color: gray']
        ]);

        var options = {
          title: 'Chess opening moves',
          width: 900,
          legend: { position: 'none' },
          chart: { title: 'Patient Probability',
                   subtitle: 'Probability by percentage' },
          bars: 'horizontal', // Required for Material Bar Charts.
          axes: {
            x: {
              0: { side: 'top', label: 'Percentage'} // Top x-axis.
            }
          },
          bar: { groupWidth: "90%" }
        };

        var chart = new google.charts.Bar(document.getElementById('top_x_div'));
        chart.draw(data, options);
      };
  </script>-->