<aside class="right-side">

  <div ng-if="showloader" >
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
  </div>

  <!-- Content Header (Page header) -->
  <section class="content-header" ng-cloak>
    <h1>Patients</h1>
    <ol class="breadcrumb">
      <li><a href="/#/home"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li><a href="/#/patients">Users</a></li> 
      <li>Add</li>                      
    </ol>
  </section>
   
  <!-- Main content -->
  <section class="content" ng-cloak>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-body table-responsive">  
                <div class="alert alert-danger alert-dismissable" ng-show="message"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
                <form role="form" name="add_patient_form" id="add_patient_form" ng-submit="processAssessment()">
                  <div class="box-body">
                    
                    <label>First Name</label>
                    <div class="form-group" ng-class="{'has-error':add_patient_form.first_name.$dirty && (add_patient_form.first_name.$error.required || errordetail.first_name)}">
                     <input type="text" name ="first_name" class="form-control" ng-model="user.first_name" placeholder="Enter Firstname" required>
                      <label class="control-label" ng-show="add_patient_form.first_name.$dirty && (add_patient_form.first_name.$error.required || errordetail.first_name)">First name is required.</label>
                    </div>
                    
                    

                  </div>
                   <div class="box-footer">
                      <button type="submit" class="btn bg-olive" ng-disabled="add_patient_form.$invalid">Save</button>
                      <a href="/#/patients"><button class=" btn m_lft5  btn-warning pull-right">Cancel</button></a>
                   </div>                                          
                </form>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div><!-- /.tab-content -->
 
</section><!-- /.content -->
</aside><!-- /.right-side -->   