/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

/* ngCloak Directive to hide Data in screens untill page is completely Loaded */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


/* ++css changes by gurpreet++ */
html, body{font-size: 18px;}
.right-side > .content-header > .breadcrumb{font-size: 18px;}

.extreme-right-side{
    background-color:#f9f9f9; 
    transform: translate(230px, 0px) !important;
    -webkit-transform: translate(230px, 0px) !important;
}
.extreme-right-side.strech{
    margin-left:0 !important; 
    -webkit-transform: none !important;
    transform: none !important;
}

@media screen and (min-width: 768px) {
    .extreme-right-side{background-color:#f9f9f9;margin-left:220px; -webkit-transform: none !important;
    transform: none !important;}
    .extreme-right-side.strech{margin-left:0; -webkit-transform: none !important;
    transform: none !important;}
}


.btn-purple{background-color: #3c1e69 !important; border-color: #3c1e69 !important;}
.button100p{width: 100% !important;}
.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:100%;
    height:350px;
}
form .progress {
    line-height: 15px;
}
.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}
.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}
.font-normal{font-weight: normal;}
/* -- css changes by gurpreet --*/

.optionSpacing .ng-scope {margin-top: 5px;}
.greensphere{color:green;}
.redsphere{color:red;}
.greysphere{color:grey;}
.yellowsphere{color:yellow;}
.actionicons{cursor: pointer;}
.fagreen{color: green;}
.fared{color: red;}
label.oneLine{width: 100%; font-weight: normal;}
label.twoLine{width: 50%;}
.actionIcons a{padding: 0 4px;}

/* +++ added by gurpreet */
#top_x_div{width: 95%;height: 400px;}
.bluCheckbox{background: #ff0000;}
.severityInput{width: 65%;text-align: center;}
.borderRight{border-right:1px solid #e7e7e7;padding-right:10px;}
.modal-header{background:#3c1e69;color: #fff;}
.modal-header .close{color: #fff;}
.noLeftPadding{padding-left:0px;}
.noRightPadding{padding-right:0px;}
.footer{background: #d2d2d2 !important;border-top: 1px solid #d4d4d4 !important;}
.moveUpDatepicker{bottom: 0px;}
/* --- added by gurpreet */

/* +++ added by Rajesh */
.top10{margin-top:10px;}
.filterSelect{background-color: #ffffff !important; width: 50%;}
.capitalize {text-transform: capitalize;   }
.customText{text-decoration: underline;font-weight: bold;}
.stateofmindText{color: #8a6d3b;}
.greenDiv{background-color: green;color: #fff;}
.redDiv{background-color: red;color: #fff;}
.yellowDiv{background-color: yellow; color : #000;}
.rounddiv{ border-radius: 50%;
    height: 50px !important;
    line-height: 50px;
    width: 50px !important;}
.lineHeightDiv{line-height: 40px;}
.myForm{display: inline-block !important;}
.normalFont{font-weight: normal; font-size: 13px;}
.form-group.has-error label {
  font-weight: normal; font-size: 14px;color: #f56954;
}
.logo_image{
    float: left;
    height: 45px;
}
.logo_text{
    float: left;
    vertical-align: baseline;
    padding-left: 3px;
}
.second-error{
  font-weight: normal; font-size: 14px;color: #f56954;
}

.customSearchBtn{
    margin-top: 5px !important; padding: 0px 8px;
}
.btn_margin{
    margin-left: 10px !important;
}
.custom-form-group{
    margin: 10px 0px !important;
}
.selectedAction1{
    width: 200px !important;
    float: left;
}

.table-responsive{
    /*overflow: hidden !important;*/
}
/* --- added by Rajesh */
.custom-form-group{margin-bottom: 0px !important;}
/*.optOutDiv{padding: 0px !important;}*/
.im_loading{
 /*display:none;*/
 position:fixed;
 top:50%;
 left:50%;
 margin:-35px 0px 0px -35px;
 background:url(images/default.gif) no-repeat center center;
 width:190px;
 height:180px;
 z-index:9999;
 /*-moz-border-radius:10px;*/
 /*-webkit-border-radius:10px;*/
 /*border-radius:10px;*/
 /*-moz-box-shadow:1px 1px 3px #000;*/
 /*-webkit-box-shadow:1px 1px 3px #000;/*/
 /*box-shadow:1px 1px 3px #000;/*/
 opacity:0.7;
 filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.diagnoseRow{background-color: #ADD8E6;}
.asterisk{
    color: #d00;
    content: "*";
}
.legend-desc{
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    display: inline-block;
    vertical-align: top;
    padding: 0px 10px;
}
.blue-legends{color: #3c8dbc;}
.green-legends{color: rgb(38,175,55);}
.red-legends{color: rgb(184,17,17);}
.scrollDisabled{ margin:0px;}

.width80{width: 80%;}

/* Loader CSS Start*/
.loader-container {
    background: rgb(0, 0, 0) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    opacity: 0.41;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999999;
}
.loader-image {
    bottom: 0;
    color: rgb(255, 255, 255);
    font-size: 50px;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 40%;
    z-index: 2147483647;
}

/* Loader CSS End*/
.vAlign{vertical-align:bottom;}

.ng-table-counts{
    margin: 20px 0px !important;
}

.btn-default.active{
    background-color:#337ab7 !important;
    border-color: #337ab7 !important;
    color: #fff !important;
    box-shadow : none !important;
}
.btn-default.active:hover{
    background-color:#337ab7 !important;
    border-color: none !important;
    color: #fff !important;
    box-shadow : none !important;
}

.control-label1{
    font-weight: normal !important;
    font-size: 14px !important;
    color: #f56954 !important;
}

.check_in_label{
    font-weight: bold;
    color: #333;
    font-size: 18px !important;
}
.check_in_Text{
    font-weight: normal !important;
}

.textAlign{
    text-align: right !important;
}

.greenIcon{
    color: green;
}

.orangeredIcon{
    color: #FF4500;
}

.blueIcon{
    color:#4285F4;
}

.purpleIcon{
    color:#3C1E69;
}

.yellowIcon{
    color:#FBBC05;
}

.normalFont1{
    font-size: 18px !important;
    font-weight: normal;
}

.normalFont2{
    font-weight: bold !important;
}

/*.text-alignClass{
    text-align: right !important;
}*/

.pull-right1{
    float: right !important;
}

.pull-right2{
    float: right !important;
}
.margin-top{
    margin-top: 50px !important;
}

.checkBoxText{
    font-weight: normal !important;
}
.legendMargin{
    margin-bottom: 10px !important;
}
.pull-left5{
    float: left !important;
}

.pull-right5{
    float: right !important;
}
.uib-increment a, .uib-decrement a {box-shadow:none;}
.skin-blue .sidebar > .sidebar-menu > li > a:hover, .skin-blue .sidebar > .sidebar-menu > li.active > a{
  color: #3C1E69;
}
.disabledLbl{color:#cbcbcb;}

/* Customizing  Legends for Responsive Design */
 @media screen and (min-width: 320px) and (max-width: 768px) {
    .custom_Legend_320px{
        float: left !important;
        margin-bottom: 15px !important;
    }
    .legendMargin{
        margin-bottom: 10px !important;
    }
    .pull-left{
        width: 100% !important;
    }
    .pull-right1{
        float: left !important;
        padding-left: 10px !important;
        width: 100% !important;
    }
    .pull-right2{
        float: left !important;
        width: 100% !important;
    }
    .legend-desc{
        padding: 0px 5px;
    }
    .ng-table-counts{
        float: left !important;
        width: 100% !important;
    }
    .pagination{
        float: left !important;
        margin: 0px !important;
    }

    .small-box > .inner{
        padding: 2px !important;
    }

    .btn_margin{
        margin-left: 0px !important;
    }
    .check_in_Text {
        font-size: 15px;
        font-weight: normal !important;
    }

    .right-side > .content-header > .breadcrumb{
        position: static !important;
        float: none !important;
    }
}

@media (max-width: 460px) {
    .filterSelect{
        width: 100% !important;
    }

}

@media (max-width: 768px) {
  .btn-responsive {
    width: 100% !important;
  }
}

/*@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    width: 100% !important;
  }
}*/
