  <aside class="right-side" ng-init="getAllDiseases()">
  <div ng-if="showloader" >
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div> 
    <!-- Content Header (Page header) -->
    <section class="content-header" ng-cloak>
      <h1>{{question_screen_title}}</h1>
     <ol class="breadcrumb">
      <li><a href="/#/superhome"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li><a href="/#/questions">Questions</a></li> 
      <li>{{question_screen_title}}</li>                      
    </ol>
  </section>
  <!-- Main content -->
  <section class="content" ng-cloak>
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-body table-responsive">

            <div class="pull-right1"><small>All Fields marked with <span class="redsphere">*</span> are mandatory</small></div>
            <!--<div class="alert alert-danger alert-dismissable" ng-show="message"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>   -->
            <form role="form" name="add_question_form" id="add_question_form" ng-submit="addQuestion();">
              <div class="box-body">
                 <div class="alert alert-danger alert-dismissable" ng-show="message">
                    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}
                 </div>
                 <label>Question title<span class="asterisk">*</span></label>
                <div class="form-group" ng-class="{'has-error':add_question_form.question.$dirty && (add_question_form.question.$error.required || errordetail.question)}">
                  
                    <input type="text" class="form-control" id="question" name='question' ng-model="questionObj.question" placeholder="Enter Question" required>
                    <label class="control-label" ng-show="add_question_form.question.$dirty && (add_question_form.question.$error.required || errordetail.question)">Question Title is required.</label>
                  </div>
                  <label>Select Answer</label>
                  <div class="form-group">
                    <div class="checbox_input">
                      <label class="oneLine" ng-repeat="x in allAnswers">
                      <input type="checkbox"
                      id = "{{x._id}}"
                      ng-model = "x.selected" 
                      ng-value = "x.answer_text"/> {{x.answer_text}} ({{x.answer_value}})
                      </label>
                    </div>
                  </div>
               <label ng-model="questionObj.is_status">Status</label>
          
         <div class="clearfix"></div>
       <div class="checkbox">
        <label>
          <input type="checkbox" name='is_status' id='is_status' ng-model='questionObj.is_status' checked="{{enableChecked}}"/> Active
        </label>
      </div> 
    </div><!-- /.box-body || colorCount==0 -->
    <div class="box-footer">
      <!-- <button type="submit" class="btn btn-success" ng-disabled="add_question_form.$invalid">Submit</button> -->
      <button type="submit" class="btn btn-success pull-right" ng-disabled="add_question_form.$invalid">Submit</button>
      <a href="/#/extraquestions" class="btn m_lft5 btn-warning pull-right">Cancel</a>
      
    </div>
    <div class="clearfix"></div>
  </form>              
</div><!-- /.box-body -->
</div><!-- /.box -->
</div>
</div>

</section><!-- /.content -->
  </aside><!-- /.right-side -->