<aside class="right-side" ng-init="getAllQuestions()">
<div ng-if="showloader" >
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div> 
    <!-- Content Header (Page header) -->
    <section class="content-header" ng-cloak>
        <h1>Questions</h1>
        <ol class="breadcrumb">
            <li><a href="/#/superhome"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li>Questions</li>                       
        </ol>
    </section>

     <section class="content" ng-show="noQuestion" ng-cloak>
     <div class="box-body">
    <div class="box">
    <div class="box-body">
        <div class="row scrollDisabled">
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-left m_btm15">
                    <a href="/#/extraquestions/add" title="Add Questions" align='right'  class="btn btn-primary btn-responsive">Add New Question</a>
                    <a href="/#/extraquestions/import" title="Add Questions" align='right'  class="btn btn-primary btn-responsive">Import Question</a>
                </div>
            </div>
        </div>
        <div class="row scrollDisabled">
            <div class="col-xs-12">
                No questions are available.
            </div>
        </div>
    </div>
  </div>
 </div>
</div>
</section>
    <!-- Main content -->
    <section class="content" ng-show="QuestionExist" ng-cloak>
        <div class="row ">
            <div class="col-xs-12">
                <div class="box-body table-responsive">
                    <div class="alert alert-danger alert-dismissable" ng-show="message">
                        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}
                    </div>
                    <div class="box">
                        <div class="box-body table-responsive">
                            <div class="clearfix">
                                <div class="pull-left m_btm15">
                                    <a href='/#/extraquestions/add' align='right'  class="btn btn-primary btn-responsive">Add New Question</a>
                                    <a href="/#/extraquestions/import" title="Add Questions" align='right'  class="btn btn-primary btn-responsive">Import Question</a>
                                </div>
                                <div class="pull-right2">
                                <div class="legend-block custom_Legend_320px">
                                    <span class="legend-label legendMargin">Legend:</span>
                                    <span class="right">
                                      <div class="legend-desc legendMargin"><i title="Edit" class="blue-legends fa fa-pencil"></i> Edit</div>
                                      <div class="legend-desc legendMargin"><i title="Delete" class="blue-legends fa fa-trash-o"></i> Delete</div>
                                      <div class="legend-desc legendMargin"><i title="Active" class="green-legends fa fa-check"></i> Active</div>
                                      <div class="legend-desc legendMargin"><i title="Inactive" class="red-legends fa fa-times"></i> Inactive</div>
                                    </span>
                                </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <form role="form">
                                <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible"> 
                                    <colgroup>
                                        <col width="5%"/>
                                        <col width="5%"/>
										<col width="80%"/>
                                        <col width="10%"/>
                                    </colgroup>
                                    <tr ng-repeat = "question in $data">
                                        <td header="'headerCheckbox.html'"><input type='checkbox' ng-model="checkboxes.items[question._id]" ng-change="toggleSelectionForQuestion(question._id)" /></td>
                                        <td data-title="'Status'" sortable="'is_status'" align='left'><div ng-if="question.is_status==true"><img src='images/enable.png' border='0'></div><div ng-if="question.is_status==false"><img src='images/disable.png' border='0'></div></td>
                                        <td data-title="'Question'" sortable="'question'" align="left" filter="{question:'text'}">{{question.question}}</td>

                                        <td data-title="'Actions'" align="left">
                                            <a href="/#/extraquestions/edit/{{question._id}}" alt="Click to edit" title="Click to edit"><i class="fa fa-pencil"></i></a>&nbsp;
                                           <a ng-click="delQuestion(question._id,question.question);" alt="Click to delete" title="Click to delete"><i class="fa fa-trash-o"></i></a>&nbsp;
                                            
                                            <!--a ng-click="deleteQuestion(question._id,'question.name');" href="/#/questions/delete/{{question._id}}" alt="Click to delete" title="Click to delete"><i class="fa fa-times"></i></a-->&nbsp;

                                            <!--a href="/#/questions/assign/{{question._id}}" alt="Click to assign questions" title="Click to assign questions"><i class="fa fa-question"></i></a-->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan='7'>
                                            <div class="form-group">
                                                <select class="form-control selectedAction1" name='selectedAction' id='selectedAction'>
                                                    <option value="0">Select Status</option>
                                                    <option value="1">Active</option>
                                                    <option value="2">Inactive</option>
                                                    <option value="3">Delete</option>
                                                </select> &nbsp;&nbsp;&nbsp;
                                                <input type='button' name='go' value='Go' class='btn btn-success' ng-click="performAction()">
                                            </div>
                                        </td>
                                
                                    </tr>  
                                </table>
                                
                            </form>  
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>
        </div>
    </section><!-- /.content -->
</aside><!-- /.right-side -->
<!-- page script -->
<script type="text/ng-template" id="headerCheckbox.html">
    <input type="checkbox" ng-model="checkboxes.checked" data-ng-click="toggleSelectionForQuestion(0)" class="select-all" value="" />
</script>    