<!-- Right side column. Contains the navbar and content of the page --> 
            <aside class="right-side">
            <div ng-if="showloader" >
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div> 
                <!-- Content Header (Page header) -->
                <section class="content-header" ng-cloak>
                    <h1>
                        Dashboard
                        <small>Control panel</small>
                    </h1>
                </section>

                <!-- Main content -->
                <section class="content" ng-cloak>

                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 col-xs-6">
                            <!-- small box -->
                            <a href="/#/users/listadmin">
                                <div class="small-box bg-green">
                                    <div class="inner">
                                        <h3>
                                           {{adminCount}}
                                        </h3>
                                        <p>
                                            Total Admins
                                        </p>
                                        <p>
                                            &nbsp;
                                        </p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-person-add"></i>
                                    </div>
                                    <p class="small-box-footer">
                                        More info <i class="fa fa-arrow-circle-right"></i>
                                    </p>
                                </div>
                            </a>
                        </div><!-- ./col -->
                    </div><!-- /.row -->

                   

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div>   <!-- ./wrapper