<script src="javascripts/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
<aside class="right-side" ng-init="getClinicianInfoById()">
<div ng-if="showloader" >
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div> 
    <!-- Content Header (Page header) -->
    <section class="content-header" ng-cloak>
      <h1>
        {{mode}} Clinician
      </h1>
      <ol class="breadcrumb">
        <li><a href="/#/adminhome"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="/#/clinicians">Clinicians</a></li> 
         <li>Add</li>                      
      </ol>
    </section>
    
    <!-- Main content -->
    <section class="content" ng-cloak>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-body table-responsive">  
                <div class="pull-right1"><small>All Fields marked with <span class="redsphere">*</span> are mandatory</small></div>
                  <form role="form" name="add_clinician_form" id="add_clinician_form"  ng-submit="addUser()">
                    <div class="box-body">
                      <label>First Name<span class="asterisk">*</span></label>
                      <div class="form-group" ng-class="{'has-error':add_clinician_form.first_name.$dirty && (add_clinician_form.first_name.$error.required || errordetail.first_name || add_clinician_form.first_name.$error.pattern)}">
                        <input type="text" name ="first_name" class="form-control" ng-model="user.first_name" placeholder="Enter Firstname" maxlength="30" ng-pattern="/^[A-Za-z']*$/" required>
                        <label class="control-label" ng-show="add_clinician_form.first_name.$dirty && (add_clinician_form.first_name.$error.required || errordetail.first_name)">First name is required.</label>
                        <label class="control-label" ng-show="add_clinician_form.first_name.$error.pattern">Only following characters (a-z A-Z ') are allowed.</label>
                      </div>

                      <label>Last Name<span class="asterisk">*</span></label>
                      <div class="form-group" ng-class="{'has-error':add_clinician_form.last_name.$dirty && (add_clinician_form.last_name.$error.required || errordetail.last_name || add_clinician_form.last_name.$error.pattern)}">
                        <input type="text" name="last_name" class="form-control" ng-model="user.last_name" placeholder="Enter Lastname" maxlength="30" ng-pattern="/^[A-Za-z']*$/" required>
                        <label class="control-label" ng-show="add_clinician_form.last_name.$dirty && (add_clinician_form.last_name.$error.required || errordetail.last_name)">Last name is required.</label>
                        <label class="control-label" ng-show="add_clinician_form.last_name.$error.pattern">Only following characters (a-z A-Z ') are allowed.</label>
                      </div>

                      <label>Email<span class="asterisk">*</span></label>
                      <div class="form-group" ng-class="{'has-error':add_clinician_form.email.$dirty && (add_clinician_form.email.$error.pattern || add_clinician_form.email.$error.required || add_clinician_form.email.$error.email || errordetail.email || errordetail.emailexist)}">
                        <input type="email" name="email" maxlength="50" class="form-control"  ng-if="readonly" ng-model="user.email" placeholder="Enter Email" >
                        <input type="email" name="email" maxlength="50" class="form-control"  ng-if="!readonly" ng-model="user.email" placeholder="Enter Email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
                        <label class="control-label" ng-show="add_clinician_form.email.$dirty && (add_clinician_form.email.$error.required || errordetail.email)">Email ID is required.</label>
                        <label class="control-label" ng-show="add_clinician_form.email.$dirty && (add_clinician_form.email.$error.pattern || add_clinician_form.email.$error.email)" >Email is invalid.</label>
                        <label class="control-label" ng-show="add_clinician_form.email.$dirty && (errordetail.emailexist)">Email already exist</label>
                      </div>

                      <label>Username<span class="asterisk">*</span></label>
                      <div class="form-group" ng-class="{'has-error':add_clinician_form.username.$dirty && (add_clinician_form.username.$error.required || add_clinician_form.username.$error.pattern || (add_clinician_form.username.$error.minlength || add_clinician_form.username.$error.maxlength) || errordetail.username || errordetail.usernameexist)}">
                        <input type="text" name="username" class="form-control" ng-if="readonly" ng-model="user.username" placeholder="Enter Username" maxlength="30" >
                        <input type="text" name="username" class="form-control" ng-if="!readonly" ng-model="user.username" placeholder="Enter Username" ng-pattern="/^[a-zA-Z0-9]*$/" ng-trim="false" ng-minlength="5" ng-maxlength="30" required>
                        <label class="control-label" ng-show="add_clinician_form.username.$dirty && (add_clinician_form.username.$error.required || errordetail.username)">Username is required.</label>
                        <label class="control-label" ng-show="add_clinician_form.username.$error.pattern">Username must be letters and numbers only.</label>
                        <label class="control-label" ng-show="!add_clinician_form.username.$error.required && !add_clinician_form.username.$error.pattern && (add_clinician_form.username.$error.minlength || add_clinician_form.username.$error.maxlength) && add_clinician_form.username.$dirty">Username must be between 5 and 30 characters.</label>
                        <label class="control-label" ng-show="add_clinician_form.username.$dirty && (errordetail.usernameexist)">Username already exist</label>
                      </div>

                      <label>Phone Number<span class="asterisk">*</span></label>
                      <div class="form-group" ng-class="{'has-error':add_clinician_form.phone.$invalid && !add_clinician_form.phone.$pristine}">
                        <div class="input-group">
                            <div class="input-group-addon">
                                +1
                            </div>
                            <!-- <input type="text" class="form-control" name="phone" id="phone" ng-model="user.phone" ng-minlength="10" ng-maxlength="10" placeholder="Enter Phone Number" numbers-only ng-required="true"> -->
                            <input type="text" class="form-control" ng-model="user.phone" mask="(999) 999-9999" name="phone" mask-clean='true' placeholder="(xxx) xxx-xxxx" mask-restrict='reject' required>
                        </div>
                        <label class="control-label" ng-show="add_clinician_form.phone.$invalid && !add_clinician_form.phone.$pristine" >Phone number is invalid.</label>
                        <!-- <label class="control-label" ng-show="add_clinician_form.phone.$dirty && (add_clinician_form.phone.$error.required || add_clinician_form.phone.$error.parse)">Phone number is required.</label>
                        <label class="control-label" ng-show="add_clinician_form.phone.$dirty && (add_clinician_form.phone.$error.minlength || add_clinician_form.phone.$error.maxlength)">Phone number must be 10 digits.</label> -->
                       </div>

                      <label>Date of Birth<span class="asterisk">*</span></label>
                        <div class="form-group date" ng-class="{'has-error':add_clinician_form.dob.$dirty && (add_clinician_form.dob.$error.required || add_clinician_form.dob.$error.pattern || errordetail.dob)}">
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                          </div>
                          <!--<input type="text" name="dob" class="form-control"  ng-model="user.dob" placeholder="Enter Date of birth" id="datepicker" required>-->
                          <datepicker date-set="{{initialDateObj.toString()}}" date-min-limit="{{minDate}}" date-format="MM/dd/yyyy" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" button-prev-title="previous month" button-next-title="next month" date-set-hidden="true" date-max-limit={{maxDate}} datepicker-class="moveUpDatepicker">
                                <input ng-model="user.dob" type="text" class="form-control" name="dob" placeholder="mm/dd/yyyy" id="datepicker" required ng-pattern="/^[0,1]?\d{1}\/(([0-2]?\d{1})|([3][0,1]{1}))\/(([1]{1}[9]{1}[0-9]{1}\d{1})|([2-9]{1}\d{3}))$/" readonly />
                            </datepicker>
                        </div>
                        <label class="control-label" ng-show="add_clinician_form.dob.$dirty && (add_clinician_form.dob.$error.required || errordetail.dob)">Date of Birth is required.</label>
                        <label class="control-label" ng-show="add_clinician_form.dob.$dirty && (add_clinician_form.dob.$error.pattern)">Please enter valid Date of Birth.</label>
                      </div>

                      <label>Password<span class="asterisk">*</span></label>
                      <div class="form-group" ng-class="{'has-error':add_clinician_form.password.$dirty && (add_clinician_form.password.$error.required || errordetail.password)}">
                         <input type="password" name ="password" class="form-control" ng-model="user.password" placeholder="Enter Password" maxlength="50" minlength="6" required>
                      <label class="control-label" ng-show="add_clinician_form.password.$dirty && (add_clinician_form.password.$error.required || errordetail.password)">Password is required.</label>
                    </div>

                    <label>Confirm Password<span class="asterisk">*</span></label>
                      <div class="form-group" ng-class="{'has-error':add_clinician_form.confirmPassword.$dirty && (add_clinician_form.confirmPassword.$error.required || errordetail.password || add_clinician_form.confirmPassword.$invalid)}">
                        <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password" ng-model="confirmPassword"
                          compare-to="user.password" ng-required="user.password">
                        <label class="control-label" ng-show="add_clinician_form.confirmPassword.$dirty && add_clinician_form.confirmPassword.$error.required">Password is required.</label>
                        <label class="control-label" ng-show="add_clinician_form.confirmPassword.$dirty && add_clinician_form.confirmPassword.$invalid && !add_clinician_form.confirmPassword.$error.required">Password does not match.</label>
                      </div>
                      
                      <div class="form-group">
                        <label>
                          <input type="checkbox" name='is_approved'  ng-model='user.is_approved' checked="{{enableChecked}}"/>
                          Approve Clinician
                        </label>
                      </div>
                    </div>
                    <input type="hidden" id="admin_added" name="user.admin_added" ng-model="user.admin_added" ng-init="user.admin_added=1"/>
<!-- {{add_clinician_form.dob}} -->
                    <div class="box-footer clearfix no-border">
                <button type="submit" class="btn m_lft5 btn-success pull-right" ng-disabled="add_clinician_form.$invalid">Submit</button>
                      <a href="/#/clinicians"><button class="btn btn-warning  pull-right">Cancel</button></a>
                </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /.content -->
<!--    <script type="text/javascript">-->
<!--      $(function() {-->
<!--          //Date picker-->
<!--          $('#datepicker').datepicker({-->
<!--            autoclose: true,-->
<!--            endDate: "0d",-->
<!--          });-->
<!--      });-->
<!--</script>-->
</aside><!-- /.right-side -->   