<aside class="right-side">
<div ng-if="showloader">
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div>
  <!-- Content Header (Page header) -->
  <section class="content-header" ng-cloak>
    <h1>Invite Clinician</h1>
    <ol class="breadcrumb">
      <li><a href="/#/adminhome"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li><a href="/#/clinicians">Clinicians</a></li> 
      <li>Invite</li>                      
    </ol>
  </section>
   
  <!-- Main content -->
  <section class="content" ng-cloak>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-body table-responsive">  
                <div class="pull-right1"><small>All Fields marked with <span class="redsphere">*</span> are mandatory</small></div>
                <form role="form" name="invite_clinician_form" id="invite_clinician_form" ng-submit="inviteClinician()">
                  <div class="box-body">
                    <label>Enter clinician email id to send invite<span class="asterisk">*</span></label>
                    <div class="form-group" ng-class="{'has-error':invite_clinician_form.email.$dirty && (invite_clinician_form.email.$error.pattern || invite_clinician_form.email.$error.required || invite_clinician_form.email.$error.email)}">
                      <input type="email" name="email" class="form-control"  ng-model="clinicianEmail.email" placeholder="Enter clinician email to send invite" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
                      <label class="control-label" ng-show="invite_clinician_form.email.$dirty && (invite_clinician_form.email.$error.required || errordetail.email)">Email ID is required.</label>
                      <label class="control-label" ng-show="invite_clinician_form.email.$dirty && (invite_clinician_form.email.$error.pattern || invite_clinician_form.email.$error.email)" >Email is invalid.</label>
                    </div>
                  </div>
                    <div class="box-footer">
                      <button type="submit" class="btn bg-olive pull-right" ng-disabled="invite_clinician_form.$invalid">Send Invite</button>
                      <a href="/#/clinicians"><button class=" btn m_lft5  btn-warning pull-right">Cancel</button></a>
                    </div>
                </form>

              <div class="box-body margin-top">
                <a href="javascript:void(0);" ng-click="getInvitedUsers()" class="btn btn-primary btn-responsive">List Invited Clinicians</a>
              </div>

              <div ng-show="InvitedUsersCount">
                <div class="box-body">
                  <div class="pull-right2">
                  <div class="legend-block custom_Legend_320px">
                    <span class="legend-label legendMargin">Legend:</span>
                    <span class="right">
                      <div class="legend-desc legendMargin"><img src='images/enable.png' border='0'> Signed up</div>
                      <div class="legend-desc legendMargin"><img src='images/disable.png' border='0'> Not signed up</div>
                    </span>
                  </div >
                </div >
                  <div class="clearfix"></div>
               </div>

                <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible">
                    <colgroup>
                      <col width="20%"/>
                      <col width="50%"/>
                      <col width="30%"/>
                    </colgroup>

                    <tr ng-repeat = "user in $data">
                      <td data-title="'Signed Up'" align="left">
                        <div ng-if="user.is_signed_up==true"><img src='images/enable.png' border='0'></div>
                        <div ng-if="user.is_signed_up==false"><img src='images/disable.png' border='0'></div>
                      </td>
                      <td data-title="'Email'" sortable="'email'" align="left">{{user.user_email}}</td>
                      <td data-title="'Invited Date & Time'" sortable="'created_date'" align="left">{{ user.created_date | date : 'short' }}</td>
                      </tr>
                </table>
              </div>
                <table id="example1" class="table table-bordered table-striped">
                  <tr ng-show="errorMessageAvailable" ng-class="danger">
                    <td class="center" colspan="8">{{noDataMessage}}</td>
                  </tr>
                </table>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div><!-- /.tab-content -->
 
</section><!-- /.content -->
</aside><!-- /.right-side -->   