<aside class="right-side" ng-init="getAllClinicians()">
<div ng-if="showloader" >
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div> 
    <!-- Content Header (Page header) -->
    <section class="content-header" ng-cloak>
        <h1>Clinicians</h1>
        <ol class="breadcrumb">
            <li><a href="/#/adminhome"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li>Clinicians</li>                       
        </ol>
    </section>

    <section class="content" ng-show="noClinician" ng-cloak>
    <!--<div class="box-body table-responsive">
    <div class="box">-->
    <div class="box-body">
        <div class="row scrollDisabled">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-left m_btm15">
                        <a href="/#/clinicians/addclinician" title="Add Clinician" align='right'  class="btn btn-primary btn-responsive">Add New Clinician</a>
                    </div>
                    <div class="pull-left m_btm15 btn_margin">
                        <a href='/#/clinicians/invite' align='right'  class="btn btn-primary btn-responsive">Invite Clinician</a>
                    </div>
                </div>
            </div>
    
            <div class="row scrollDisabled">
                <div class="col-xs-12">
                    No clinicians are available.
                </div>
            </div>
        </div>
    </div>
    <!--</div>
    </div>-->
    </section>
    <!-- Main content -->
    <section class="content" ng-show="clinicianExist" ng-cloak>
        <div class="row">
            <div class="col-xs-12">
                <div class="box-body table-responsive">
                    <div class="box">
                       <div class="box-body table-responsive">
                            <div class="clearfix" style="padding-bottom:15px;">
                                <div class="box-body table-responsive">
                                    <div class="clearfix">
                                        <div class="pull-left m_btm15">
                                            <a href="/#/clinicians/addclinician" title="Add Clinician" align='right'  class="btn btn-primary btn-responsive">Add New Clinician</a>
                                        </div>
                                        <div class="pull-left m_btm15 btn_margin">
                                            <a href='/#/clinicians/invite' align='right'  class="btn btn-primary btn-responsive">Invite Clinician</a>
                                        </div>
                                        <div class="pull-right2">
                                        <div class="legend-block custom_Legend_320px">
                                            <span class="legend-label">Legend:</span>
                                            <span class="right">
                                              <div class="legend-desc legendMargin"><i title="Delete Clinician" class="blue-legends fa fa-trash-o"></i> Remove</div>
                                              <div class="legend-desc legendMargin"><i title="Edit Clinician" class="blue-legends fa fa-pencil"></i> Edit</div>
                                              <div class="legend-desc legendMargin"><i title="Transfer Patients" class="blue-legends fa fa-chain-broken"></i> Transfer</div>
                                              <div class="legend-desc legendMargin"><img src='images/enable.png' border='0'> Active</div>
                                              <div class="legend-desc legendMargin"><img src='images/disable.png' border='0'> Inactive</div>
                                              <div class="legend-desc legendMargin"><i title="Delete Clinician" class="fa fa-trash-o"></i> Removed</div>
                                            </span>
                                        </div >
                                        </div >
                                        <div class="clearfix"></div>
                                        <!--form name="searchForm" novalidate ng-submit="applyGlobalSearch()">
                                            <div class="input-group">
                                                <span class="input-group-addon">Except for...
                                                    <input type="checkbox" name="inverted" ng-model="isInvertedSearch" />
                                                </span>
                                                <input type="text" class="form-control" placeholder="Search term" name="searchTerm" ng-model="globalSearchTerm" required />
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="submit">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </form-->
                                    </div>
                                    <form role="form">
                                        <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible"> 
                                            <colgroup>
                                                <col width="5%"/>
                                                <col width="10%"/>
                                                <col width="5%"/>
                                                <col width="15%"/>
                                                <col width="15%"/>
                                                <col width="15%"/>
                                                <col width="15%"/>
                                                <col width="10%"/>
                                                <col width="10%"/>
                                            </colgroup>
                                            <tr ng-repeat = "user in $data | filter: search">
                                                <td data-title="'Select'" header="'headerCheckbox.html'"><input type='checkbox' ng-model="checkboxes.items[user._id]" ng-change="toggleSelection(user._id)" ng-if="!user.is_deleted"/></td>
                                                
                                                <td data-title="'Approved'" align='left'>
                                                    <span ng-if="user.is_deleted == false">
                                                        <div ng-if="user.is_approved==true"><img src='images/enable.png' border='0'></div>
                                                        <div ng-if="user.is_approved==false"><img src='images/disable.png' border='0'></div>
                                                    </span>
                                                    <p ng-if="user.is_deleted == true">-</p>
                                                </td>
                                                <td data-title="'Status'" align='left'>
                                                    <span ng-if="user.is_deleted == false">
                                                        <span ng-if="user.is_status==true"><img src='images/enable.png' border='0'></span>
                                                        <span ng-if="user.is_status==false"><img src='images/disable.png' border='0'></span>
                                                    </span>
                                                    <span ng-if="user.is_deleted == true"><i class="fa fa-trash-o"></i></span>
                                                </td>
                                                <td data-title="'Username'" sortable="'username'" align="left" filter="{username:'text'}">{{user.username}} &nbsp; <span class="text-success" title="Users count">({{user.user_count}})</span></td>
                                                <td sortable="'first_name'" ng-click="getDetails(user)" data-toggle="modal" data-target="#myModal" title="Patient Details" data-title="'First Name'" filter="{first_name:'text'}" align="left"><a class="actionicons">{{user.first_name}}</a></td>
                                                
                                                <td data-title="'Last Name'" sortable="'last_name'" filter="{last_name:'text'}" align="left">{{user.last_name}}</td>
                                                
                                                <td data-title="'Email'" sortable="'email'" filter="{email:'text'}" align="left">{{user.email}}</td>
                                                <td data-title="'Created'" sortable="'created_date'" align="left">{{user.created_date | date :"MM/dd/yyyy"}}</td>
                                                <td data-title="'Actions'">
                                                    <a ng-if="!user.is_deleted" href="/#/clinicians/edit/{{user._id}}" alt="Click to edit" title="Click to edit"><i class="fa fa-pencil"></i></a>
                                                    <a ng-if="!user.is_deleted" ng-click="deleteClinician(user._id,user.email);" alt="Click to delete" title="Delete Clinician"><i class="fa fa-trash-o"></i></a>
                                                    <a ng-if="!user.is_deleted" href="/#/clinicians/transfer/{{user._id}}" alt="Transfer patients" title="Transfer patients"><i class="fa fa-chain-broken"></i></a>
                                                    <!-- <a href="javascript:void(0);" ng-click="deleteClinician()" alt="Click to Delete" title="Click to Delete"><i class="actionIcons fa fa-trash-o"></i></a> -->
                                                </td>
                                                <!-- <td data-title="'Action'" align="left"></td> -->
                                            </tr>
                                            <tr>
                                                <td colspan='9'>
                                                    <div class="form-group">
                                                        <select class="form-control selectedAction1" name='selectedAction' id='selectedAction'>
                                                            <option value="0">Select Status</option>
                                                            <option value="1">Approve</option>
                                                            <option value="2">Active</option>
                                                            <option value="3">Inactive</option>
                                                        </select>  &nbsp;&nbsp;&nbsp; 
                                                     <input type='button' name='go' value='Go' class='btn btn-success' ng-click="performAction()">
                                                     </div>
                                                </td>
                                            </tr>
                                        </table>
                                        
                                    </form>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /.content -->
</aside><!-- /.right-side -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-cloak>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Clinician Details</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">FirstName :</label>
                        {{userData.first_name}}
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">LastName :</label>
                        <span align="right">{{userData.last_name}}</span>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Username :</label>
                        <span align="right">{{userData.username}}</span>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Email :</label>
                        {{userData.email}}
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Clinic Name :</label>
                        {{userData.clinic_name}}
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Contact Number :</label>
                        {{userData.phone}}
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Approve Status :</label>
                        <span class="text-danger" ng-if="userData.is_approved == '0'">Pending</span>
                        <span class="text-success" ng-if="userData.is_approved == '1'">Approved</span>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Active Status :</label>
                        <span class="text-danger" ng-if="userData.is_status == '0'">InActive</span>
                        <span class="text-success" ng-if="userData.is_status == '1'">Active</span>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Delete Status : </label>
                        <span class="text-danger" ng-if="userData.is_deleted == '0'">False</span>
                        <span class="text-success" ng-if="userData.is_deleted == '1'">True</span>
                    </div>
                    <div class="form-group">
                    <label for="message-text" class="control-label">DOB :</label>
                    <span ng-if="userData.dob">{{userData.dob | date}}</span>
                    <span ng-if="!userData.dob" class="text-danger">NA</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- page script -->
<script type="text/ng-template" id="headerCheckbox.html">
    <input type="checkbox" data-ng-click="toggleSelection(0)" ng-model="checkboxes.checked" class="select-all" value="" />
</script>



               