<script src="javascripts/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
<aside class="right-side" ng-init="transferPatients()">
<div ng-if="showloader" >
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div> 
    <section class="content-header" ng-cloak>
        <h1>
            Transfer Patients
        </h1>
        <ol class="breadcrumb">
            <li><a href="/#/adminhome"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="/#/clinicians">Clinicians</a></li> 
            <li>Transfer Patients</li>
        </ol>
    </section>
    
    <!-- Main content -->
    <section class="content" ng-cloak>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-body table-responsive">  
                <!--<div class="pull-right"><small>All Fields marked with <span class="redsphere">*</span> are mandatory</small></div>-->
                <form role="form" name="transfer_form" id="transfer_form" ng-submit="transferSave()">
                    <div class="box-body" ng-if="isPatients">
                        
                        <label>Clinician Name:</label>
                        <div class="form-group">
                          <input type="text" readonly class="form-contorl" value="{{user.clinic_name+' ('+user.first_name+' '+user.last_name+')'}}" style="width:100%;">
                        </div>

                        <label>Choose Clinician to transfer to:</label>
                        <div class="form-group" ng-class="{'has-error':transfer_form.clinician.$dirty && (transfer_form.clinician.$error.required || errordetail.clinician)}">
                          <select name="clinician" class="form-control" ng-model="transferObj.clinician" required>
                            <option value="">--Please select a clinician--</option>
                            <option ng-repeat="x in availableClinicians" value="{{x._id}}">{{x.username}} ({{x.email}})</option>
                          </select>
                          <label class="control-label" ng-show="transfer_form.clinician.$dirty && (transfer_form.clinician.$error.required || errordetail.clinician)">Clinician is required.</label>
                        </div>

                        <label>Select Patients to be transferred:</label>
                        <div class="form-group">
                          <div class="checbox_input">
                            <label class="oneLine" ng-repeat="x in transferrablePatients">
                            <input type="checkbox" id = "{{x._id}}" ng-model = "transferObj.patients[x._id]" ng-value = "x._id"/>  {{x.username}} (<em class="tilted">{{x.email}}</em>)
                            </label>
                          </div>
                        </div>
                    </div>
                    <div class="box-body" ng-if="!isPatients">
                        <div class="form-group">
                            No patients available to transfer.
                        </div>
                    </div>
                    <!--<input type="hidden" id="admin_added" name="user.admin_added" ng-model="user.admin_added" ng-init="user.admin_added=1"/>-->
                    <div class="box-footer clearfix no-border" ng-if="isPatients">
                        <button type="submit" class="btn m_lft5 btn-success pull-right" ng-disabled="transfer_form.$invalid">Submit</button>
                      <a href="/#/clinicians"><button class="btn btn-warning  pull-right">Cancel</button></a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /.content -->
</aside><!-- /.right-side -->   