<aside class="right-side" data-ng-init="findOne()">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Default Diagnosis
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a ui-sref="default-diagnosis">Default Diagnosis</a></li> 
                         <li>Add</li>                      
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">

                            <div class="box">
                                    
                                <!-- <div class="box-header">
                                    <h3 class="box-title">Data Table With Full Features</h3>
                                </div> -->
                                <div class="box-body table-responsive">
                                    <div class = "alert alert-dismissable" ng-class="alerttype" ng-show="message"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div> 
                                                                    
                                    <form role="form">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label>Title</label>
                                            <input type="text" class="form-control" id="title" name='title' ng-model="diagnose.title" placeholder="Enter Title">                                            

                                            <label>Code</label>
                                            <input type="text" class="form-control" id="diagnosiscode" name='code' ng-model="diagnose.code" placeholder="Enter Diagnosis code">                                            

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name='enable' id='enable' ng-model='diagnose.enable' checked="{{enableChecked}}"/>
                                                    Enable
                                                </label>
                                            </div> 

                                    </div><!-- /.box-body -->

                                    <div class="box-footer">
                                        <button type="button" class="btn btn-primary" ng-click="update()">Submit</button>
                                    </div>
                                </form>              
                                  
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div>

                </section><!-- /.content -->
            </aside><!-- /.right-side -->