<style type="text/css">
.footer-content {
    bottom: 20px;
    left:20px;
    float: left;
    font-size: 15px;
    position: absolute;
    text-align: left;
    width: 100%;
}
</style>
<div ng-if="showloader" >
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div>

           <div class="form-box" id="login-box" ng-cloak ng-init="openResetPassword()">
            <div class="header"><img src="images/logo_web.png" alt="BH APP" class="logo_image"/>&nbsp;Sign In</div>
            <form name="login_form" role="form" id="login_form">
                <div class="body bg-gray">
                    <div class="form-group" ng-class="{'has-error':login_form.username.$dirty && (login_form.username.$error.required || errordetail.username)}">
                        <input type="text" name="username" class="form-control" placeholder="Username" ng-model='username' required />

                        <label class="control-label" autocomplete="off" value="" ng-show="login_form.username.$dirty && login_form.username.$error.required">Username is required.</label>
                    </div>
                    <div class="form-group" ng-class="{'has-error':login_form.password.$dirty && (login_form.password.$error.required || errordetail.password)}">
                        <input type="password" name="password" class="form-control" placeholder="Password" ng-model='password' required/>
                        <label class="control-label" ng-show="login_form.password.$dirty && login_form.password.$error.required">Password is required.</label>
                    </div>          
                    <!--<div class="form-group">
                        <input type="checkbox" name="remember_me" ng-model="remember_me"/> Remember me
                    </div>-->
                </div>
                <div class="footer">                                                               
                    <button type="submit" class="btn bg-olive btn-block" name="login" ng-click="login()" ng-disabled="login_form.$invalid">Sign in</button>  
                    
                     <p><a href="/#/forgot-password">Forgot password?</a></p>
                     

                     <!-- <p><a href="/#/forgot-username">Forgot username</a> </p> -->
                     <a href="/#/users/signup" class="text-center">Register as a Clinician</a> 
                </div>
            </form>

            <!-- <div class="margin text-center">
                <span>Sign in using social networks</span>
                <br/>
                <button class="btn bg-light-blue btn-circle"  ng-click="authenticate('facebook')"><i class="fa fa-facebook"></i></button>
                <button class="btn bg-aqua btn-circle" ng-click="authenticate('twitter')"><i class="fa fa-twitter"></i></button>
                <button class="btn bg-red btn-circle" ng-click="authenticate('google')"><i class="fa fa-google-plus"></i></button>

            </div> -->
        </div>
        <div class="footer-content ng-scope">
            <strong>Contact us :</strong>
            <br>Baretoolkit Inc.
            <br><strong>Phone:</strong> +1 7737333262,<br /> 
            <strong>Email :</strong> clmumford@gmail.com
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
