<aside class="right-side" ng-init="getDisease()">
<div ng-if="showloader" >
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div>
    <!-- Content Header (Page header) -->
    <section class="content-header" ng-cloak>
        <h1>
            {{disease_title}}
        </h1>
        <ol class="breadcrumb">
            <li><a href="/#/superhome"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="/#/diseases">Disorders</a></li> 
             <li>{{disease_title}}</li>                      
        </ol>
    </section>
    
    <!-- Main content -->
    <section class="content" ng-cloak>
    <div class="row">
    <div class="col-md-12">
    <!-- Custom Tabs -->
    
         <div class="row">
            <div class="col-xs-12">
                <form role="form" id="add_diseases_form" name="add_diseases_form" ng-submit="addDisease()">
                <div class="box">
                    <div class="box-body table-responsive">
                    <div class="pull-right1"><small>All Fields marked with <span class="redsphere">*</span> are mandatory</small></div>
                        <div class="box-body">
                            <label>Name<span class="asterisk">*</span></label>
                            <div class="form-group" ng-class="{'has-error':add_diseases_form.title.$dirty && (add_diseases_form.title.$error.required)}">
                                <input type="text" class="form-control" ng-model="disease.title" placeholder="Enter Name" id="title" name="title" required>
                                <label class="control-label" ng-show="add_diseases_form.title.$dirty && (add_diseases_form.title.$error.required)">Name is required.</label>
                            </div>
                            <label>Description<span class="asterisk">*</span></label>
                            <div class="form-group" ng-class="{'has-error':add_diseases_form.description.$dirty && (add_diseases_form.description.$error.required)}">
                                <input type="text" class="form-control" ng-model="disease.description" placeholder="Enter description" id="description" name="description" required>
                                <label class="control-label" ng-show="add_diseases_form.description.$dirty && (add_diseases_form.description.$error.required)">Description is required.</label>
                            </div>
                            
                            <label>Starting Probability Outpatient<span class="asterisk">*</span> <small class="normalFont">(e.g. 7, 10.23, 34.00)</small></label>
                             <div class="form-group" ng-class="{'has-error':add_diseases_form.probability.$dirty && (add_diseases_form.probability.$error.required || add_diseases_form.probability.$error.parse || add_diseases_form.probability.$invalid)}">
                                <input type="text" class="form-control" name="probability" id="probability" ng-model="disease.starting_probability_outpatient" placeholder="Enter starting probability outpatient" required ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
                                <label class="control-label" ng-show="add_diseases_form.probability.$dirty && (add_diseases_form.probability.$error.required)">Starting Probability Outpatient is required.</label>
                                 <label class="control-label" ng-show="add_diseases_form.probability.$dirty && !add_diseases_form.probability.$error.required && (add_diseases_form.probability.$error.parse || add_diseases_form.probability.$invalid)">Enter valid numbers/decimals.</label>
                             </div>
                                <label>Starting Probability Pediatrician<span class="asterisk">*</span></label>
                                <div class="form-group" ng-class="{'has-error':add_diseases_form.Pediatrician.$dirty && (add_diseases_form.Pediatrician.$error.required || add_diseases_form.Pediatrician.$error.parse || add_diseases_form.Pediatrician.$invalid)}">
                                <input type="text" class="form-control" ng-model="disease.starting_probability_pediatrician" id="Pediatrician" name="Pediatrician" placeholder="Enter starting probability pediatrician" ng-required="true" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
                                 <label class="control-label" ng-show="add_diseases_form.Pediatrician.$dirty && (add_diseases_form.Pediatrician.$error.required)">Starting Probability Pediatrician is required.</label>
                                 <label class="control-label" ng-show="add_diseases_form.Pediatrician.$dirty && !add_diseases_form.Pediatrician.$error.required && (add_diseases_form.Pediatrician.$error.parse || add_diseases_form.Pediatrician.$invalid)">Enter valid numbers/decimals.</label>
                            </div>
                                <label>Low Severity Threshold<span class="asterisk">*</span></label>
                                <div class="form-group" ng-class="{'has-error':add_diseases_form.Threshold.$dirty && (add_diseases_form.Threshold.$error.required || add_diseases_form.Threshold.$error.parse || add_diseases_form.Threshold.$invalid)}">
                                <input type="text" class="form-control" id="Threshold" name="Threshold" ng-model="disease.low_severity_threshold" placeholder="Enter low severity threshold" ng-required="true" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
                                <label class="control-label" ng-show="add_diseases_form.Threshold.$dirty && (add_diseases_form.Threshold.$error.required)">Low Severity Threshold is required.</label>
                                 <label class="control-label" ng-show="add_diseases_form.Threshold.$dirty && !add_diseases_form.Threshold.$error.required && (add_diseases_form.Threshold.$error.parse || add_diseases_form.Threshold.$invalid)">Enter valid numbers/decimals.</label>

                            </div>
                                <label>High Severity Threshold<span class="asterisk">*</span></label>
                                <div class="form-group" ng-class="{'has-error':add_diseases_form.Threshold1.$dirty && (add_diseases_form.Threshold1.$error.required || add_diseases_form.Threshold1.$error.parse || add_diseases_form.Threshold1.$invalid)}">
                                <input type="text" class="form-control" id="Threshold1" name="Threshold1" ng-model="disease.high_severity_threshold" placeholder="Enter high severity threshold" ng-required="true" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
                                <label class="control-label" ng-show="add_diseases_form.Threshold1.$dirty && (add_diseases_form.Threshold1.$error.required)">High Severity Threshold is required.</label>
                                 <label class="control-label" ng-show="add_diseases_form.Threshold1.$dirty && !add_diseases_form.Threshold1.$error.required && (add_diseases_form.Threshold1.$error.parse || add_diseases_form.Threshold1.$invalid)">Enter valid numbers/decimals.</label>
                            </div>
                                <label>Low Dlr<span class="asterisk">*</span></label>
                                 <div class="form-group" ng-class="{'has-error':add_diseases_form.Low_Dlr.$dirty && (add_diseases_form.Low_Dlr.$error.required || add_diseases_form.Low_Dlr.$error.parse || add_diseases_form.Low_Dlr.$invalid)}">
                                <input type="text" class="form-control" id="Low_Dlr" name="Low_Dlr" ng-model="disease.low_dlr" placeholder="Enter low dlr" ng-required="true" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
                                <label class="control-label" ng-show="add_diseases_form.Low_Dlr.$dirty && (add_diseases_form.Low_Dlr.$error.required)">Low Dlr is required.</label>
                                 <label class="control-label" ng-show="add_diseases_form.Low_Dlr.$dirty && !add_diseases_form.Low_Dlr.$error.required && (add_diseases_form.Low_Dlr.$error.parse || add_diseases_form.Low_Dlr.$invalid)">Enter valid numbers/decimals.</label>
                            </div>
                                <label>Neutral Dlr<span class="asterisk">*</span></label>
                                <div class="form-group" ng-class="{'has-error':add_diseases_form.Neutral_Dlr.$dirty && (add_diseases_form.Neutral_Dlr.$error.required || add_diseases_form.Neutral_Dlr.$error.parse || add_diseases_form.Neutral_Dlr.$invalid)}" >
                                <input type="text" class="form-control" id="Neutral_Dlr" name="Neutral_Dlr" ng-model="disease.neutral_dlr" placeholder="Enter neutral dlr" ng-required="true" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
                                 <label class="control-label" ng-show="add_diseases_form.Neutral_Dlr.$dirty && (add_diseases_form.Neutral_Dlr.$error.required)">Neutral Dlr is required.</label>
                                 <label class="control-label" ng-show="add_diseases_form.Neutral_Dlr.$dirty && !add_diseases_form.Neutral_Dlr.$error.required && (add_diseases_form.Neutral_Dlr.$error.parse || add_diseases_form.Neutral_Dlr.$invalid)">Enter valid numbers/decimals.</label>
                            </div>
                            
                                <label>High Dlr<span class="asterisk">*</span></label>
                                <div class="form-group" ng-class="{'has-error':add_diseases_form.High_Dlr.$dirty && (add_diseases_form.High_Dlr.$error.required || add_diseases_form.High_Dlr.$error.parse || add_diseases_form.High_Dlr.$invalid)}"  >
                                <input type="text" class="form-control" id="High_Dlr" name="High_Dlr" ng-model="disease.high_dlr" placeholder="Enter high dlr" ng-required="true" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
                                 <label class="control-label" ng-show="add_diseases_form.High_Dlr.$dirty && (add_diseases_form.High_Dlr.$error.required)">High Dlr is required.</label>
                                 <label class="control-label" ng-show="add_diseases_form.High_Dlr.$dirty && !add_diseases_form.High_Dlr.$error.required && (add_diseases_form.High_Dlr.$error.parse || add_diseases_form.High_Dlr.$invalid)">Enter valid numbers/decimals.</label>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name='enable'  ng-model='disease.is_status' checked="{{enableChecked}}"/>
                                        Active
                                    </label>
                                </div>                                          
                            </div>
                        </div> <!--.box-body-->
                </div> <!-- .box -->
                <div class="box-footer clearfix no-border">
                    <button type="submit" class="btn m_lft5 btn-success pull-right" ng-disabled="add_diseases_form.$invalid">Submit</button>
                    <a type="button" class="btn btn-warning  pull-right" href="/#/diseases">Cancel</a>
                </div>
                </form> 
                                  </div>
          </div>
      </div>   
    </div>
    </div>
    
    </section><!-- /.content -->
</aside><!-- /.right-side -->   