 <aside class="right-side" ng-init="getAllDiseases()">
 <div ng-if="showloader" >
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div>
    <!-- Content Header (Page header) -->
    <section class="content-header" ng-cloak>
        <h1>Disorders</h1>
        <ol class="breadcrumb">
            <li><a href="/#/superhome"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li>Disorders</li>                       
        </ol>
    </section>
    <section class="content" ng-show="noDiseases" ng-cloak>
    <div class="box-body table-responsive">
    <div class="box">
    <div class="box-body table-responsive">
        <div class="row scrollDisabled" >
            <div class="col-xs-12">
                No diseases are available.
            </div>
        </div>
        </div>
        </div>
        </div>
    </section>
    <!-- Main content -->
    <section class="content" ng-show="diseasesExist" ng-cloak>
        <div class="row">
            <div class="col-xs-12">
                <div class="box-body table-responsive">
                    <div class="box">
                        <div class="box-body table-responsive">
                            <div class="clearfix">
                                <div class="pull-right2">
                                        <div class="legend-block custom_Legend_320px">
                                            <span class="legend-label legendMargin">Legend: </span>
                                            <span class="right">
                                              <div class="legend-desc legendMargin"><img src='images/enable.png' border='0'> Active</div>
                                              <div class="legend-desc legendMargin"><img src='images/disable.png' border='0'> Inactive</div>
                                            </span>
                                        </div>
                                </div>
                            </div>                         

                           <form role="form">
                                <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible"> 
                                    <colgroup>
                                        <col width="5%"/>
										<col width="5%"/>
                                        <col width="40%"/>
                                        <col width="50%"/>
                                    </colgroup>
                                   <tr ng-repeat = "disease in $data">
										<td header="'headerCheckbox.html'"><input type='checkbox' ng-model="checkboxes.items[disease._id]" ng-change="toggleSelection(disease._id)" ng-if="!disease.is_deleted" /></td>
										<td data-title="'Status'" sortable="'enable'" align='left'>
                                            <span>
                                                <span ng-if="disease.active==true"><img src='images/enable.png' border='0'></span>
                                                <span ng-if="disease.active==false"><img src='images/disable.png' border='0'></span>
                                            </span>
                                            <span ng-if="disease.is_deleted==true"><i class="fa fa-trash-o"></i></span>
                                        </td>
                                        <td data-title="'Disorder / Condition'" sortable="'title'" align="left">{{disease.title}}</td>
                                        <td data-title="'Description'" align="left">{{disease.description}}</td>
                                    </tr>
									<tr>
                                        <td colspan='12'>
                                            <div class="form-group">
                                                <select class="form-control selectedAction1" name='selectedAction' id='selectedAction'>
                                                    <option value="0">Select Status</option>
                                                    <option value="1">Active</option>
                                                    <option value="2">Inactive</option>
                                                </select> &nbsp;&nbsp;&nbsp;
                                                <input type='button' name='go' value='Go' class='btn btn-success' ng-click="performAction()">
                                            </div>
                                        </td>
                                
                                    </tr>
                                </table>
                            </form>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>
        </div>
    </section><!-- /.content -->
</aside><!-- /.right-side -->
<script type="text/ng-template" id="headerCheckbox.html">
    <input type="checkbox" ng-model="checkboxes.checked" data-ng-click="toggleSelection(0)" class="select-all" value="" />
</script>          