<aside class="right-side" ng-init="getDisease()">
<div ng-if="showloader" >
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div>
    <!-- Content Header (Page header) -->
    <section class="content-header" ng-cloak>
        <h1>
            {{disease_title}}
        </h1>
        <ol class="breadcrumb">
            <li><a href="/#/superhome"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="/#/diseases">Disorders</a></li> 
             <li>{{disease_title}}</li>                      
        </ol>
    </section>
    
    <!-- Main content -->
    <section class="content" ng-cloak>
    <div class="row">
    <div class="col-md-12">
    <!-- Custom Tabs -->
         <div class="row">
            <div class="col-xs-12">
                <form role="form" id="import_diseases_form" name="import_diseases_form">
                <div class="box">
                    <div class="box-body table-responsive">
                    <div class="pull-right1"><small>All Fields marked with <span class="redsphere">*</span> are mandatory</small></div>
                        <div class="box-body">
                            <div class="form-group">
                                <a href='/csv/sample_disorder.csv' align='right' class="btn btn-primary btn-responsive">Download Sample CSV</a>
                            </div>
                            <label>Select File <span class="asterisk">*</span></label>
                            <div class="form-group" ng-class="{'has-error':(import_diseases_form.myFile.$dirty && (import_diseases_form.myFile.$error.required) || invalidFile)}">
                                <input type="file" file-model="myFile" class="form-control" validfile ng-model="disease.myFile" id="uploadFile" name="myFile" onchange="angular.element(this).scope().fileNameChanged(this)">
                                <label class="control-label error" ng-show="import_diseases_form.myFile.$dirty && (import_diseases_form.myFile.$error.required)">File is required.</label>
                                <label class="control-label error" ng-if="invalidFile">Please Upload only CSV files</label>
                            </div>
                        </div> <!--.box-body-->
                </div> <!-- .box -->
                <div class="box-footer clearfix no-border">
                    <button type="submit" ng-disabled="!(!invalidFile && inputContainsFile)" class="btn m_lft5 btn-success pull-right" ng-click="uploadFile(disease.myFile)">Submit</button>
                    <a type="button" class="btn btn-warning  pull-right" href="/#/diseases">Cancel</a>
                </div>
                </form> 
              </div>
          </div>
      </div>   
    </div>
    </div>
    
    </section><!-- /.content -->
</aside><!-- /.right-side -->   