<html>
	<body>
		<table border="0" cellpadding="0" cellspacing="0" style="width:899px">
	<tbody>
		<tr>
			<td>&nbsp;
			<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:600px">
				<tbody>
					<tr>
						<td style="background-color:#1981ba">
						<table align="center" border="0" cellpadding="15" cellspacing="0" style="width:594px">
							<tbody>
							<tr>
					<td style="color: rgb(255, 255, 255); font-family: monospace; font-size: 16px;">
  					<div style="float: left; width: 20%;">
						<img width="65" height="65" alt="BH APP" src="http://www.baretoolkit.com/images/logo_web.png"/>
  					</div>
  					<div style="float: left; width: 80%;">
    				<h3>BHAPP - Registration Success</h3>
				 </div>
					</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td>
						<table border="0" cellpadding="10" cellspacing="0" style="width:594px">
							<tbody>
								<tr>
									<td>
									<table border="0" cellpadding="10" cellspacing="0" style="width:570px">
										<tbody>
											<tr>
												<td>
												<p>Dear {{name}},</p>

												<p>We are pleased to send you the registration email to join the BH app as a Clinician.</p>

												<p>Once your account approved by your manager, you will be able login into the application. Please check the following details to log-in into the platform</p>

												<p>Username: &nbsp;&nbsp;&nbsp; <b>{{username}}</b></p>
												<p>Password: &nbsp;&nbsp;&nbsp; <b>{{password}}</b></p>
																					
												<p>We are looking forward to offer you our best services.</p>

												</td>
											</tr>
										</tbody>
									</table>

									<table border="0" cellpadding="10" cellspacing="0" style="width:570px">
										<tbody>
											<tr>
											<td>
											<p>Regards,</p>
											<p>BH App Team</p>
											</td>
										</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td style="background-color:#1981ba">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</body>
</html>
