<html>
	<body>
		<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:100%">
			<tbody>
				<tr>
					<td style="background-color:#1981ba">
						<table align="center" border="0" cellpadding="15" cellspacing="0" style="width:100%">
							<tbody>
								<tr>
									<td style="color: rgb(255, 255, 255); font-family: monospace; font-size: 16px;">
					  					<div style="float: left; width: 20%;">
											<img width="65" height="65" alt="BH APP" src="http://www.baretoolkit.com/images/logo_web.png"/>
					  					</div>
					  					<div style="float: left; width: 80%; text-align:left;">
					    					<h3>BHAPP - Password Reset</h3>
									 	</div>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td>
					<table border="0" cellpadding="10" cellspacing="0" style="width:100%">
						<tbody>
							<tr>
								<td>
								<table border="0" cellpadding="10" cellspacing="0" style="width:570px">
									<tbody>
										<tr>
											<td>
											<p>Dear {{full_name}},</p>
											<p>Please click on the following link to reset your password : </p>

											<p><a href="{{app_link}}" target="_blank">Reset Password</a></p>					
											</td>
										</tr>
									</tbody>
								</table>

								<table border="0" cellpadding="10" cellspacing="0" style="width:570px">
									<tbody>
										<tr>
											<td>
											<p>Regards,</p>
											<p>BH App Team</p>
											</td>
										</tr>
									</tbody>
								</table>
								</td>
							</tr>
						</tbody>
					</table>
					</td>
				</tr>
				<tr>
					<td style="background-color:#1981ba">&nbsp;</td>
				</tr>
			</tbody>
		</table>
</body>
</html>
