<html>
	<body>
		<div> Hello {{name}},<br><br>
			Your account details has been updated, new credentials are as below:
		</div>
		<div>Username: &nbsp;&nbsp;&nbsp; <b>{{username}}</b></div>
		<div>Password: &nbsp;&nbsp;&nbsp; <b>{{password}}</b></div>
		<div>Regards,<br>
		Ramanpreet</div>
	</body>
</html>