<script src="javascripts/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
<aside class="right-side" ng-init="getClinicianDataById()">
<div ng-if="showloader" >
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div> 
    <!-- Content Header (Page header) -->
    <section class="content-header" ng-cloak>
        <h1>
            {{mode}} Admin
        </h1>
        <ol class="breadcrumb">
            <li><a href="/#/superhome"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="/#/users/listadmin">Admins</a></li> 
             <li>Add</li>                      
        </ol>
    </section>
    
    <!-- Main content -->
    <section class="content" ng-cloak>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-body table-responsive">  
                <div class="pull-right1"><small>All Fields marked with <span class="redsphere">*</span> are mandatory</small></div>
                  <form role="form" name="add_clinician_form" id="add_clinician_form"  ng-submit="addAdminToApp()">
                    <div class="box-body">
                      <label>First Name<span class="asterisk">*</span></label>
                      <div class="form-group" ng-class="{'has-error':add_clinician_form.first_name.$dirty && (add_clinician_form.first_name.$error.required || errordetail.first_name || add_clinician_form.first_name.$error.pattern)}">
                        <input type="text" name ="first_name" class="form-control" ng-model="user.first_name" placeholder="Enter Firstname" maxlength="30" ng-pattern="/^[A-Za-z']*$/" required>
                        <label class="control-label" ng-show="add_clinician_form.first_name.$dirty && (add_clinician_form.first_name.$error.required || errordetail.first_name)">First name is required.</label>
                        <label class="control-label" ng-show="add_clinician_form.first_name.$error.pattern">Only following characters (a-z A-Z ') are allowed.</label>
                      </div>

                      <label>Last Name<span class="asterisk">*</span></label>
                      <div class="form-group" ng-class="{'has-error':add_clinician_form.last_name.$dirty && (add_clinician_form.last_name.$error.required || errordetail.last_name || add_clinician_form.last_name.$error.pattern)}">
                        <input type="text" name="last_name" class="form-control" ng-model="user.last_name" placeholder="Enter Lastname" maxlength="30" nng-pattern="/^[A-Za-z']*$/" required>
                        <label class="control-label" ng-show="add_clinician_form.last_name.$dirty && (add_clinician_form.last_name.$error.required || errordetail.last_name)">Last name is required.</label>
                        <label class="control-label" ng-show="add_clinician_form.last_name.$error.pattern">Only following characters (a-z A-Z ') are allowed.</label>
                      </div>

                      <label>Email<span class="asterisk">*</span></label>
                      <div class="form-group" ng-class="{'has-error':add_clinician_form.email.$dirty && (add_clinician_form.email.$error.pattern || add_clinician_form.email.$error.required || add_clinician_form.email.$error.email || errordetail.email || errordetail.emailexist)}">
                        <input type="email" name="email" maxlength="50" class="form-control"  ng-if="readonly" ng-model="user.email" placeholder="Enter Email" readonly>
                        <input type="email" name="email" maxlength="50" class="form-control"  ng-if="!readonly" ng-model="user.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" placeholder="Enter Email" required>
                        <label class="control-label" ng-show="add_clinician_form.email.$dirty && (add_clinician_form.email.$error.required || errordetail.email)">Email ID is required.</label>
                        <label class="control-label" ng-show="add_clinician_form.email.$dirty && (add_clinician_form.email.$error.pattern || add_clinician_form.email.$error.email)" >Email is invalid.</label>
                        <label class="control-label" ng-show="add_clinician_form.email.$dirty && (errordetail.emailexist)">Email already exist</label>
                      </div>



                      <label>Username<span class="asterisk">*</span></label>
                      <div class="form-group" ng-class="{'has-error':add_clinician_form.username.$dirty && (add_clinician_form.username.$error.required || add_clinician_form.username.$error.pattern || (add_clinician_form.username.$error.minlength || add_clinician_form.username.$error.maxlength) || errordetail.username || errordetail.usernameexist)}">
                        <input type="text" name="username" class="form-control" ng-if="readonly" ng-model="user.username" placeholder="Enter Username" maxlength="30" readonly>
                        <input type="text" name="username" class="form-control" ng-if="!readonly" ng-model="user.username" placeholder="Enter Username" ng-pattern="/^[a-zA-Z0-9]*$/" ng-trim="false" ng-minlength="5" ng-maxlength="30" required>
                        <label class="control-label" ng-show="add_clinician_form.username.$dirty && (add_clinician_form.username.$error.required || errordetail.username)">Username is required.</label>
                        <label class="control-label" ng-show="add_clinician_form.username.$error.pattern">Username must be letters and numbers only.</label>
                        <label class="control-label" ng-show="!add_clinician_form.username.$error.required && !add_clinician_form.username.$error.pattern && (add_clinician_form.username.$error.minlength || add_clinician_form.username.$error.maxlength) && add_clinician_form.username.$dirty">Username must be between 5 and 30 characters.</label>
                        <label class="control-label" ng-show="add_clinician_form.username.$dirty && (errordetail.usernameexist)">Username already exist</label>
                      </div>

                      <label>Phone Number<span class="asterisk">*</span></label>
                      <div class="form-group" ng-class="{'has-error':add_clinician_form.phone.$invalid && !add_clinician_form.phone.$pristine}">
                        <div class="input-group">
                            <div class="input-group-addon">
                                +1
                            </div>
                            <input type="text" class="form-control" ng-model="user.phone" mask="(999) 999-9999" name="phone" mask-clean='true' placeholder="(xxx) xxx-xxxx" mask-restrict='reject' required>
                            <!-- <input type="text" class="form-control" name="phone" id="phone" ng-model="user.phone" ng-minlength="10" ng-maxlength="10" placeholder="Enter Phone Number" numbers-only ng-required="true"> -->
                        </div>
                        <label class="control-label" ng-show="add_clinician_form.phone.$invalid && !add_clinician_form.phone.$pristine" >Phone number is invalid.</label>
                        <!-- <label class="control-label" ng-show="add_clinician_form.phone.$dirty && (add_clinician_form.phone.$error.required || add_clinician_form.phone.$error.parse)">Phone number is required.</label>
                        <label class="control-label" ng-show="add_clinician_form.phone.$dirty && (add_clinician_form.phone.$error.minlength || add_clinician_form.phone.$error.maxlength)">Phone number must be 10 digits.</label> -->
                       </div>

                       <label>Clinic Name<span class="asterisk">*</span></label>
                       <div class="form-group" ng-class="{'has-error':add_clinician_form.clinic_name.$dirty && (add_clinician_form.clinic_name.$error.required || errordetail.clinic_name)}">
                          <input type="text" name="clinic_name" class="form-control" ng-model="user.clinic_name" placeholder="Enter Clinic Name" required />
                          <label class="control-label" ng-show="add_clinician_form.clinic_name.$dirty && (add_clinician_form.clinic_name.$error.required || errordetail.clinic_name)">Clinic Name is required.</label>
                      </div>
                      <label>Address<span class="asterisk">*</span></label>
                        <div class="form-group" ng-class="{'has-error':add_clinician_form.address.$dirty && (add_clinician_form.address.$error.required || errordetail.address)}">
                           <input type="text" name ="address" class="form-control" ng-model="user.address" placeholder="Enter Address" maxlength="50" required>
                        <label class="control-label" ng-show="add_clinician_form.address.$dirty && (add_clinician_form.address.$error.required || errordetail.address)">Address is required.</label>
                      </div>
                      <label>Password<span class="asterisk">*</span></label>
                        <div class="form-group" ng-class="{'has-error':add_clinician_form.password.$dirty && (add_clinician_form.password.$error.required || errordetail.password)}">
                           <input type="password" name ="password" class="form-control" ng-model="user.password" placeholder="Enter Password" maxlength="50" minlength="6" required>
                        <label class="control-label" ng-show="add_clinician_form.password.$dirty && (add_clinician_form.password.$error.required || errordetail.password)">Password is required.</label>
                      </div>

                      <label>Confirm Password<span class="asterisk">*</span></label>
                        <div class="form-group" ng-class="{'has-error':add_clinician_form.confirmPassword.$dirty && (add_clinician_form.confirmPassword.$error.required || errordetail.password || add_clinician_form.confirmPassword.$invalid)}">
                          <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password" ng-model="confirmPassword"
                            compare-to="user.password" ng-required="user.password">
                          <label class="control-label" ng-show="add_clinician_form.confirmPassword.$dirty && add_clinician_form.confirmPassword.$error.required">Password is required.</label>
                          <label class="control-label" ng-show="add_clinician_form.confirmPassword.$dirty && add_clinician_form.confirmPassword.$invalid && !add_clinician_form.confirmPassword.$error.required">Password does not match.</label>
                        </div>
                        
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name='is_status'  ng-model='user.is_status' checked="{{enableChecked}}"/>
                            Active
                        </label>
                      </div>
                    </div>
                    <!-- <input type="hidden" id="admin_added" name="user.admin_added" ng-model="user.admin_added" ng-init="user.admin_added=1"/> -->

                    <div class="box-footer clearfix no-border">
                <button type="submit" class="btn m_lft5 btn-success pull-right" ng-disabled="add_clinician_form.$invalid">Submit</button>
                      <a href="/#/users/listadmin"><button class="btn btn-warning  pull-right">Cancel</button></a>
                </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /.content -->
    <script type="text/javascript">
      $(function() {
          //Date picker
          $('#datepicker').datepicker({
            autoclose: true,
            endDate: "0d",
          });
      });
</script>
</aside><!-- /.right-side -->   