<aside class="right-side">
<div ng-if="showloader" >
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div> 
                <!-- Content Header (Page header) -->
                <section class="content-header" ng-cloak>
                    <h1>
                        Users
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href="/#/users">Users</a></li> 
                         <li>Add</li>                      
                    </ol>
                </section>

                <section class="content" data-ng-init="findOne()" ng-cloak>
            <div class="row">
            <div class="col-md-12">
                <!-- Custom Tabs -->
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li ng-class="{'active': activeTab === 0}" data-ng-click="moveTabContents(0)"><a data-toggle="tab">User</a></li>
                        <li  data-ng-if="user._id" ng-class="{'active': activeTab === 1}" data-ng-click="moveTabContents(1)"><a   data-toggle="tab">Role</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" ng-class="{'active': activeTab === 0}" id="tab_1">
                         <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <div class="box-body table-responsive">  
                                        <div class="alert alert-danger alert-dismissable" ng-show="message"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>                    
                                        <form role="form">
                                        <div class="box-body">
                                        <div class="form-group">
                                            <label>First Name</label>
                                            <input type="text" class="form-control" ng-model="user.first_name" placeholder="Enter Firstname">

                                            <label>Last Name</label>
                                            <input type="text" class="form-control" i ng-model="user.last_name" placeholder="Enter Lastname" >

                                            <label>Email</label>
                                            <input type="text" class="form-control"  ng-model="user.email" placeholder="Enter Email">

                                            <label>Username</label>
                                            <input type="text" class="form-control"  ng-model="user.username" placeholder="Enter Username">

                                            <label>Password</label>
                                            <input type="password" class="form-control"  ng-model="user.password" placeholder="Enter password" >

                                            <label>Display Name</label>
                                            <input type="text" class="form-control" ng-model="user.display_name" placeholder="Enter display name">

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name='enable'  ng-model='user.enable' checked="{{enableChecked}}"/>
                                                    Enable
                                                </label>
                                            </div>                                          
                                    </div>
                                     

                                   
                                </form>              
                                  </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div><!-- /.tab-pane -->
                  <div  class="tab-pane"  ng-class="{'active': activeTab === 1}" id="tab_2">
                    <div class="alert alert-danger alert-dismissable" ng-show="message"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
                      <table class="table">
                  <thead>
                <tr>
                <td class="stdc"><b>Used</b></td>
                <td style="width:100%;"><b>Role</b></td>
                <td class="stdc"><b>Status</b></td>
            </tr>
        </thead>
        <tbody>

            <tr data-ng-repeat="role in roleData" on-finish-render class="pointer {{checkStatus(role.used)}}" data-ng-click="selectRole(role._id)">
                <td class="set{{role.used}}"><i ng-show="role.used" class="fa fa-thumbs-up fa-2x" title="Used on this Objective"></i><i ng-hide="role.used" class="fa fa-thumbs-down fa-2x" title="Not on this Objective"></i></td>
                <td class="stdl set{{role.is_deleted==0}}" style="width:100%;">{{role.name}}</td>
                <td class="set{{!role.is_deleted}} stdc smallertext">
                    <i ng-show="role.is_deleted==0" class="fa fa-thumbs-up fa-2x active-data" title="Active"></i>
                    <i ng-hide="role.is_deleted==0" class="fa fa-thumbs-down fa-2x inactive-data" title="Disabled"></i>
                    <div ng-show="role.is_deleted==0">Active</div>
                    <div ng-hide="role.is_deleted==0">Disabled</div>
                </td>
            </tr>
    </table>
                                             
                  </div><!-- /.tab-pane -->
              </div><!-- /.tab-content -->
          </div>
          <div class="box-footer clearfix no-border">
                                                  <button data-ng-if="!user._id" class=" btn m_lft5  btn-warning pull-right" data-ng-click="updateData(0)">Save & Continue</button>
                                                   <button data-ng-if="user._id && activeTab != 1" class="btn m_lft5 btn-warning pull-right" data-ng-click="updateData(0)">Save & Continue</button>
                                                  <button data-ng-if="user._id" class="btn m_lft5 btn-warning pull-right" data-ng-click="updateData(1)">Save & Exit</button>
                                              </div>
      </div>
  </div>

  </section><!-- /.content -->
            </aside><!-- /.right-side -->   