<aside class="right-side" ng-init="getAllAdmins()">
<div ng-if="showloader" >
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div> 
    <!-- Content Header (Page header) -->
    <section class="content-header" ng-cloak>
        <h1>Admins</h1>
        <ol class="breadcrumb">
            <li><a href="/#/superhome"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li>Admins</li>                       
        </ol>
    </section>

    <section class="content" ng-show="noAdmin" ng-cloak>
    <div class="box-body table-responsive">
    <div class="box">
    <div class="box-body table-responsive">
        <div class="row scrollDisabled">
            <div class="col-xs-12">
                <div class="pull-left m_btm15">
                    <a href="/#/users/addadmin" title="Add Admin" align='right'  class="btn btn-primary btn-responsive">Add New Admin</a>
                </div>

            </div>
        </div>
        <div class="row scrollDisabled">
            <div class="col-xs-12">
                No admins are available.
            </div>
        </div>
        </div>
        </div>
    </section>
    
    <!-- Main content -->
    <section class="content" ng-show="adminExist" ng-cloak>
        <div class="row">
            <div class="col-xs-12">
                <div class="box-body table-responsive">
                    <div class="box">
                       <div class="box-body table-responsive">
                                    <div class="clearfix">
                                    <div class="pull-left m_btm15">
                                        <a href="/#/users/addadmin" title="Add Admin" align='right'  class="btn btn-primary btn-responsive">Add New Admin</a>
                                        <a href="javascript:void(0);" ng-click="downloadCSV();" title="export Disorder" align='right'  class="btn btn-primary btn-responsive">Export CSV</a>
                                    </div>
                                        <div class="pull-right2">
                                            <div class="legend-block custom_Legend_320px">
                                                <span class="legend-label">Legend:</span>
                                                <span class="right">
                                                    <span class="legend-desc"><img src='images/enable.png' border='0'> Active</span>
                                                    <span class="legend-desc"><img src='images/disable.png' border='0'> Inactive</span>
                                                </span>
                                            </div >
                                        </div >
                                        <div class="clearfix"></div>
                                    </div>
                                    <form role="form">
                                        <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible"> 
                                            <colgroup>
                                                <col width="5%"/>
                                                <col width="5%"/>
                                                <col width="5%"/>
                                                <col width="15%"/>
                                                <col width="15%"/>
                                                <col width="20%"/>
                                                <col width="20%"/>
                                                <col width="15%"/>
                                                 <col width="15%"/>
                                            </colgroup>
                                            <tr ng-repeat = "user in $data">
                                                
                                                <td data-title="'Select'" header="'headerCheckbox.html'">
                                                    <input type='checkbox' ng-model="checkboxes.items[user._id]" ng-change="toggleSelection(user._id)" /> 
                                                </td>
                                                <td data-title="'Edit'">
                                                    <a href="/#/users/editadmin/{{user._id}}"><span class="glyphicon glyphicon-pencil"></span></a>
                                                </td>
                                                 <td data-title="'Status'" align='left' ng-if="!user.is_deleted">
                                                    <a ng-if="user.is_status == true" ng-click="disableAdminStatus(options._id,false);" alt="Click to Deactive" title="Click to Deactivate"><img title="Active" src='images/enable.png' border='0'></div></i></a>
                                                    <a ng-if="user.is_status == false" ng-click="disableAdminStatus(options._id,true);" alt="Click to Active" title="Click To Activate"><img title="Inactive" src='images/disable.png' border='0'></a>
                                                </td>
                                                 <td data-title="'Username'" sortable="'username'" filter="{username:'text'}" align="left">{{user.username}}</td>
                                                 
                                                <td sortable="'first_name'" ng-click="getDetails(user)" data-toggle="modal" data-target="#myModal" title="Patient Details" data-title="'First Name'" filter="{first_name:'text'}" sortable="'first_name'" align="left">{{user.first_name}}</td>
                                                
                                                <td data-title="'Last Name'" sortable="'last_name'" filter="{last_name:'text'}" align="left">{{user.last_name}}</td>
                                                
                                                <td data-title="'Email'" sortable="'email'" filter="{email:'text'}" align="left">{{user.email}}</td>
                                                
                                                <td data-title="'Contact'" sortable="'phone'" align="left">{{user.phone}}</td>
                                                
                                                <td data-title="'Created'" sortable="'created_date'" align="left">{{user.created_date | date :"MM/dd/yyyy"}}</td>
                                                
                                               

                                                <!-- <td data-title="'Status'" align='left' ng-if="user.is_deleted">
                                                    <i title="Removed" class="fa fa-trash-o">
                                                </td> -->
                                            </tr>
                                            <tr>
                                        <td colspan='8'>
                                            <div class="form-group">
                                                <select class="form-control selectedAction1" name='selectedAction' id='selectedAction'>
                                                    <option value="0">Select Status</option>
                                                    <option value="1">Active</option>
                                                    <option value="2">Inactive</option>
                                                </select> &nbsp;&nbsp;&nbsp;

                                                <input type='button' name='go' value='Go' class='btn btn-success' ng-click="performAction()">
                                            </div>
                                        </td>
                                    </tr>
                                        </table>
                                        
                                    </form>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /.content -->
</aside><!-- /.right-side -->

<!-- page script -->
<script type="text/ng-template" id="headerCheckbox.html">
    <input type="checkbox" data-ng-click="toggleSelection(0)" ng-model="checkboxes.checked" class="select-all" value="" />
</script>


               