<script src="javascripts/plugins/iCheck/icheck.js" type="text/javascript"></script>
<aside class="right-side">
<div ng-if="showloader" >
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div> 
    <!-- Content Header (Page header) -->
    <section class="content-header" ng-cloak>
      <h1>
        User Profile
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{homescreen}}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">User profile</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content" ng-init="getUserProfileData()" ng-cloak> 
      <div class="row">
        <div class="col-md-3">
          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
            <a href="javascript:void(0);"><img data-toggle="modal" data-target="#myModal" class="profile-user-img img-responsive img-circle" ng-src="/{{profileImgPath}}{{profileImg}}" alt="no image" err-src="{{errprofileImage}}" title="Change Picture"></a>
              <h3 class="profile-username text-center">{{first_name}} {{last_name}}</h3>
              <p class="text-muted text-center">{{userType}}</p>
              <p class="text-muted text-center">{{clinic_name}}</p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
              <div class="box box-primary">
              <div class="box-header with-border">
                    <h3 class="box-title">Edit Details</h3>
                    
                </div>
                <div class="row">
                    <div class="col-sm-12">
                      <div class="pull-right1" style="margin-right:10px;">
                        <small>All Fields marked with 
                          <span class="redsphere">*</span> are mandatory</small>
                      </div>
                    </div>
                </div>
                

                <form role="form" name="update_profile_form" id="update_profile_form" class="form-horizontal" ng-submit="updateProfileData()">
                  <div class="box-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <label for="first_name" class="control-label">First Name</label><span class="asterisk">*</span>

                      </div>
                      <div class="col-sm-9">
                        <div class="form-group custom-form-group" ng-class="{'has-error':update_profile_form.first_name.$dirty && (update_profile_form.first_name.$error.required || update_profile_form.first_name.$error.pattern || errordetail.first_name)}">
                            <input type="text" name="first_name" ng-model="profileData.first_name" value="{{profileData.first_name}}" class="form-control" id="first_name" placeholder="First Name" maxlength="30" ng-pattern="/^[A-Za-z']*$/" required>
                            <!-- ng-pattern="/^[A-Za-z]*$/" -->

                            <label class="control-label" ng-show="update_profile_form.first_name.$dirty && (update_profile_form.first_name.$error.required || errordetail.first_name)">First name is required.</label>
                            <label class="control-label" ng-show="update_profile_form.first_name.$error.pattern">Only following characters (a-z A-Z ') are allowed.</label>
                          </div>
                      </div>
                    </div>
                  <div class="row">
                    <div class="col-sm-3">
                       <label for="inputName" class="control-label">Last Name</label><span class="asterisk">*</span>
                    </div>
                    <div class="col-sm-9">
                      <div class="form-group custom-form-group" ng-class="{'has-error':update_profile_form.last_name.$dirty && (update_profile_form.last_name.$error.required || update_profile_form.last_name.$error.pattern || errordetail.last_name)}">
                        <input type="text" name="last_name" ng-model="profileData.last_name" value="{{profileData.last_name}}" class="form-control" id="last_name" placeholder="Last Name" maxlength="30" ng-pattern="/^[A-Za-z']*$/" required>
                        <label class="control-label" ng-show="update_profile_form.last_name.$dirty && (update_profile_form.last_name.$error.required || errordetail.last_name)">Last name is required.</label>
                        <label class="control-label" ng-show="update_profile_form.last_name.$error.pattern">Only following characters (a-z A-Z ') are allowed.</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-3">
                      <label for="inputEmail" class="control-label">Email</label>
                    </div>
                    <div class="col-sm-9">
                      <div class="form-group custom-form-group" ng-class="{'has-error':update_profile_form.email.$dirty && (update_profile_form.email.$error.required || errordetail.email)}">
                        <input type="email" name="email" ng-model="profileData.email" readonly class="form-control" id="email" placeholder="Email">
                        <label class="control-label" ng-show="update_profile_form.email.$dirty && (update_profile_form.email.$error.required || errordetail.email)">Email is required.</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-3">
                      <label for="inputName" class="control-label">UserName</label>
                    </div>
                    <div class="col-sm-9">
                      <div class="form-group custom-form-group">
                        <input type="text" value="{{profileData.username}}" readonly class="form-control" id="username" placeholder="Username" required>
                        <label class="control-label" ng-show="update_profile_form.username.$dirty && (update_profile_form.username.$error.required || errordetail.username)">Username is required.</label>
                      </div>
                    </div>
                  </div>

                  <div class="row" ng-if="showClinicName">
                    <div class="col-sm-3">
                      <label for="inputName" class="control-label">Clinic Name</label><span class="asterisk">*</span>
                    </div>
                    <div class="col-sm-9">
                      <div class="form-group custom-form-group" ng-class="{'has-error':update_profile_form.clinic_name.$dirty && (update_profile_form.clinic_name.$error.required || errordetail.clinic_name)}">
                        <input type="text" name="clinic_name" value="{{profileData.clinic_name}}" ng-model="profileData.clinic_name" class="form-control" id="clinic_name" placeholder="Clinic Name" maxlength="50"required>
                        <label class="control-label" ng-show="update_profile_form.clinic_name.$dirty && (update_profile_form.clinic_name.$error.required || errordetail.clinic_name)">Clinic name is required.</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-3">
                      <label for="inputName" class="control-label">Phone</label><span class="asterisk">*</span>
                    </div>
                    <div class="col-sm-9">
                      <div class="form-group custom-form-group" ng-class="{'has-error':update_profile_form.phone.$invalid && !update_profile_form.phone.$pristine}">
                        <div class="input-group">
                            <div class="input-group-addon">
                                +1
                            </div>
                            <!-- <input type="text" class="form-control" name="phone" id="phone" ng-model="profileData.phone" ng-minlength="10" ng-maxlength="10" placeholder="Phone number" numbers-only ng-required="true"> -->
                            <input type="text" class="form-control" ng-model="profileData.phone" mask="(999) 999-9999" name="phone" mask-clean='true' placeholder="(xxx) xxx-xxxx" mask-restrict='reject' required>
                        </div>
                        <label class="control-label" ng-show="update_profile_form.phone.$invalid && !update_profile_form.phone.$pristine" >Phone number is invalid.</label>
                        <!-- <label class="control-label" ng-show="update_profile_form.phone.$dirty && (update_profile_form.phone.$error.minlength || update_profile_form.phone.$error.maxlength)">Phone number must be 10 digits.</label> -->
                      </div>
                    </div>
                  </div>
                  <div class="row" ng-show="showSpeciality">
                    <div class="col-sm-3">
                      <label for="inputName" class="control-label">Specialities</label>
                    </div>
                    <div class="col-sm-9">
                      <div class="form-group custom-form-group">
                        <label class="twoLine" ng-repeat="x in diseases">
                          <input i-check-green type="checkbox"
                            id = "{{x._id}}"
                            ng-model = "x.selected"/>&nbsp;<span class="checkBoxText">{{x.title}}</span><br/>
                        </label>
                      </div>
                    </div>
                  </div>
                  </div>
                  <div class="box-footer clearfix no-border">
                      <button type="submit" class="btn m_lft5 btn-success pull-right" ng-disabled="update_profile_form.$invalid">Submit</button>
                      <a type="button" class="btn btn-warning  pull-right" ng-click="goToBack()">Cancel</a>
                    </div>
                </form>
             
              <!-- /.tab-pane -->
            </div>
           
          <!-- /.nav-tabs-custom -->
        </div><!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </aside>
  <!-- /.content-wrapper -->
  
  <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-cloak>
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Change Profile Picture</h4>
                  </div>
                <form name="myForm">
                  <div class="modal-body">
                            <div class="pull-left">Crop Image and Upload</div>&nbsp;
    <button class="btn" ngf-select ngf-validate="{size: {max: '2MB', min: '10B'}}" ng-model="picFile" accept="image/*" ng-change="ValidateSingleInput('file');" name="image"
    > Select Image</button>&nbsp;<span class="normalFont">(Only .PNG/.JPG/.JPEG/.GIF/.BMP images are allowed and max size of 2 MB.)</span> <br /> <br />
    <span ng-show="myForm.image.$error.maxSize" class="text-warning">Max image size allowed is 2 MB.</span>

                            <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea form-group">
                                <img-crop image="picFile  | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
                                </img-crop>
                            </div>
                            <div class="form-group">
                                <img ng-src="{{croppedDataUrl}}" />
                            </div>
                            <!-- <button ng-click="upload(croppedDataUrl, picFile.name)">Submit</button> -->
                            <span class="progress" ng-show="progress >= 0">
                              <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
                            </span>
                            <span ng-show="result">Upload Successful</span>
                            <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="upload(croppedDataUrl, picFile.name)" data-dismiss="modal" ng-disabled="invalidImage">Submit</button>
                  </div>
                </form>
                </div>
              </div>
            </div>

