<div class="form-box" id="login-box" ng-cloak ng-init="openSignUp()">
<div ng-if="showloader" >
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div> 
    <div class="header"><img src="images/logo_web.png" alt="BH APP" class="logo_image"/>&nbsp;Register Clinician</div>
            <form role="form" name="add_clinician_form" id="add_clinician_form" ng-submit="addUser();">
                <div class="body bg-gray">

                    <div class="form-group" ng-class="{'has-error':add_clinician_form.first_name.$dirty && (add_clinician_form.first_name.$error.required || errordetail.first_name || add_clinician_form.first_name.$error.pattern)}">
                        <input type="text" name="first_name" class="form-control" ng-model="user.first_name" placeholder="Enter first name" maxlength="30" ng-pattern="/^[A-Za-z']*$/" required />
                        <label class="control-label" ng-show="add_clinician_form.first_name.$dirty && (add_clinician_form.first_name.$error.required || errordetail.first_name)">First name is required.</label>
                        <label class="control-label" ng-show="add_clinician_form.first_name.$error.pattern">Only following characters (a-z A-Z ') are allowed.</label>
                    </div>
                    
                     <div class="form-group" ng-class="{'has-error':add_clinician_form.last_name.$dirty && (add_clinician_form.last_name.$error.required || errordetail.last_name || add_clinician_form.last_name.$error.pattern)}">
                        <input type="text" name="last_name" class="form-control" ng-model="user.last_name" placeholder="Enter last name" maxlength="30" ng-pattern="/^[A-Za-z']*$/" required />

                        <!-- ng-pattern="/^[ A-Za-z_./']*$/" Only characters and _./' -->
                        <!-- ng-pattern="/^[a-zA-Z\s]*$/" Only Characters-->
                        <label class="control-label" ng-show="add_clinician_form.last_name.$dirty && (add_clinician_form.last_name.$error.required || errordetail.last_name)">Last name is required.</label>
                        <label class="control-label" ng-show="add_clinician_form.last_name.$error.pattern">Only following characters (a-z A-Z ') are allowed.</label>
                    </div>

                    <div class="form-group" ng-class="{'has-error':add_clinician_form.email.$dirty && (add_clinician_form.email.$error.pattern || add_clinician_form.email.$error.required || add_clinician_form.email.$error.email || errordetail.email || errordetail.emailexist)}">
                        <input type="email" name="email" class="form-control" ng-model="user.email" placeholder="Enter email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required />
                        <label class="control-label" ng-show="add_clinician_form.email.$dirty && (add_clinician_form.email.$error.required || errordetail.email)">Email is required.</label>
                        <label class="control-label" ng-show="add_clinician_form.email.$dirty && (add_clinician_form.email.$error.pattern || add_clinician_form.email.$error.email)" >Email is invalid.</label>

                        <label class="control-label" ng-show="add_clinician_form.email.$dirty && (errordetail.emailexist)">Email already exist</label>
                    </div>

                    <div class="form-group" ng-class="{'has-error':add_clinician_form.username.$dirty && (add_clinician_form.username.$error.required || add_clinician_form.username.$error.pattern || (add_clinician_form.username.$error.minlength || add_clinician_form.username.$error.maxlength) || errordetail.username || errordetail.usernameexist)}">
                        <input type="text" name="username" class="form-control" placeholder="Enter username" ng-model="user.username" ng-pattern="/^[a-zA-Z0-9]*$/" ng-trim="false" ng-minlength="5" ng-maxlength="30" required/>
                        <label class="control-label" autocomplete="off" value="" ng-show="add_clinician_form.username.$dirty && (add_clinician_form.username.$error.required || errordetail.username)">Username is required.</label>
                        <label class="control-label" ng-show="add_clinician_form.username.$error.pattern">Username must be letters and numbers only.</label>
                        <label class="control-label" ng-show="!add_clinician_form.username.$error.required && !add_clinician_form.username.$error.pattern && (add_clinician_form.username.$error.minlength || add_clinician_form.username.$error.maxlength) && add_clinician_form.username.$dirty">Username must be between 5 and 30 characters.</label>
                        <label class="control-label" ng-show="add_clinician_form.username.$dirty && (errordetail.usernameexist)">Username already exist.</label>
                    </div>
                    <div class="form-group" ng-class="{'has-error':add_clinician_form.password.$dirty && (add_clinician_form.password.$error.required || (add_clinician_form.password.$error.minlength || add_clinician_form.password.$error.maxlength) || errordetail.password)}">
                        <input type="password" name="password" autocomplete="off" class="form-control" placeholder="Enter password" ng-model="user.password" ng-minlength="6" ng-maxlength="20" required />
                        <label class="control-label" ng-show="add_clinician_form.password.$dirty && (add_clinician_form.password.$error.required || errordetail.password)">Password is required.</label>

                       <label class="control-label" ng-show="!add_clinician_form.password.$error.required && (add_clinician_form.password.$error.minlength || add_clinician_form.password.$error.maxlength) && add_clinician_form.password.$dirty">Password must be between 6 and 20 characters.</label>
                    </div>
                    <div class="form-group" ng-class="{'has-error': (add_clinician_form.password2.$dirty && add_clinician_form.password2.$error.required) || user.password2 != user.password}">
                        <input type="password" name="password2" autocomplete="off" class="form-control" placeholder="Confirm password" ng-model="user.password2" required />
                        <label class="control-label" ng-show="add_clinician_form.password2.$dirty && (add_clinician_form.password2.$error.required || errordetail.password2)">Confirm password is required.</label>
			<label class="control-label" ng-show="user.password2 != user.password">Password and Confirm password doesn't match.</label>
                    </div>
                    <div class="form-group" ng-class="{'has-error':add_clinician_form.parent.$dirty && (add_clinician_form.parent.$error.required || errordetail.parent)}">
                        <input type="text" name="parent" class="form-control" ng-model="user.parent" placeholder="Enter reference code" maxlength="6" required />
                        <label class="control-label" ng-show="add_clinician_form.parent.$dirty && (add_clinician_form.parent.$error.required || errordetail.parent)">Reference Code is required.</label>
                    </div>
                </div>
                 <input type="hidden" id="admin_added" name="user.admin_added" ng-model="user.admin_added" ng-init="user.admin_added=0"/>
                <div class="footer">
                        <!--{{user}} {{add_clinician_form.password2}}-->
                        <!--{{add_clinician_form.password}} {{add_clinician_form.password2}}-->
                  <!--<button type="button" class="btn bg-olive btn-block" ng-click="addUser()">Sign me up</button>-->
                  <button type="submit" class="btn bg-olive btn-block" ng-disabled="add_clinician_form.$invalid" ng-show="!userSaved">Sign up</button>
                    <a href="/#/login" class="text-center">< Back to Sign In</a>

                <!-- <a href="/#/login" class="text-center" ng-show="userSaved">Please login to continue</a> -->
                </div>
            </form>  

            <br />  <br />