 <aside class="right-side" data-ng-init="listAllAppointmentTypes()">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                       Default Appointment Types                       
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li>Default Appointment Types</li>                       
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box-body table-responsive">
                                    <div class="alert alert-danger alert-dismissable" ng-show="message"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>   
                            
                            <div class="box">
                                
                                <!-- <div class="box-header">
                                    <h3 class="box-title">Data Table With Full Features</h3>
                                </div> -->
                                 <div class="box-body table-responsive">
                                <div class="clearfix">
                                 <div class="pull-left m_btm15"><a ui-sref="default-appointmenttype-add" align='right'  class="btn btn-primary">Add New Appt Type</a></div>
                                 <div class="clearfix"></div>
                               
                                <form name="searchForm" novalidate ng-submit="applyGlobalSearch()">
                                    <div class="input-group">
                                      <span class="input-group-addon">Except for...
                                        <input type="checkbox" name="inverted" ng-model="isInvertedSearch" />
                                      </span>
                                      <input type="text" class="form-control" placeholder="Search term" name="searchTerm" ng-model="globalSearchTerm" required />
                                      <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                          <span class="glyphicon glyphicon-search"></span>
                                      </button>
                                      </span>
                                    </div>
                              </form>
                              </div>                         

                           <form role="form">
                                  
                                    <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible"> 
                                     <colgroup>
                                              <col width="5%"/>
                                              <col width="5%"/>
                                              <col width="80%"/>
                                              <!-- <col width="10%"/> -->
                                              <!-- <col width="20%"/>
                                              <col width="20%"/> -->
                                             
                                            </colgroup>

                                            <tr ng-repeat = "apptType in $data">
                                                <td header="'headerCheckbox.html'"><input type='checkbox' ng-model="checkboxes.items[apptType._id]" ng-change="toggleSelection(apptType._id)" value="{{apptType._id}}" /></td>
                                                <td data-title="'Status'" sortable="'enable'" align='left'><div ng-if="apptType.enable==true"><img src='images/enable.png' border='0'></div><div ng-if="apptType.enable==false"><img src='images/disable.png' border='0'></div></td>

                                                <td data-title="'Title'" sortable="'title'" filter="{title:'text'}" align="left"><a href="/#/default-appointmenttype/edit/{{apptType._id}}" alt="Click to edit" title="Click to edit">{{apptType.title}}</a></td>
                                           
                                            </tr>
                                            <tr>
                                                <td colspan='2'>
                                                    
                                                    <div class="form-group">
                                                                <select class="form-control" name='selectedAction' id='selectedAction'>
                                                                <option value="0">Select</option>
                                                                <option value="1">Enable</option>
                                                                <option value="2">Disable</option>
                                                                <option value="3">Delete</option>
                                                            </select> 
                                                    </div>
                                                </td>
                                                <td colspan='3'><input type='button' name='go' value='Go' class='btn btn-primary' ng-click="performApptTypeAction()"></td>
                                                
                                            </tr>  
                                    </table>   
                            </form>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div>

                </section><!-- /.content -->
            </aside><!-- /.right-side -->


            <!-- page script -->
         <script type="text/ng-template" id="headerCheckbox.html">
                <input type="checkbox" ng-model="checkboxes.checked" data-ng-click="toggleSelection(0)" class="select-all" value="" />
            </script>
               