<aside class="right-side" data-ng-init="findOne()">
    <section class="content-header" ng-cloak>
        <h1>
            Questionnaire
        </h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/#/questionnaire">Questionnaire</a></li> 
             <li>Add</li>                      
        </ol>
    </section>
    <!-- Main content -->
        <section class="content" ng-cloak>
            <div class="row">
            <div class="col-md-12">
                <div>
                    <div class="clearfix">
                        <div class="" id="tab_1">
                         <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <div class="box-body table-responsive">  
                                        <!--<div class="alert alert-danger alert-dismissable" ng-show="message"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>                    -->
                                        <form role="form">
                                        <div class="box-body">
                                        <div class="form-group">
                                            <label>Questionnaire</label>
                                            <input type="text" class="form-control" ng-model="questionnaire.questionnaire_name" placeholder="Enter Questionnaire">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name='enable'  ng-model='questionnaire.enable' checked="{{enableChecked}}"/>
                                                    Enable
                                                </label>
                                            </div>                                          
                                    </div>
                                   
</div>
                                   
                                </form>              
                                  </div>
                                  </div>
                              </div>
                          </div>
                      </div>
              </div><!-- /.tab-content -->
          </div>
            <div class="box-footer clearfix no-border" ng-cloak>
                <a href="/#/questionnaires" class="btn m_lft5 btn-warning pull-right">Cancel</a>
                <button class="btn m_lft5 btn-warning pull-right" data-ng-click="updateData(0)">Save</button>
                <!--<button data-ng-if="questionnaire._id && activeTab != 2" class="btn m_lft5 btn-warning pull-right" data-ng-click="updateData(0)">Save & Continue</button>-->
                <!--<button data-ng-if="(questionnaire._id)" class="btn m_lft5 btn-warning pull-right" data-ng-click="updateData(1)">Save & Exit</button>-->

            </div>
      </div>
  </div>
</div>
  </section><!-- /.content -->


            </aside><!-- /.right-side -->