  <aside class="right-side" ng-init="getAnswerOptionData()">
    <!-- Content Header (Page header) -->
    <div ng-if="showloader" >
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div>
    <section class="content-header" ng-cloak>
      <h1>{{add_answer_screen_title}}</h1>
     <ol class="breadcrumb">
      <li><a href="/#/superhome"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li><a href="/#/answers">Answers</a></li> 
      <li>{{add_answer_screen_title}}</li>                      
    </ol>
  </section>
  <!-- Main content -->
  <section class="content" ng-cloak>
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
            <div class="box-body table-responsive">
            <div class="pull-right1"><small>All Fields marked with <span class="redsphere">*</span> are mandatory</small></div>
            
              <form role="form" name="add_answer_form" id="add_answer_form" ng-submit="addAnswerOption();">
              <div class="box-body">
                <label>Answer Text<span class="asterisk">*</span></label>
                <div class="form-group" ng-class="{'has-error':add_answer_form.answer_text.$dirty && (add_answer_form.answer_text.$error.required || errordetail.answer_text)}">
                  <input type="text" class="form-control" id="answer_text" name='answer_text' ng-model="answerObj.answer_text" placeholder="Enter answer text" required>
                  <label class="control-label" ng-show="add_answer_form.answer_text.$dirty && (add_answer_form.answer_text.$error.required || errordetail.answer_text)">Answer Text is required.</label>
                </div>

                <label>Answer Score<span class="asterisk">*</span></label>
                <div class="form-group" ng-class="{'has-error':add_answer_form.answer_value.$dirty && (add_answer_form.answer_value.$error.required || errordetail.answer_value)}">
                  <input type="text" class="form-control" id="answer_value" name='answer_value' ng-model="answerObj.answer_value" placeholder="Enter answer score" required>
                  <label class="control-label" ng-show="add_answer_form.answer_value.$dirty && (add_answer_form.answer_value.$error.required || errordetail.answer_value)">Answer Score is required.</label>
                </div>

                <label>Status</label>
                <!-- <div class="clearfix"></div> -->
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name='enable' id='enable' ng-model='answerObj.is_status' checked="{{enableChecked}}"/> Active
                  </label>
                </div> 
              </div><!-- /.box-body || colorCount==0 -->
    <div class="box-footer">
      <button type="submit" class="btn btn-success pull-right" ng-disabled="add_answer_form.$invalid">Submit</button>
      <a href="/#/answers" class="btn m_lft5 btn-warning pull-right">Cancel</a>
      <!--button class="btn m_lft5 btn-primary pull-right">Save</button-->
    </div>
    <div class="clearfix"></div>
  </form>              
</div><!-- /.box-body -->
</div><!-- /.box -->
</div>
</div>

</section><!-- /.content -->
  </aside><!-- /.right-side -->