<aside class="right-side" ng-init="getAllAnswerOptions()">
    <!-- Content Header (Page header) -->
    <div ng-if="showloader" >
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div>
    <section class="content-header" ng-cloak>
        <h1>Answers</h1>
        <ol class="breadcrumb">
            <li><a href="/#/superhome"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li>Answers</li>                       
        </ol>
    </section>

    <section class="content" ng-show="noAnswer" ng-cloak>
    <div class="box-body">
    <div class="box">
    <div class="box-body">
        <div class="row scrollDisabled">
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-left m_btm15">
                    <a href="/#/answers/add" title="Add Answers" align='right'  class="btn btn-primary btn-responsive">Add New Answers</a>
                </div>
            </div>
        </div>
        <div class="row scrollDisabled">
            <div class="col-xs-12">
                No answers are available.
            </div>
        </div>
     </div>
     </div>
     </div>
     </div>
    </section>
    <!-- Main content -->
    <section class="content" ng-show="answerExist" ng-cloak>
        <div class="row">
            <div class="col-xs-12">
                <div class="box-body table-responsive">
                   <!--  <div class="alert alert-danger alert-dismissable" ng-show="message">
                        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}
                    </div> -->
                    <div class="box">
                        <div class="box-body table-responsive">
                            <div class="clearfix">
                                <div class="pull-left m_btm15">
                                    <a href='/#/answers/add' align='right'  class="btn btn-primary btn-responsive">Add New Answer Option</a>
                                     <a href="javascript:void(0);" ng-click="downloadCSV();" title="export Disorder" align='right'  class="btn btn-primary btn-responsive">Export CSV</a>

                                </div>

                                <div class="pull-right2">
                                <div class="legend-block custom_Legend_320px">
                                    <span class="legend-label">Legend:</span>
                                    <span class="right">
                                      <span class="legend-desc"><i title="Active" class="green-legends fa fa-check"></i> Active</span>
                                      <span class="legend-desc"><i title="Inactive" class="red-legends fa fa-times"></i> Inactive</span>
                                      <span class="legend-desc"><i title="Edit" class="blue-legends fa fa-pencil"></i> Edit</span>
                                    </span>
                                </div>
                                </div>
                                <div class="clearfix"></div>
                               
                            </div>
                            <form role="form">
                                <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible"> 
                                    <colgroup>
                                        <col width="5%"/>
                                        <col width="5%"/>
                                        <col width="20%"/>
                                        <col width="20%"/>
                                        <!-- <col width="5%"/> -->
                                        <col width="10%"/>
                                    </colgroup>
                                    <tr ng-repeat = "options in $data">
                                        <td data-title ="'Select'" header="'headerCheckbox.html'">
                                            <input type='checkbox' ng-model="checkboxes.items[options._id]" ng-change="toggleSelection(options._id)" /> 
                                        </td>
                                           <td data-title="'Status'" sortable="'is_status'" align='left'><div ng-if="options.is_status==true"><img src='images/enable.png' border='0'></div><div ng-if="options.is_status==false"><img src='images/disable.png' border='0'></div></td>       
                                                                           
                                        <td data-title="'Answer Text'" sortable="'answer_text'" align="left">{{options.answer_text}}</span></td>
                                        
                                        <td data-title="'Answer Value'" sortable="'answer_value'" align="left">{{options.answer_value}}</span></td>

                                     

                                        <td data-title="'Actions'" align="left">
                                           <a href="/#/answers/edit/{{options._id}}" alt="Click to edit" title="Click to edit"><i class="actionIcons fa fa-pencil"></i></a>
                                           <!-- <a ng-if="options.enable" ng-click="disableAnswerOption(options._id,false);" alt="Click to Deactive" title="Click to Deactivate"><i class="actionIcons fa fa-ban"></i></a>
                                           <a ng-if="!options.enable" ng-click="disableAnswerOption(options._id,true);" alt="Click to Deactive" title="Click To Activate"><i class="actionIcons fa fa-ban"></i></a> -->
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan='6'>
                                            <div class="form-group">
                                                <select class="form-control selectedAction1" name='selectedAction' id='selectedAction'>
                                                    <option value="0">Select Status</option>
                                                    <option value="1">Active</option>
                                                    <option value="2">Inactive</option>
                                                </select> &nbsp;&nbsp;&nbsp;

                                                <input type='button' name='go' value='Go' class='btn btn-success' ng-click="performAction()">
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                
                            </form>  
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>
        </div>
    </section><!-- /.content -->
</aside><!-- /.right-side -->
<!-- page script -->
<script type="text/ng-template" id="headerCheckbox.html">
    <input type="checkbox" data-ng-click="toggleSelection(0)" ng-model="checkboxes.checked" class="select-all" value="" />
</script>